<div class="container">
  <div
    class="row text-center mx-auto d-flex justify-content-between pb-2"
  >
    <div
      class="col-xs-12 col-sm-6 col-md-6 col-lg-3 pb-2"
      (mouseover)="onButtonHover('Nuestra Compañía', true)"
      (mouseleave)="onButtonHover('Nuestra Compañía', false)"
    >
      <button id="compania" class="link-buttons">
        <div class="row m-0">
          <div id="compania-1" class="color-1-1"></div>
          <div id="compania-2" class="color-1-2"></div>
          <span id="compania-3" class="text-1 pr-2 text-buttons"
            >Nuestra<br /><strong>COMPAÑÍA</strong></span
          >
        </div>
      </button>
      <div id="compania-options" class="container-open-link-1">
        <div class="triangle-up"></div>
        <ul>
          <li routerLink="/nuestra-empresa/ubicacion" style="cursor: pointer;">
            <span>Ubicación</span><i class="fas fa-chevron-right"></i>
          </li>
          <li routerLink="/nuestra-empresa/quienes-somos" style="cursor: pointer;">
            <span>Quienes Somos</span><i class="fas fa-chevron-right"></i>
          </li>
          <li routerLink="/personas/cultura" style="cursor: pointer;">
            <span>Cultura</span><i class="fas fa-chevron-right"></i>
          </li>
          <li routerLink="/nuestra-empresa/historia" style="cursor: pointer;">
            <span>Historia</span><i class="fas fa-chevron-right"></i>
          </li>
          <li routerLink="/nuestra-empresa/propiedad" style="cursor: pointer;">
            <span>Propiedad</span><i class="fas fa-chevron-right"></i>
          </li>
          <li routerLink="/nuestra-empresa/equipo-ejecutivo" style="cursor: pointer;">
            <span>Equipo Ejecutivo</span><i class="fas fa-chevron-right"></i>
          </li>
          <li routerLink="/nuestra-empresa/gerencia" style="cursor: pointer;">
            <span>Gerencia / Superintendencias</span
            ><i class="fas fa-chevron-right"></i>
          </li>
          <li routerLink="/nuestra-empresa/proceso-productivo" style="cursor: pointer;">
            <span>Proceso Productivo</span><i class="fas fa-chevron-right"></i>
          </li>
          <li routerLink="/nuestra-empresa/politicas" style="cursor: pointer;">
            <span>Políticas</span><i class="fas fa-chevron-right"></i>
          </li>
          <li routerLink="/personas/comunidades" style="cursor: pointer;">
            <span>Comunidades</span><i class="fas fa-chevron-right"></i>
          </li>
          <a href="https://kghm.com/" target="_blank">
            <li style="cursor: pointer;">
              <span>KGHM</span><i class="fas fa-chevron-right"></i>
            </li>
          </a>
          <a href="http://www.smm.co.jp/E/" target="_blank">
            <li style="cursor: pointer;">
              <span>Sumitomo Metal Minning</span><i class="fas fa-chevron-right"></i>
            </li>
          </a>
          <a href="http://www.sumitomocorp.co.jp/english/" target="_blank">
            <li style="cursor: pointer;">
              <span>Sumitomo Corp</span><i class="fas fa-chevron-right"></i>
            </li>
          </a>
        </ul>
      </div>
    </div>
    <div
      class="col-xs-12 col-sm-6 col-md-6 col-lg-3 pb-4"
      (mouseover)="onButtonHover('Personas', true)"
      (mouseleave)="onButtonHover('Personas', false)"
    >
      <button id="personas" class="link-buttons">
        <div class="row m-0">
          <div id="personas-1" class="color-2-1"></div>
          <div id="personas-2" class="color-2-2"></div>
          <span id="personas-3" class="pr-2 text-2 text-buttons"
            ><strong>PERSONAS</strong></span
          >
        </div>
      </button>
      <div id="personas-options" class="container-open-link-2">
        <div class="triangle-up"></div>
        <ul>
          <li routerLink="/beneficios" style="cursor: pointer;">
            <span>Beneficios</span><i class="fas fa-chevron-right"></i>
          </li>
          <a href="#" target="_blank">
            <li style="cursor: pointer;">
              <span>Autoconsulta PAYROLL</span><i class="fas fa-chevron-right"></i>
            </li>
          </a>
          <a href="https://secure.ethicspoint.com/domain/media/es/gui/46370/index.html" target="_blank">
            <li style="cursor: pointer;">
              <span>Canal de Denuncias </span><i class="fas fa-chevron-right"></i>
            </li>
          </a>
          <li routerLink="/personas/cumpleanios" style="cursor: pointer;">
            <span>Cumpleaños</span><i class="fas fa-chevron-right"></i>
          </li>
          <li routerLink="/personas/persasg" style="cursor: pointer;">
            <span>Persa SG</span><i class="fas fa-chevron-right"></i>
          </li>
          <li routerLink="/chat" style="cursor: pointer;" class="shadow-sm">
            <span>Chat</span><i class="fas fa-chevron-right"></i>
          </li>
          <a href="#" target="_blank">
            <li style="cursor: pointer;">
              <span>Concursos Internos</span><i class="fas fa-chevron-right"></i>
            </li>
          </a>
          <!-- <li routerLink="/personas/portal" style="cursor: pointer;">
            <span>Portal de Videos</span><i class="fas fa-chevron-right"></i>
          </li>
          <li routerLink="/personas/revista" style="cursor: pointer;">
            <span>Revista</span><i class="fas fa-chevron-right"></i>
          </li> -->
        </ul>
      </div>
    </div>
    <div
      class="col-xs-12 col-sm-6 col-md-6 col-lg-3 pb-4"
      (mouseover)="onButtonHover('Aplicaciones', true)"
      (mouseleave)="onButtonHover('Aplicaciones', false)"
    >
      <button id="aplicaciones" class="link-buttons">
        <div class="row m-0">
          <div id="aplicaciones-1" class="color-3-1"></div>
          <div id="aplicaciones-2" class="color-3-2"></div>
          <span
            id="aplicaciones-3"
            class=" pr-2 text-3 text-buttons"
            >Aplicaciones y<br /><strong>HERRAMIENTAS</strong></span
          >
        </div>
      </button>
      <div id="aplicaciones-options" class="container-open-link-3">
        <div class="triangle-up"></div>
        <ul>
          <a href="https://jde/" target="_blank">
            <li style="cursor: pointer;">
            <span>JD Edwards  </span><i class="fas fa-chevron-right"></i>
            </li>
          </a>
          <a href="http://sgscm.sourcing.ariba.com/" target="_blank">
            <li style="cursor: pointer;">
              <span>SGSCM Sourcing Ariba</span><i class="fas fa-chevron-right"></i>
            </li>
          </a>
          <!-- <a href="http://sgscm.antirion.cl/" target="_blank">
            <li style="cursor: pointer;">
              <span>Gestión de Riesgo en Línea</span><i class="fas fa-chevron-right"></i>
            </li>
          </a> -->
          <!-- <a href="http://www.smm.co.jp/E/" target="_blank">
            <li style="cursor: pointer;">
              <span>Página Sumitomo Internet</span><i class="fas fa-chevron-right"></i>
            </li>
          </a> -->
          <!-- <a href="http://cobre/" target="_blank">
            <li style="cursor: pointer;">
              <span>Pagina KGHM Internet</span><i class="fas fa-chevron-right"></i>
            </li>
          </a> -->
          <li routerLink="/formularios-sg" style="cursor: pointer;" class="shadow-sm">
            <span>Formularios</span><i class="fas fa-chevron-right"></i>
          </li>
          <a href="http://sigasgscm.modafor.cl:443/mcasg/publico/p.jsp#Again-No-back-button" target="_blank">
            <li style="cursor: pointer;">
              <span>Monitoreo en Línea</span><i class="fas fa-chevron-right"></i>
            </li>
          </a>
          <!-- <a href="http://www.ngc.cl/login/" target="_blank">
            <li style="cursor: pointer;">
              <span>Sustancias Química</span><i class="fas fa-chevron-right"></i>
            </li>
          </a> -->

          <li routerLink="/branding-formatos" style="cursor: pointer;" class="shadow-sm">
            <span>Branding y Formatos</span><i class="fas fa-chevron-right"></i>
          </li>
        </ul>
      </div>
    </div>
    <div
      class="col-xs-12 col-sm-6 col-md-6 col-lg-3 pb-4"
      (mouseover)="onButtonHover('Mis Herramientas', true)"
      (mouseleave)="onButtonHover('Mis Herramientas', false)"
    >
      <button id="herramientas" class="link-buttons">
        <div class="row m-0">
          <div id="herramientas-1" class="color-4-1"></div>
          <div id="herramientas-2" class="color-4-2"></div>
          <span
            id="herramientas-3"
            class=" pr-2 text-4 text-buttons"
            ><strong>Programas</strong></span
          >
        </div>
      </button>
      <div id="herramientas-options" class="container-open-link-4">
        <div class="triangle-up"></div>
        <ul>
          <li routerLink="/te-reconozco" style="cursor: pointer;" class="shadow-sm">
            <span>Te Reconozco Por Estar</span><i class="fas fa-chevron-right"></i>
          </li>
          <a href="#" target="_blank">
            <li style="cursor: pointer;">
              <span>Gestión de Desempeño</span><i class="fas fa-chevron-right"></i>
            </li>
          </a>
          <li routerLink="/desafio-austeridad" style="cursor: pointer;" class="shadow-sm">
            <span>VCP Desafío Austeridad</span><i class="fas fa-chevron-right"></i>
          </li>
          <a href="#" target="_blank">
            <li style="cursor: pointer;">
              <span>Clima Laboral</span><i class="fas fa-chevron-right"></i>
            </li>
          </a>
        </ul>
      </div>
    </div>
  </div>
</div>
