.link-buttons {
  // Size
  width: 230px;
  height: 65px;

  // Font style
  line-height: 12pt;
  font-size: 12pt !important;

  // Margins and paddings
  margin-left: 0.5em;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  // padding-right: 10em;

  // Borders
  border: none;
  border-radius: 3px 50px 50px 3px !important;
  background-color: white;

  // Shadows
  -webkit-box-shadow: -1px 1px 15px -9px #000000;
  box-shadow: -1px 1px 15px -9px #000000;

  transition: box-shadow 0.5s;

  .text-buttons {
    width: 86%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

// Setting: Button's color
.color-buttons {
  height: 65px;
  margin-left: 0 !important;
  padding-left: 0.8em;
}

.color-1-1 {
  @extend .color-buttons;
  background-color: #ff671b;
}

.color-1-2 {
  @extend .color-buttons;
  background-color: #fa8f5b;
}

.text-1 {
  color: #ff671b;
}

.color-2-1 {
  @extend .color-buttons;
  background-color: #f9c836;
}

.color-2-2 {
  @extend .color-buttons;
  background-color: #fddc7a;
}

.text-2 {
  color: #facb3a;
}

.color-3-1 {
  @extend .color-buttons;
  background-color: #00a9b7;
}

.color-3-2 {
  @extend .color-buttons;
  background-color: #3fbac5;
}

.text-3 {
  color: #3fbac5;
}

.color-4-1 {
  @extend .color-buttons;
  background-color: #7fbb5a;
}

.color-4-2 {
  @extend .color-buttons;
  background-color: #99c87a;
}

.text-4 {
  color: #7eb959;
}

.generic-container {
  // Dimensions Setting
  width: 300px;
  // height: 384px;
  z-index: 10;
  top: 84%;
  right: -8%;
  border-radius: 10px;

   // Display Setting
   position: absolute;
   display: -ms-flexbox;
display: flex;
   flex-direction: column;
   align-items: center;

   ul {
    list-style-type: none;
    padding-left: 0;
    width: 93%;
    margin-top: 14px;
    margin-bottom: 4px;

    li {
      background-color: white;
      border-radius: 5px;
      margin-bottom: 0.6em;
      cursor: pointer;
      text-align: left;
      padding: .25em;
      padding-left: 10px;

      span {
        font-family: Calibri;
        font-size: 14pt;
        font-weight: 500;
        color: #868686
      }

      i {
        float: right;
        margin-top: 6px;
        color: #51D1E0;
        margin-right: 5px;
      }
    }

    li:hover {
      span {
        color: white;
      }
      i {
        color: white;
      }
    }
   }
}


.container-open-link-1 {
  @extend .generic-container;

  background-color: #FF5000 !important;
  visibility: hidden;


  .triangle-up {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 14px solid #FF5000;
    position: absolute;
    top: -13px;
  }

  ul {
    li:hover {
      background-color: #fa8f5b !important;
    }
  }

}

.container-open-link-2 {
  @extend .generic-container;

  background-color: #FFC500 !important;
  visibility: hidden;

  .triangle-up {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 14px solid #FFC500;
    position: absolute;
    top: -13px;
  }

  ul {
    li:hover {
      background-color: #ffa100 !important;
    }
  }
}

.container-open-link-3 {
  @extend .generic-container;

  background-color: #00A9B7;
  visibility: hidden;

  .triangle-up {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 14px solid #00A9B7;
    position: absolute;
    top: -13px;
  }

  ul {
    li:hover {
      background-color: #3fbac5 !important;
    }
  }
}

.container-open-link-4 {
  @extend .generic-container;

  background-color: #6ABE4A;
  visibility: hidden;

  .triangle-up {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 14px solid #6ABE4A;
    position: absolute;
    top: -13px;
  }

  ul {
    li:hover {
      background-color: #99c87a !important;
    }
  }
}
