$darkNavy: #213140;
$teal1: #66b3fb;
$teal2: #4b9dea;
$charcoal: #555555;
$gold: #b6985a;

$darkblue: #214083;
$green: #109147;
$yellow: #FCD902;
$orangestar: #ED5624;
$redestar: #DE1E26;

$activeShadow: 0 0 10px rgba($teal1, 0.5);

@mixin hideInput {
  width: 0;
  height: 0;
  position: absolute;
  left: -9999px;
}
@mixin breakpoint($point) {
  @if $point == 1100 {
    @media (max-width: 1100px) {
      @content;
    }
  } @else if $point == 800 {
    @media (max-width: 800px) {
      @content;
    }
  }
}

body:not(:-moz-handler-blocked) fieldset {
  display: table-cell;
}

/* TOGGLE STYLING */
.toggle {
  margin: 0 0 1.5rem;
  box-sizing: border-box;
  font-size: 0;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  input {
    @include hideInput;
  }
  input + label {
    /* padding: 0.75rem 2rem; */
    width: 50px;
    height: 50px;
    display: flex !important;
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
    border-radius: 100px !important;
    box-sizing: border-box;
    margin: 10px;
    box-sizing: border-box;
    position: relative;
    background-color: #fff;
    line-height: 140%;
    text-align: center;
    box-shadow: 0em 0rem 0.1rem rgba(0, 0, 0, 0.35);
    transition: border-color 0.15s ease-out, color 0.25s ease-out,
      background-color 0.15s ease-out, box-shadow 0.5s ease-out, opacity 0.5 cubic-bezier(0.755, 0.05, 0.855, 0.06);

    /* ADD THESE PROPERTIES TO SWITCH FROM AUTO WIDTH TO FULL WIDTH */
    // flex: 0 0 50%; display: -ms-flexbox;
display: flex; justify-content: center; align-items: center;
    /* ----- */
  }

  @include breakpoint(800) {
    input + label {
      padding: 0.75rem 0.25rem;
      flex: 0 0 50%;
      display: -ms-flexbox;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

label {
  user-select: none;
}

.estar-buttons {
  font-weight: 800 !important;
  // font-family: Calibri;
  font-size: 24pt !important;

  opacity: .6;

  &:hover {
    opacity: 1;
    box-shadow: 0em 0rem 0.2rem rgba(0, 0, 0, 0.35) !important;
  }

  &-active {
    opacity: 1;
    box-shadow: 0em 0rem 0.4rem rgba(0, 0, 0, 0.35) !important;
  }

  &-e {
    color: $darkblue;
  }
  &-s {
    color: $green;
  }
  &-t {
    color: $yellow;
  }
  &-a {
    color: $orangestar;
  }
  &-r {
    color: $redestar;
  }
}

.estar-dialog {
  min-height: 300px;
  max-height: 350px;
  border-radius: 10px;

  h6 {
    font-weight: 800;
    font-size: 15pt;
  }

  p {
    color: #8b8b8b;
    font-size: 11pt;
    font-weight: 500;
    line-height: 21pt;
    strong {
      font-style: normal;
      font-weight: 700 !important;

    }
  }

  &-texto-default {
    display: -ms-flexbox;
display: flex;
    flex-direction: column;
    justify-content: center;
    p {
      strong {
        font-style: normal;
        font-weight: 700 !important;

      }
    }

    div {
      span {
        margin: 0px 25px 0px 0px;
      }
    }

    span:nth-child(1) {
      color: $darkblue
    }

    span:nth-child(2) {
      color: $green
    }

    span:nth-child(3) {
      color: $yellow
    }

    span:nth-child(4) {
      color: $orangestar
    }

    span:nth-child(5) {
      color: $redestar
    }
  }

  &-texto-e {
    display: -ms-flexbox;
display: flex;
    flex-direction: column;
    justify-content: center;
    h6 {
      color: $darkblue;
    }
  }

  &-texto-s {
    display: -ms-flexbox;
display: flex;
    flex-direction: column;
    justify-content: center;
    h6 {
      color: $green;
    }
  }

  &-texto-t {
    display: -ms-flexbox;
display: flex;
    flex-direction: column;
    justify-content: center;
    h6 {
      color: $yellow;
    }
  }

  &-texto-a {
    display: -ms-flexbox;
display: flex;
    flex-direction: column;
    justify-content: center;
    h6 {
      color: $orangestar;
    }
  }

  &-texto-r {
    display: -ms-flexbox;
display: flex;
    flex-direction: column;
    justify-content: center;
    h6 {
      color: $redestar;
    }
  }
}
