<div class="container animated fadeInUpBig">
  <form #f="ngForm">
    <div class="row d-flex animated fadeIn">
      <div class="toggle w-100 d-flex justify-content-center">
        <input type="radio" name="estar"  #default="ngModel" ngModel value="default" id="estar-default" checked selected/>
        <!-- <label for="estar-default" *ngIf="f.value['estar'] !== 'default' && f.value['estar'] !== ''" class="estar-buttons estar-buttons-default"></label> -->
        <label for="estar-default" [ngClass]="{'estar-buttons-active': f.value['estar'] === '' || f.value['estar'] === 'default'}" class="estar-buttons estar-buttons-default">
          <img src="https://c3devapp.cl/sg/assets/img/img_logo_estar.png" (click)="valueSelected = 'default'" alt="" style="width: 40px; height: auto">
        </label>

        <input type="radio" name="estar" value="e" #estar="ngModel" ngModel  (click)="valueSelected = 'default'"id="estar-e"/>
        <label for="estar-e" [ngClass]="{'estar-buttons-active': f.value['estar'] === 'e'}" class="estar-buttons estar-buttons-e">E</label>

        <input type="radio" name="estar" value="s" #estar="ngModel" ngModel  (click)="valueSelected = 'default'"id="estar-s"/>
        <label for="estar-s" [ngClass]="{'estar-buttons-active': f.value['estar'] === 's'}" class="estar-buttons estar-buttons-s">S</label>

        <input type="radio" name="estar" value="t" #estar="ngModel" ngModel  (click)="valueSelected = 'default'"id="estar-t"/>
        <label for="estar-t" [ngClass]="{'estar-buttons-active': f.value['estar'] === 't'}" class="estar-buttons estar-buttons-t">T</label>

        <input type="radio" name="estar" value="a" #estar="ngModel" ngModel  (click)="valueSelected = 'default'"id="estar-a"/>
        <label for="estar-a" [ngClass]="{'estar-buttons-active': f.value['estar'] === 'a'}" class="estar-buttons estar-buttons-a">A</label>

        <input type="radio" name="estar" value="r" #estar="ngModel" ngModel id="estar-r"/>
        <label for="estar-r" [ngClass]="{'estar-buttons-active': f.value['estar'] === 'r'}" class="estar-buttons estar-buttons-r">R</label>

      </div>
    </div>
  </form>
  <br>
  <div class="row d-flex justify-content-center">
    <div class="col-lg-10">
      <div class="estar-dialog shadow m-4 p-4 w-100 h-100 animated fadeIn">
        <ng-container *ngTemplateOutlet="
          f.value['estar'] === '' || f.value['estar'] === 'default' ? tEstarD:
          f.value['estar'] === 'e' ? tEstarE :
          f.value['estar'] === 's' ? tEstarS :
          f.value['estar'] === 't' ? tEstarT :
          f.value['estar'] === 'a' ? tEstarA :
          f.value['estar'] === 'r' ? tEstarR : ''
        ">
        </ng-container>
      </div>
    </div>
  </div>

</div>

<ng-template #tEstarD>
  <div class="row h-100 animated fadeIn">
    <div class="col-lg-8 col-md-8 col-sm-12 h-100 estar-dialog-texto-default">
      <p>
          Los valores <strong>ESTAR</strong> son parte de lo que integramos en cada uno de nuestros
          trabajos, y se compone del <strong>enfoque en los resultados</strong>, la <strong>seguridad</strong>, el <strong>trabajo en
          equipo</strong>, la <strong>austeridad</strong>, y la <strong>rectitud</strong> e <strong>integridad</strong>.
      </p>
      <div>
        <span><i class="fas fa-circle"></i></span>
        <span><i class="fas fa-circle"></i></span>
        <span><i class="fas fa-circle"></i></span>
        <span><i class="fas fa-circle"></i></span>
        <span><i class="fas fa-circle"></i></span>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 d-flex align-items-center">
      <img src="https://c3devapp.cl/sg/assets/img/img_logo_estar.png" alt="" class="img-fluid">
    </div>
  </div>
</ng-template>

<ng-template #tEstarE>
  <div class="row h-100 animated fadeIn">
    <div class="col-lg-8 col-md-8 col-sm-12 h-100 estar-dialog-texto-e">
      <h6>ENFOQUE EN LOS RESULTADOS</h6>
      <br>
      <p>
        Trabajamos por los <strong>objetivos de la compañía</strong>, debemos conocerlos y saber cómo aportamos e impactamos desde nuestra posición a los resultados globales.
      </p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 d-flex align-items-center">
      <img src="https://c3devapp.cl/sg/assets/img/img_valor_resultado.png" alt="" class="img-fluid">
    </div>
  </div>
</ng-template>

<ng-template #tEstarS>
  <div class="row h-100 animated fadeIn">
    <div class="col-lg-8 col-md-8 col-sm-12 h-100 estar-dialog-texto-s">
      <h6>SEGURIDAD</h6>
      <br>
      <p>
        Predicar y practicar la seguridad es nuestra tarea de cada día, tenemos normas y exigencias que respetar, pero <strong>es nuestro compromiso cuidarnos y cuidar a los demás</strong>.
      </p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 d-flex align-items-center">
      <img src="https://c3devapp.cl/sg/assets/img/img_valor_seguridad.png" alt="" class="img-fluid">
    </div>
  </div>
</ng-template>

<ng-template #tEstarT>
  <div class="row h-100 animated fadeIn">
    <div class="col-lg-8 col-md-8 col-sm-12 h-100 estar-dialog-texto-t">
      <h6>TRABAJO EN EQUIPO</h6>
      <br>
      <p>
        Todo en Sierra Gorda SCM somos una gran red, que va más allá de nuestro propio equipo. Somos interdependientes, necesitamos <strong>conocernos, conectarnos y apoyarnos cada día para lograr nuestros objetivos</strong>.
      </p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 d-flex align-items-center">
      <img src="https://c3devapp.cl/sg/assets/img/img_valor_trabajo_equipo.png" alt="" class="img-fluid">
    </div>
  </div>
</ng-template>

<ng-template #tEstarA>
  <div class="row h-100 animated fadeIn">
    <div class="col-lg-8 col-md-8 col-sm-12 h-100 estar-dialog-texto-a">
      <h6>AUSTERIDAD</h6>
      <br>
      <p>
        <strong>Optimizar los recursos y los conocimientos de tu equipo con inteligencia y responsabilidad.</strong> Si utilizamos cada vez mejor los recursos de la compañía, se facilitará el logro de los objetivos.
      </p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 d-flex align-items-center">
      <img src="https://c3devapp.cl/sg/assets/img/img_valor_austeridad.png" alt="" class="img-fluid">
    </div>
  </div>
</ng-template>

<ng-template #tEstarR>
  <div class="row h-100 animated fadeIn">
    <div class="col-lg-8 col-md-8 col-sm-12 h-100 estar-dialog-texto-r">
      <h6>RECTITUD E INTEGRIDAD</h6>
      <br>
      <p>
        <strong>Ser consistente, responsable y pensar</strong> en el interés colectivo y de la compañía en nuestros actos, que prueban a diario nuestra calidad personal.
      </p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 d-flex align-items-center">
      <img src="https://c3devapp.cl/sg/assets/img/img_valor_rectitud.png" alt="" class="img-fluid">
    </div>
  </div>
</ng-template>
