<app-navbar-ext></app-navbar-ext><br />
<div style="height: 50px"></div>
<app-links></app-links>
<br />
<div class="container">
  <div class="form">
    <div class="form-titulo">
      <h1>Formularios</h1>
    </div>
    <br>
    <table mdbTable striped="true" borderless="true">
        <thead>
          <tr>
            <th scope="col">Nombre Formulario</th>
            <th scope="col">Enlace de Acceso</th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol>
            <td>Formulario Alta Usuario JDE</td>
            <td><a style="color: #00A9B7;" href="http://cjcsgweb01:8008/Escritorio/SolicitudAltaUsuarioJDE/Lists/FormularioAltaUsuarioJDE/Mis%20solicitudes.aspx" (click)="ga.onFormularioClick('Formulario Alta Usuario JDE')">Haz clic aquí</a></td>
          </tr>
          <tr mdbTableCol>
            <td>Formulario de Solictud de transporte y movimiento interno</td>
            <td><a style="color: #00A9B7;" href="http://cjcsgweb01:8008/AreasTrabajo/TIC/FormularioTransporte/Lists/FormularioTransporte/" (click)="ga.onFormularioClick('Formulario de Solictud de transporte y movimiento interno')">Haz clic aquí</a></td>
          </tr>
          <tr mdbTableCol>
            <td>Formulario Solicitud Baja Bien Activo</td>
            <td><a style="color: #00A9B7;" href="http://cjcsgweb01:8008/Escritorio/SBBAF/Lists/Solicitud%20Baja%20Bienes%20Activo%20Fijo/AllItems.aspx" (click)="ga.onFormularioClick('Formulario Solicitud Baja Bien Activo')">Haz clic aquí</a></td>
          </tr>
          <tr mdbTableCol>
            <td>Formulario Solicitud Aprobación Vacante Nivel</td>
            <td><a style="color: #00A9B7;" href="http://cjcsgweb01:8008/Escritorio/AVN/Lists/Formulario%20RRHH/AllItems.aspx" (click)="ga.onFormularioClick('Formulario Solicitud Aprobación Vacante Nivel')">Haz clic aquí</a></td>
          </tr>
          <tr mdbTableCol>
            <td>Formulario Cierre Proyecto</td>
            <td><a style="color: #00A9B7;" href="http://cjcsgweb01:8008/Escritorio/Form%20Cierre%20Proyecto/Lists/Formulario%20Cierre%20Proyecto/AllItems.aspx" (click)="ga.onFormularioClick('Formulario Cierre Proyecto')">Haz clic aquí</a></td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
<app-footer-s></app-footer-s>
