<div class="container">
  <div class="row pb-4 animated fadeInLeftBig">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h1>Propiedad</h1>
      <p class="subtitle">
        <strong class="orange-text"
          >Los porcentajes de participación de <br />
          las compañías, son los siguientes:</strong
        >
      </p>
    </div>
  </div>
  <div class="row animated fadeInUpBig">
    <div class="col-lg-6 col-md-12 col-sm-12">
      <img src="https://c3soporte00400.cl/sg/assets/img/img_propiedad.png" alt="" class="img-fluid">
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
      <ul>
        <li>
          El Proyecto <span class="orange-text bold">Sierra Gorda</span> es el resultado de un Joint Venture entre la
          compañía polaca KGHM Polska Miedz, a través de su subsidiaria KGHMI, y
          las japonesas Sumitomo Metal Mining y Sumitomo Corporation.
        </li>
        <li>
          <a class="orange-strong-text bold" href="https://kghm.com/" target="_blank" (click)="ga.onPropiedadClick('KGHM Polska Miedz')">KGHM Polska Miedz</a> es una de las compañías más grandes de Polonia, con
          oficinas centrales ubicadas en la ciudad de Lubin. Somos un productor
          mundial de cobre y plata con más de 50 años de experiencia.
        </li>
        <li>
          <a class="light-blue-text bold" href="http://www.smm.co.jp/E/" target="_blank" (click)="ga.onPropiedadClick('Sumitomo Metal Mining')">Sumitomo Metal Mining</a> es el tercer productor mundial de cobre y el
          productor más grande de nickel y oro en Japón. Las oficinas centrales
          de la compañía están ubicadas en Tokyo.
        </li>
        <li>
          <a class="calipso-text bold" href="https://www.sumitomocorp.com/en/jp" target="_blank" (click)="ga.onPropiedadClick('Sumitomo Corporation')">Sumitomo Corporation</a> está dedicada al marketing de productos de varias
          industrias, incluyendo a la industria minera. Es una de las 8
          compañías más grandes de Japón y tiene sus oficinas centrales ubicadas
          en Tokyo.
        </li>
      </ul>
    </div>
  </div>
</div>
