<div class="content">
  <div class="content-header">
    <i class="fas fa-chevron-circle-left cursor" routerLink="../"></i>
    <img src="https://c3devapp.cl/sg/assets/img/seguridad/Comite_Paritario.png" alt="">
    <h6 class="paritario">Comité Paritario<br><span>Faena SG SCM</span></h6>
  </div>

  <div class="content-body body-paritario">
    <p class="body-text">
      El comité paritario de faena está enfocado en apoyar a todos los trabajadores de Sierra Gorda SCM sobre la <strong>correcta utilización de los equipos de protección personal</strong> y vigilar el <strong>cumplimiento de las medidas de prevención, higiene y seguridad</strong> de la Compañía. Además, desarrollar campañas de higiene y seguridad de manera activa en investigaciones de incidentes, para definir si el accidente o la enfermedad profesional se debió a degligencia inexcusable del trabajador.
      <br><br>
      Todos los integrandes del comité paritario, <strong>están dispuestos a escuchar y plantear soluciones en materia de prevención</strong>, higiene y seguridad, el fin del cumplir con nuestro valor de Seguridad y contribuir al Cero Daño. <br>
    </p>
    <br>
    <div class="body-box">
      <div class="body-box-container shadow">
        <div class="body-box-header">
          <div class="row">
            <div class="col-md-7">REPRESENTANTES TRABAJADORES</div>
            <div class="col-md-5">SUPLENTES</div>
          </div>
        </div>
        <div class="body-box-list">
          <div class="row">
            <div class="col-md-7">
              <span class="list-dot">•</span>  Guadalupe Cortés Rodriguez <br>
              <span class="list-dot">•</span>  Luis Godoy Pizarro <br>
              <span class="list-dot">•</span>  Mauricio Vicencio Gonzáles <br>
            </div>
            <div class="col-md-5">
              <span class="list-dot">•</span>  Cristian Salinas Villalobos <br>
              <span class="list-dot">•</span>  Joel Leiva Pacheco <br>
              <span class="list-dot">•</span>  Octavio Cáceres Castillo <br>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="body-box">
      <div class="body-box-container shadow">
        <div class="body-box-header">
          <div class="row">
            <div class="col-md-7">REPRESENTANTES EMPRESA</div>
            <div class="col-md-5">SUPLENTES</div>
          </div>
        </div>
        <div class="body-box-list">
          <div class="row">
            <div class="col-md-7">
              <span class="list-dot">•</span>  Luis Poblete Guzmán <br>
              <span class="list-dot">•</span>  Hubert González González <br>
              <span class="list-dot">•</span>  Juan Castillo Páez <br>
            </div>
            <div class="col-md-5">
              <span class="list-dot">•</span>  Manuel Vega Carvajal <br>
              <span class="list-dot">•</span>  Pedro Cortés Abarcia <br>
              <span class="list-dot">•</span>  Luis Erices Inostroza <br>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="body-footer">
      Para consultas o sugerencias, favor contactar vía correo electrónico al mail <a href="mailto:comite.paritariohs@sgscm.cl">comite.paritariohs@sgscm.cl</a>
    </p>
</div>
