<div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12  animated fadeInLeftBig">
        <h1  style="user-select: none">Historia</h1>
        <p class="subtitle"  style="user-select: none">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam ad cum doloremque. Nihil alias similique minus dignissimos? Blanditiis aperiam quis qui quaerat enim. Deserunt quasi fugit exercitationem, minima delectus voluptate.</p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 animated fadeInRightBig">
      </div>
    </div>

    <div class="row">
      <input type="radio" name="estar" id="estar-e">
      <input type="radio" name="estar" id="estar-s">
      <input type="radio" name="estar" id="estar-t">
      <input type="radio" name="estar" id="estar-a">
      <input type="radio" name="estar" id="estar-r">
    </div>
</div>
