h1 {
  font-weight: 800;
  color: #5a5a5a;
  font-size: 35pt;
}

.orange-text {
  color: #FF5900 !important
}

.subtitle {
  strong {
    font-weight: 600 !important;
  }
  font-size: 13pt;
  font-weight: 400;
  color: #5a5a5a;

}
