<ng-container *ngIf="ps.selectedItem">
  <!-- Slider Imágenes -->
  <div class="ms-partialview-template" id="partial-view-1">
    <!-- masterslider -->
    <div class="master-slider ms-skin-default m-4" id="persaSlider">
      <ng-container *ngFor="let foto of ps.selectedItem.imagenes">
        <div class="ms-slide">
          <img
            src="assets/masterslider/style/blank.gif"
            data-src="{{ foto.url }}"
            alt="lorem ipsum dolor sit"
          />
        </div>
      </ng-container>

      <!-- <div class="ms-slide">
        <img
          src="assets/masterslider/style/blank.gif"
          data-src="https://acs2.blob.core.windows.net/imgcatalogo/l/VA_a3dd9508ec53446e9da3aa25fc836dcd.jpg"
          alt="lorem ipsum dolor sit"
        />
      </div>
      <div class="ms-slide">
        <img
          src="assets/masterslider/style/blank.gif"
          data-src="https://acs2.blob.core.windows.net/imgcatalogo/l/VA_a3dd9508ec53446e9da3aa25fc836dcd.jpg"
          alt="lorem ipsum dolor sit"
        />
      </div>
      <div class="ms-slide">
        <img
          src="assets/masterslider/style/blank.gif"
          data-src="https://acs2.blob.core.windows.net/imgcatalogo/l/VA_a3dd9508ec53446e9da3aa25fc836dcd.jpg"
          alt="lorem ipsum dolor sit"
        />
      </div> -->
    </div>
  </div>
  <!-- fin slider -->

  <div class="container">
    <div class="persa mb-4">
      <h6 class="persa-title">
        {{ ps.selectedItem.nombre }}
      </h6>
      <p class="persa-description">
        {{ ps.selectedItem.descripcion }}
      </p>
      <p class="persa-price">
        $
        <span class="p-2 bg-white">
          {{ ps.selectedItem.valor | number }}
        </span>
      </p>
    </div>
    <div class="user-info">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2">
          <img
            src="https://c3devapp.cl/sg/assets/img/img-02.png"
            class="img-fluid"
            style="border-radius: 100px; width: 88px; height: 88px;"
            alt=""
          />
        </div>
        <div class="col-10 p-0">
          <div class="row m-0 p-0">
            <div class="col-lg-12 col-sm-12 col-sm-12">
              <h6 class="user-info-name">
                {{ ps.selectedItem.contacto.primer_nombre_usuario }} <br />
                {{ ps.selectedItem.contacto.apellido_pat_usuario + ' ' + ps.selectedItem.contacto.apellido_mat_usuario }}
              </h6>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12">
              <h6 class="user-info-desc">
                {{ ps.selectedItem.contacto.nombre_cargo }} <br />
                Sierra Gorda
              </h6>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <h6 class="user-info-desc">
                Telefono: {{ ps.selectedItem.contacto.telefono_usuario }}<br />
                Correo: {{ ps.selectedItem.contacto.correo_usuario }}
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="buy">
      <div class="buy-quant">
        <div (click)="quant.value = plus(quant.value, -1)" class="plus cursor">-</div>
        <input type="number" #quant id="" min="1" [max]="ps.selectedItem.cantidad_disponible" value="0">
        <div (click)="quant.value = plus(quant.value, 1)" class="plus mr-4 cursor">+</div>
      </div>
      <div class="b-div cursor" (click)="buy(quant.value)">
        <span> ¡Comprar! <i class="fas fa-shopping-cart"></i> </span>
      </div>
    </div>
  </div>
</ng-container>
