$darkBlueSG: #00A5B6;

.persa {
  &-title {
    font-weight: 600;
    font-size: 17pt;
    color: white;
    margin-top: 5px;
    user-select: none;
  }

  &-description {
    color: white;
    font-weight: 400;
    user-select: none;
    font-family: Calibri;
    font-size: 16pt;
  }

  &-price {
    text-align: left;
    font-weight: 800;
    color: white;
    font-size: 16pt;
    user-select: none;

    span {
      margin-left: 2px;
      color: #5c5c5c;
      border-radius: 20px;
      padding-left: 17px !important;
      padding-right: 17px !important;
      font-size: 12pt;
      user-select: none;
    }
  }
}

.user-info {
  background-color: $darkBlueSG;
  padding: 20px 5px;
  border-radius: 10px;
  &-name {
    font-weight: 700;
    color: white;
  }
  &-desc {
    font-weight: 500;
    color: white;
    font-size: 11pt;
  }
}

.buy {
  display: -ms-flexbox;
  display: flex;
  // flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  &-quant {
    display: flex;

    .plus {
      border-radius: 50%;
      background-color: #ff5900;
      color: white;
      width: 26px;
      height: 26px;
      text-align: center;
      font-size: 20pt;
      line-height: 20pt;
      font-weight: 600;
      user-select: none;
    }
    input {
      border: none;
      border-radius: 50px;
      width: 50px;
      background-color: white;
      margin: 0px 5px;
      text-align: center;
      width: 40px;
    }
  }

  div.b-div {
    padding: 5px 15px;
    margin: 15px 0px;
    background-color: #ff5900;
    border-radius: 20px;
    span {
      color: white;
      font-weight: 500
    }
  }
}
