<!-- Slider Imágenes -->
<div class="ms-partialview-template" id="partial-view-1">
  <!-- masterslider -->
  <div class="master-slider ms-skin-default m-4" id="persaSlider">
    <!-- <ng-container *ngIf="gs.galleryList">
      <div class="ms-slide" *ngFor="let news of gs.galleryList; let i = index">
        <img
          src="assets/masterslider/style/blank.gif"
          data-src="{{ news.url_img_noticia }}"
          alt="lorem ipsum dolor sit"
        />
        <div class="ms-layer ms-caption" style=" left:30px;">
          <p>
            <span>
              {{ news.fecha_creacion_noticia.getDate() }}
              <br />
              <small>
                {{ monthShortM[news.fecha_creacion_noticia.getMonth()] }}
              </small></span>
          </p>
          <div class="row m-0">
            <div class="color-1-1"></div>
            <div class="color-1-2"></div>
            <div>
              <h4 class="pt-3 pl-3">
                <strong>{{ news.titulo_1 }}</strong><br /><span
                  >{{ news.titulo_2 }}</span
                >
              </h4>
          </div>
          </div>
        </div>
      </div>
    </ng-container> -->
    <div class="ms-slide">
      <img
        src="assets/masterslider/style/blank.gif"
        data-src="https://acs2.blob.core.windows.net/imgcatalogo/l/VA_a3dd9508ec53446e9da3aa25fc836dcd.jpg"
        alt="lorem ipsum dolor sit"
      />
    </div>
    <div class="ms-slide">
      <img
        src="assets/masterslider/style/blank.gif"
        data-src="https://acs2.blob.core.windows.net/imgcatalogo/l/VA_a3dd9508ec53446e9da3aa25fc836dcd.jpg"
        alt="lorem ipsum dolor sit"
      />
    </div>
    <div class="ms-slide">
      <img
        src="assets/masterslider/style/blank.gif"
        data-src="https://acs2.blob.core.windows.net/imgcatalogo/l/VA_a3dd9508ec53446e9da3aa25fc836dcd.jpg"
        alt="lorem ipsum dolor sit"
      />
    </div>
    <div class="ms-slide">
      <img
        src="assets/masterslider/style/blank.gif"
        data-src="https://acs2.blob.core.windows.net/imgcatalogo/l/VA_a3dd9508ec53446e9da3aa25fc836dcd.jpg"
        alt="lorem ipsum dolor sit"
      />
    </div>
  </div>
</div>
<!-- fin slider -->

<div class="container">
  <div class="persa mb-4">
    <h6 class="persa-title">
      Nombre de referencia
    </h6>
    <p class="persa-description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, a porro. Architecto est, ratione culpa repellendus non voluptatibus saepe quidem nisi autem, veniam reprehenderit neque laboriosam tempora modi? Atque, quas.
    </p>
    <p class="persa-price">
      $
      <span class="p-2 bg-white">
        {{ 15000000 | number }}
      </span>
    </p>
  </div>
  <div class="user-info">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-2">
        <img src="https://c3devapp.cl/sg/assets/img/img-02.png" class="img-fluid" style="border-radius: 100px; width: 88px; height: 88px;" alt="">
      </div>
      <div class="col-10 p-0">
        <div class="row m-0 p-0">
          <div class="col-lg-12 col-sm-12 col-sm-12">
            <h6 class="user-info-name">
            Nombres <br>
            Apellidos
            </h6>
          </div>
          <div class="col-lg-5 col-md-5 col-sm-12">
            <h6 class="user-info-desc">
              Operador Equipos Mina B <br>
              Sierra Gorda
            </h6>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <h6 class="user-info-desc">
              Telefono: +56921345677<br/>
              Correo: micorreo@email.com
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="buy">
    <div>
      <span>
        ¡Comprar! <i class="fas fa-shopping-cart"></i>
      </span>
    </div>
  </div>
</div>

