<mdb-carousel class="carousel carousel-fade pl-2 pr-2" [animation]="'fade'" [isControls]="true">

  <mdb-carousel-item>
    <div class="row w-100 m-0 p-0">
      <div class="card-birthday col-lg-6 col-md-6 col-sm-12">
        <div class="row pb-2">
          <div class="col-md-3 col-sm-3 pl-0 pr-0">
            <img class="img-fluid" src="https://c3devapp.cl/sg/assets/img/img-02.png" />
          </div>
          <div class="col-md-9 col-sm-9 pr-0">
            <h5 class="name-card">Freddy Osvaldo <br> Gómez Rojas</h5>
            <h6 class="desc-card">Operador Equipos Mina B</h6>
            <h6 class="desc-card">Sierra Gorda</h6>
          </div>
        </div>
      </div>
      <div class="card-birthday col-lg-6 col-md-6 col-sm-12">
        <div class="row pb-2">
          <div class="col-md-3 col-sm-3 pl-0 pr-0">
            <img class="img-fluid" src="https://c3devapp.cl/sg/assets/img/img-01.png" />
          </div>
          <div class="col-md-9 col-sm-9 pr-0">
            <h5 class="name-card">Luis Alejandro <br> Galleguillos Barraza</h5>
            <h6 class="desc-card">Operador Equipos Mina C</h6>
            <h6 class="desc-card">Sierra Gorda</h6>
          </div>
        </div>
      </div>
      <div class="card-birthday col-lg-6 col-md-6 col-sm-12">
        <div class="row pb-2">
          <div class="col-md-3 col-sm-3 pl-0 pr-0">
            <img class="img-fluid" src="https://c3devapp.cl/sg/assets/img/img-03.png" />
          </div>
          <div class="col-md-9 col-sm-9 pr-0">
            <h5 class="name-card">Wilson Andrés <br> Cortés Rojas</h5>
            <h6 class="desc-card">Jefe de Turno Mantención</h6>
            <h6 class="desc-card">Sierra Gorda</h6>
          </div>
        </div>
      </div>
      <div class="card-birthday col-lg-6 col-md-6 col-sm-12">
        <div class="row pb-2">
          <div class="col-md-3 col-sm-2 pl-0 pr-0">
            <img class="img-fluid" src="https://c3devapp.cl/sg/assets/img/img-04.png" />
          </div>
          <div class="col-md-9 col-sm-9 pr-0">
            <h5 class="name-card">Juan Raúl <br> Bustamante López</h5>
            <h6 class="desc-card">Operador Planta B</h6>
            <h6 class="desc-card">Sierra Gorda</h6>
          </div>
        </div>
      </div>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="row w-100 m-0 p-0">
      <div class="card-birthday col-lg-6 col-md-6 col-sm-12">
        <div class="row pb-2">
          <div class="col-md-3 col-sm-3 pl-0 pr-0">
            <img class="img-fluid" src="https://c3devapp.cl/sg/assets/img/img-02.png" />
          </div>
          <div class="col-md-9 col-sm-9 pr-0">
            <h5 class="name-card">Freddy Osvaldo <br> Gómez Rojas</h5>
            <h6 class="desc-card">Operador Equipos Mina B</h6>
            <h6 class="desc-card">Sierra Gorda</h6>
          </div>
        </div>
      </div>
      <div class="card-birthday col-lg-6 col-md-6 col-sm-12">
        <div class="row pb-2">
          <div class="col-md-3 col-sm-3 pl-0 pr-0">
            <img class="img-fluid" src="https://c3devapp.cl/sg/assets/img/img-01.png" />
          </div>
          <div class="col-md-9 col-sm-9 pr-0">
            <h5 class="name-card">Luis Alejandro <br> Galleguillos Barraza</h5>
            <h6 class="desc-card">Operador Equipos Mina C</h6>
            <h6 class="desc-card">Sierra Gorda</h6>
          </div>
        </div>
      </div>
      <div class="card-birthday col-lg-6 col-md-6 col-sm-12">
        <div class="row pb-2">
          <div class="col-md-3 col-sm-3 pl-0 pr-0">
            <img class="img-fluid" src="https://c3devapp.cl/sg/assets/img/img-03.png" />
          </div>
          <div class="col-md-9 col-sm-9 pr-0">
            <h5 class="name-card">Wilson Andrés <br> Cortés Rojas</h5>
            <h6 class="desc-card">Jefe de Turno Mantención</h6>
            <h6 class="desc-card">Sierra Gorda</h6>
          </div>
        </div>
      </div>
      <div class="card-birthday col-lg-6 col-md-6 col-sm-12">
        <div class="row pb-2">
          <div class="col-md-3 col-sm-2 pl-0 pr-0">
            <img class="img-fluid" src="https://c3devapp.cl/sg/assets/img/img-04.png" />
          </div>
          <div class="col-md-9 col-sm-9 pr-0">
            <h5 class="name-card">Juan Raúl <br> Bustamante López</h5>
            <h6 class="desc-card">Operador Planta B</h6>
            <h6 class="desc-card">Sierra Gorda</h6>
          </div>
        </div>
      </div>
    </div>
  </mdb-carousel-item>

</mdb-carousel>
