<div class="animated fadeIn m-0 p-0">
  <div class="row m-0 content-nav">
    <span class="mr-2" routerLink="../">Finanzas</span> <span> > Gerencia Mejoramiento del Negocio</span>
  </div>

  <div class="row content-description-container">
    <div class="col-lg-6 col-md-6 col-sm-12 ml-0 pl-0 content-description-content">
      <h1>Gerencia Mejoramiento del Negocio</h1>
      <p>
        Departamento responsable de la generación y resguardo del presupuesto anual de la
        compañía, forecast mensual y otras proyecciones financieras. Junto con el control y
        seguimiento de iniciativas relacionadas con programas de mejoramiento del negocio
        presente en programa de Creación de Valor (VCP). Así como también, liderar el programa
        BMS (Bussines Managment System) con enfoque en optimización de procesos dentro de
        compañía usando herramientas Lean, orientado a promover la comunicación, trabajo en
        equipo y enfoque en mejora continua.
      </p>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 ml-0 pl-0 content-description-content-english">
      <span>English Version</span>
      <p>
        Department responsible for generating and safeguarding the company's annual budget,
        monthly forecast and other financial projections. In addition, control and monitor
        initiatives related to business improvement programs present in the Value Creation
        Program (VCP). Also, lead the BMS program (Bussines Managment System) with a focus
        on process optimization within the company using Lean tools, aimed at promoting
        communication, teamwork and focus on continuous improvement.
      </p>
    </div>
  </div>
</div>
