<div class="d-flex justify-content-between">
  <h3 class="chat-title">Chat</h3>
  <div class="close">
    <!-- <i class="fas fa-times" (click)="onQuit.emit(false)"></i> -->
  </div>
</div>
<br />
<div class="container-fluid chat-container">
  <app-card
    *ngFor="let user of faker"
    [user]="user"
    (click)="chatSelect(user.id)"
  ></app-card>
</div>

<div class="message-icon" (click)="onQuit.emit(false)">
  <img
    src="assets/img/chat.png"
    class="img-fluid float-right mt-4 pr-4"
    style=" cursor: pointer;
            position: absolute;
            bottom: 30px;
            right: 5px;
    "
    alt=""
    width="70px"
    height="70px"
    matTooltip="Click para cerrar"
    matTooltipPosition="before"
    matTooltipClass="orange-tooltip"
  />
</div>
