.chat-title {
  color: white;
  font-weight: 900 !important;
  padding-top: 1em;
  padding-left: .6em;
}

.chat-container {
  height: 70%;
  overflow-y: scroll;
  margin-right: 5px;
}

.chat-container {
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px #ccc; */
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: #3d753b !important;
    border-radius: 0px !important;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #ff661f;
  }
}

.message-icon {
  width: 100% !important;
  height: 100px !important;
}
