<div class="d-flex justify-content-between">
  <h3 class="chat-title">Chat</h3>
  <div class="d-flex">
    <span class="select-category-text">
      {{ categoryText }}
    </span>
    <div class="select-category">
        <div [ngClass]="{'select-category-active': isFavorites}" (click)="setFavorites()" style="cursor: pointer;">
            <i class="fas fa-star"></i>
        </div>
        <div [ngClass]="{'select-category-active': isRecent}" (click)="setRecent()" style="cursor: pointer;">
            <i class="fas fa-history"></i>
        </div>
      </div>
  </div>
</div>
<br />

<ng-container *ngIf="cs.chatList">
  <div class="container-fluid chat-container">
    <app-card
      *ngFor="let chat of cs.chatList"
      [chat]="chat"
      (click)="chatSelect(chat)"
    ></app-card>
  </div>
</ng-container>

<div class="message-icon" (click)="onQuit.emit(false)">
  <img
    src="https://c3devapp.cl/sg/assets/img/chat.png"
    class="img-fluid float-right mt-4 pr-4"
    style=" cursor: pointer;
            position: absolute;
            bottom: 30px;
            right: 5px;
    "
    alt=""
    width="70px"
    height="70px"
    matTooltip="Click para cerrar"
    matTooltipPosition="before"
    matTooltipClass="orange-tooltip"
  />
</div>
