<div class="d-flex justify-content-between">
  <h3 class="chat-title">Chat</h3>
  <div class="close">
    <i class="fas fa-times" (click)="onQuit.emit(false)"></i>
  </div>
</div>
<br />
<div class="container-fluid chat-container">
  <app-card
    *ngFor="let user of faker"
    [user]="user"
    (click)="chatSelect(user.id)"
  ></app-card>
</div>

<div class="message-icon" (click)="onQuit.emit(false)">
  <img
    src="assets/img/message.png"
    class="img-fluid float-right pt-4 pr-4"
    alt=""
    width="70px"
    height="70px"
  />
</div>
