<div class="d-flex justify-content-between container">
  <h3 class="poll-title">Contactos</h3>
  <div class="close m-0">
    <!-- <i class="fas fa-times-circle" (click)="onQuit.emit(false)"></i> -->
  </div>
</div>
<br />
<div class="container poll-container">
  <div class="search-container">
    <div class="pt-1"><span>Buscar</span></div>
    <div class="pb-2">
      <img src="assets/img/navbar-home/5.png" alt="" style="width: 30px; height: 30px; margin-top: -2px; cursor: pointer" (click)="toggleOptions()">
    </div>
  </div>
  <div class="inner">
    <div class="pb-2"  id="options">
      <div>
        <select class="custom-select" #cargoSelect>
          <option selected value="0">Cargos</option>
          <option *ngFor="let cargo of CARGOS" [value]="cargo">{{ cargo }}</option>
        </select>
      </div>
      <div class="ml-2">
        <select class="custom-select" #lugarSelect>
          <option selected value="0">Lugar de trabajo</option>
          <option *ngFor="let lugar of LUGARES" [value]="lugar">{{ lugar }}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="pb-2">
    <input type="text" class="chat-input" (keyup.enter)="search_user(searchInput.value)" #searchInput/>
    <span class="search-icon" (click)="search_user(searchInput.value)" style="cursor: pointer"><i class="fa fa-search"></i></span>
  </div>
  <div *ngIf="cargoSelect.value != 0 || lugarSelect.value != 0">
    <mat-chip-list #chipList >
        <mat-chip [selectable]="true"
                  *ngIf="cargoSelect.value != 0"
                  [removable]="true">
        <!-- <mat-chip [selectable]="true"
                  [removable]="true" (removed)="remove(fruit)"> -->
          {{ cargoSelect.value }}
          <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
        </mat-chip>
        <mat-chip [selectable]="true"
                  *ngIf="lugarSelect.value != 0"
                  [removable]="true" >
          {{ lugarSelect.value }}
          <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
  </div>
</div>
