<div class="d-flex justify-content-between container">
  <h3 class="poll-title no-select">Contactos</h3>
  <div class="close m-0">
    <!-- <i class="fas fa-times-circle" (click)="onQuit.emit(false)"></i> -->
  </div>
</div>
<br />
<div class="container poll-container">
  <div class="search-container">
    <div class="pt-1"><span class="no-select">Buscar</span></div>
    <div class="pb-2">
      <img src="https://c3soporte00400.cl/sg/assets/img/navbar-home/5.png" alt="" style="width: 30px; height: 30px; margin-top: -2px; cursor: pointer" (click)="toggleOptions()">
    </div>
  </div>
  <div class="inner">
    <div class="pb-2" id="options">
      <div>
        <select class="custom-select" #cargoSelect>
          <option selected value="0"  style="color: #7D7F81">Cargos</option>
          <option *ngFor="let position of ps.positions" [value]="position.id" style="color: #7D7F81">{{ position.nombre_cargo | titlecase }}</option>
        </select>
      </div>
      <div class="ml-2">
        <select class="custom-select" #lugarSelect>
          <option selected value="0" style="color: #7D7F81">Superintendencia</option>
          <option *ngFor="let place of ps.places" [value]="place.id" style="color: #7D7F81">{{ place.nombre_lugar_trabajo | titlecase }}</option>
        </select>
      </div>
      <div class="ml-2">
        <select class="custom-select" #gerenciaSelect>
          <option selected value="0" style="color: #7D7F81">Gerencias</option>
          <option *ngFor="let gerency of ps.gerencies" [value]="gerency.id" style="color: #7D7F81">{{ gerency.nombre_gerencia | titlecase }}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="input-group mb-1">
    <input type="text" class="form-control chat-input" (keyup)="deleteSearchMessages()" (keyup.enter)="search(searchInput.value)" #searchInput>
    <div class="input-group-append" (click)="search(searchInput.value)" style="cursor: pointer">
      <span class="input-group-text"><i class="fa fa-search"></i></span>
    </div>
  </div>
  <span [hidden]="!errorMessageDisplayed" class="search-error no-select">{{ errorMessage }}</span>
  <div *ngIf="cargoSelect?.value != 0 || lugarSelect?.value != 0 || gerenciaSelect?.value != 0" class="pt-1">
    <mat-chip-list #chipList >
        <mat-chip [selectable]="true"
                  *ngIf="cargoSelect?.value != 0"
                  [removable]="true">
        <!-- <mat-chip [selectable]="true"
                  [removable]="true" (removed)="remove(fruit)"> -->
          {{ ps.getArrayNameById(cargoSelect.value, 1) | titlecase }}
          <div class="close-button m-0">
              <i class="fas fa-times-circle"></i>
            </div>
        </mat-chip>
        <mat-chip [selectable]="true"
                  *ngIf="lugarSelect?.value != 0"
                  [removable]="true" >
          {{ ps.getArrayNameById(lugarSelect.value, 2) | titlecase }}
          <div class="close-button m-0">
              <i class="fas fa-times-circle"></i>
            </div>
        </mat-chip>
        <mat-chip [selectable]="false"
                  *ngIf="gerenciaSelect?.value != 0"
                  [removable]="true" >
          {{ ps.getArrayNameById(gerenciaSelect.value, 3) | titlecase }}
          <div class="close-button m-0">
            <i class="fas fa-times-circle"></i>
          </div>
        </mat-chip>
      </mat-chip-list>
  </div>
  <div class="display-users pt-2">
    <span [hidden]="!noUsersDisplayed" class="nouser-message no-select">{{noUsers}}</span>
    <div *ngIf="findedUsers.length !== 0" style="margin: 0; padding: 0;">
      <div *ngFor="let usuario of findedUsers" class="user-contact-container">
        <div class="picture">
          <!-- <img _ngcontent-c5="" class="img-fluid" src="https://c3soporte00400.cl/sg/assets/img/img-01.png"> -->
          <img _ngcontent-c5="" style="width: 80px;" *ngIf="usuario.img_perfil_usuario" [src]="usuario.img_perfil_usuario">
          <img _ngcontent-c5="" style="width: 80px;" *ngIf="!usuario.img_perfil_usuario" src="https://c3soporte00400.cl/sg/assets/img/reconozco/cara.png">
        </div>
        <div class="content">
          <h6>
            {{ usuario.primer_nombre_usuario + ' ' + usuario.segundo_nombre_usuario }}
            {{ usuario.apellido_pat_usuario != null? usuario?.apellido_pat_usuario : '' }} {{ usuario.apellido_mat_usuario != null? usuario?.apellido_mat_usuario : '' }}
          </h6>
          <span class="info-general-usuario">{{ usuario.nombre_gerencia | titlecase }}</span>
          <div>
            <span class="info-general-usuario"><i class="fas fa-hard-hat"></i>{{ usuario.nombre_cargo | titlecase }}</span>
            <div class="row p-0 m-0 d-flex">
              <span class="info-general-usuario mr-2"><i class="fas fa-phone fa-rotate-90"></i>{{ usuario.telefono_usuario | titlecase }}</span>
              <span class="info-general-usuario ml-4"><i class="fas fa-map-marker-alt"></i>{{ usuario.nombre_lugar_trabajo | titlecase }}</span>
            </div>
            <span class="info-general-usuario"><i class="fas fa-envelope"></i>{{ usuario.correo_usuario }}</span> <br>
            <a class="info-general-usuario-mensaje">Enviar Mensaje <i class="fas fa-chevron-circle-right ml-2"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
