.poll-title {
  color: white;
  font-weight: 600 !important;
  padding-top: .5em;
  padding-left: .6em;
}

.poll-container {
  height: 70%;
  overflow-y: scroll;
  margin-right: 5px;
  padding-left: 2em;
}

.message-icon {
  width: 100% !important;
  height: 100px !important;
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: none;
  opacity: .5;
  padding-top: .8em;
  padding-right: .8em;
  padding-bottom: 0;
}

.close > i {
  cursor: pointer;
}

.search-container {
  display: flex;
  justify-content: space-between;
}

.search-container div span {
  font-size: 12pt;
  font-weight: 600 !important;
  color: white;
}

input.chat-input {
  padding-left: 1em;
  padding-right: 3em;
  font-size: 8pt;
  border-radius: 15px;
  width: 100%;
  height: 25px;
  border: none;
  background-color: rgb(255, 255, 255);
}

.search-icon {
  position: absolute;
  right: 29px;
  margin-top: 2px;
  color: #00ADBA;
}

.inner {
  display: none;
  width: 100%;
  #options {
    display: flex;
  }
}

.custom-select {
  font-size: 9pt;
  font-weight: 600;
}

.search-error {
  font-size: 12pt;
  color: white;
  font-weight: 500;
  font-style: italic;
  font-family: Calibri;
}

.nouser-message {
  font-size: 12pt;
  color: white;
  font-weight: 500;
  font-style: italic;
  font-family: Calibri;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-contact-container {
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;

  .picture {

  }

  .content {
    display: flex;
    flex-direction: column;

    h6 {
      font-size: 12pt;
      font-weight: 600;
    }

    .info-general-usuario {
      font-weight: 500;
    }
  }
}
