$orange: #ff5900;
$orange-70: rgba(255, 89, 0, 0.863);
$orange-50: rgba(255, 89, 0, 0.502);

$blueSG: #3fbac5;
$blueSG-70: rgba(62, 186, 197, 0.702);
$blueSG-40: rgba(62, 186, 197, 0.4);
$blueSG-20: rgba(63, 186, 197, 0.2);

$text-color: #5c5c5c;

.noticias {
  &-header {
    &-title {
      color: $blueSG;
      font-weight: 800;
      font-size: 4rem;
      user-select: none;
    }

    &-subtitle {
      margin-top: 1em;
      font-weight: 800;
      font-size: 14pt;
      color: $text-color;
      user-select: none;
    }
  }

  &-sections {
    display: flex;
    flex-flow: column-reverse;

    &-container {
      display: -ms-flexbox;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      width: max-content;
      background-color: $blueSG;
      padding: 5px 25px;
      border-radius: 15px;
    }
    &-divider {
      margin: 0px 15px;
      i {
        color: white;
      }
    }

    &-buttons {
      // margin: 0px 15px;
      &:focus {
        outline: none;
      }

      span {
        font-weight: 700;
        color: white;
        font-size: 10pt;
        opacity: 0.7;
      }

      &-active {
        span {
          opacity: 1;
        }
      }
    }
  }

  &-card {
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0em 0rem 1rem rgba(0, 0, 0, 0.25) !important;
    height: 255px;

    &-flag {
      position: absolute;
      top: 14px;
      z-index: 2;

      &-img {
        img {
          width: 65px;
        }
      }

      &-fecha {
        position: absolute;
        top: 10px;
        left: 17px;
        text-align: center;
        line-height: 12pt;
        color: white;

        span.day {
          font-weight: 700;
          font-size: 20pt;
        }

        span.month {
          font-weight: 500;
          font-size: 9pt;
        }
      }
    }

    &-header {
      border-radius: 10px;
      width: 100%;
      height: 120px;
    }

    &-body {
      margin-top: 8px;

      p {
        font-weight: 700;
        font-size: 10pt;
        color: #5c5c5c;
      }
    }

    &-footer {
      position: absolute;
      bottom: 34px;
      left: 28px;
      height: 0px;
      width: 79.3%;
      display: -ms-flexbox;
      display: flex;
      justify-content: space-between;

      div {
        i {
          color: $orange;
          font-size: 10pt;
        }
        span {
          color: $orange;
          font-size: 10pt;
        }

        a {
          color: $blueSG;
          font-weight: 500;
          font-size: 10pt;
        }
      }
    }

    .fav-bar {
      position: absolute;
      bottom: 0;
      height: 0px;
      width: 89.3%;
      margin-left: -15px;
      border-radius: 0px 0px 10px 10px;
      transition: 0.8s ease-in-out;
      transition-delay: 0.2s;
      // content
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      justify-content: center;

      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff5900+0,f43513+100 */
      background: rgb(255,89,0); /* Old browsers */
      background: -moz-linear-gradient(-45deg, rgba(255,89,0,1) 0%, rgba(244,53,19,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(-45deg, rgba(255,89,0,1) 0%,rgba(244,53,19,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(135deg, rgba(255,89,0,1) 0%,rgba(244,53,19,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5900', endColorstr='#f43513',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

      &.destacada {
        height: 10px;
      }

      a {
        opacity: 0;
        transition-delay: 0.2s;
        color: white;
        font-weight: 600;
        text-align: center;
      }
    }

    &:hover {
      .fav-bar {
        height: 92%;
        border-radius: 10px;
        // background-color: $orange-70 !important;
        transition-delay: 0s;

        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff5900+0,f43513+100 */
        background: rgb(255,89,0); /* Old browsers */
        background: -moz-linear-gradient(-45deg, rgba(255,89,0,1) 0%, rgba(244,53,19,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, rgba(255,89,0,0.9) 0%,rgba(244,53,19,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, rgba(255,89,0,0.9) 0%,rgba(244,53,19,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5900', endColorstr='#f43513',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

        a {
          opacity: 1;
          transition-delay: 0.5s;
        }
      }
    }
  }
}
