<div class="animated fadeIn m-0 p-0">
  <div class="row m-0 content-nav">
    <span class="mr-2" routerLink="../">Sustentabilidad AA.EE y Legal</span> <span> > Gerencia Legal</span>
  </div>

  <div class="row content-description-container">
    <div class="col-lg-6 col-md-6 col-sm-12 ml-0 pl-0 content-description-content">
      <h1>Gerencia Legal</h1>
      <p>
        Departamento responsable de velar por los intereses de la compañía en asuntos que
        tengan algún componente legal (tales como contratación de productos y servicios, asuntos
        regulatorios, temas corporativos y societario negociaciones, claims, juicios, temas
        tributarios, entre otros). Debe prestar asesoría a cada una de las áreas de la compañía que
        lo requieran. Deben además implementar los acuerdos, contratos y directivas de los
        dueños.
      </p>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 ml-0 pl-0 content-description-content-english">
      <span>English Version</span>
      <p>
        Department responsible for ensuring the interests of the company in matters that have
        some legal component (such as contracting products and services, regulatory matters,
        corporate issues and corporate negotiations, claims, lawsuits, tax issues, among others).
        Must provide advice to each of the areas of the company company that require it. They
        must also implement the agreements, contracts and directives of the owners.
      </p>
    </div>
  </div>
</div>
