<div class="animated fadeIn m-0 p-0">
  <div class="row m-0 content-nav">
    <span class="mr-2" routerLink="../">Finanzas</span> <span> > Gerencia Informática</span>
  </div>

  <div class="row content-description-container">
    <div class="col-lg-6 col-md-6 col-sm-12 ml-0 pl-0 content-description-content">
      <h1>Gerencia Informática</h1>
      <p>
        Superintendencia responsable de la planificación, implementación y supervisión de
        estrategias y estándares que garanticen el correcto funcionamiento de los sistemas de
        información, tecnologías y comunicaciones. Además, entrega soporte a los usuarios y
        sistemas bajo su cargo, para asegurar la continuidad operacional de éstos y así apoyar el
        cumplimiento de los objetivos de cada área.
      </p>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 ml-0 pl-0 content-description-content-english">
      <span>English Version</span>
      <p>
        Superintendency responsible for the planning, implementation and supervision of
        strategies and standards that guarantee the correct functioning of information systems,
        technologies and communications. In addition, it provides support to users and systems
        under its charge, to ensure the operational continuity of these and thus support
        compliance with the objectives of each area.
      </p>
    </div>
  </div>
</div>
