<div class="seguridad p-0">
  <div class="seguridad-header">
    <div class="seguridad-header-title">
      <h1>Seguridad</h1>
    </div>
    <div class="seguridad-header-addon">
      <span class="info-text"><strong>LLAMAR</strong> a Central de Comunicaciones de Emergencia <strong>(CECOM)</strong></span><br>
      <span class="info-text-addon"><i class="fas fa-phone fa-rotate-90"></i> +55 268 4911</span>
    </div>
  </div>
  <br>
  <br>
  <div class="seguridad-content">
    <div class="row p-0 mb-4 mt4">
      <div class="col-lg-6 col-md-6 col-sm-12 p-0 seguridad-content-item izq">
        <div class="seguridad-content-item-image cursor">
          <img src="https://c3soporte00400.cl/sg/assets/img/seguridad/Header_Incidentes.png" alt="">
        </div>
        <div class="seguridad-content-item-title incidentes shadow cursor" routerLink="./incidentes-y-lecciones">
          <h6>Incidentes /<br/>Lecciones Aprendidas</h6>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 p-0 seguridad-content-item der">
        <div class="seguridad-content-item-image cursor">
          <img src="https://c3soporte00400.cl/sg/assets/img/seguridad/Header_Campanas.png" alt="">
        </div>
        <div class="seguridad-content-item-title campanias shadow cursor" routerLink="./campanias">
          <h6>Campañas</h6>
        </div>
      </div>
    </div>
    <div class="row p-0 mt-4">
      <div class="col-lg-6 col-md-6 col-sm-12 p-0 mt-4 seguridad-content-item izq">
        <div class="seguridad-content-item-image cursor">
          <img src="https://c3soporte00400.cl/sg/assets/img/seguridad/Header_Comite.png" alt="">
        </div>
        <div class="seguridad-content-item-title paritario shadow cursor" routerLink="./comite-paritario">
          <h6>Comité Paritario</h6>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 p-0 mt-4 seguridad-content-item der">
        <div class="seguridad-content-item-image cursor">
          <img src="https://c3soporte00400.cl/sg/assets/img/seguridad/Header_Observadores.png" alt="">
        </div>
        <div class="seguridad-content-item-title conducta shadow cursor" routerLink="./observadores-conducta">
          <h6>Observadores<br/>de Conductas</h6>
        </div>
      </div>
    </div>
  </div>
</div>
