<app-navbar-ext></app-navbar-ext>
<br>
<div style="height: 50px"></div>
<app-links></app-links>

<div class="container">
  <div class="row m-0 p-0"> <!-- Header -->
    <div class="col-12 p-0 animated fadeInLeft">
      <h1 class="desafio-title">
        Clima Laboral
      </h1>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-8 p-0 animated fadeInLeft">
      <div class="desafio-info">
        <p class="desafio-info-text">
          Porque conocer tu opinión, nos permitirá seguir trabajando en mejoras para hacer de nuestra compañía, un mejor lugar para ESTAR. Te invitamos a ser parte de nuestra medición de Clima Laboral.<br/><br/> Desde aquí, podrás ingresar a nuestra plataforma y participar de este importante proceso, completando la encuesta que hemos realizado tenemos para ti.
        </p>
      </div>
    </div>
    <div class="col-lg-4 d-flex align-items-center justify-content-center">
      <!-- <img src="https://c3soporte00400.cl/sg/assets/img/desafio-austeridad/Casco.png" alt="" style="width: 200px"> -->
      <img src="https://c3soporte00400.cl/sg/assets/img/Logo_Clima_Laboral.png" alt="Imagen_Clima_Laboral" style="width: 290px">
    </div>
  </div>
</div>


<app-footer-s></app-footer-s>
