<div class="content-list-container">
  <div class="content-list-item">
    <h6>Gerencia Mina</h6>              <a [routerLink]="['/nuestra-empresa/gerencia/operaciones/gerencia-mina']">Ver más...</a>
  </div>
  <div class="content-list-item">
    <h6>Gerencia PPM</h6>               <a [routerLink]="['/nuestra-empresa/gerencia/operaciones/gerencia-pmm']">Ver más...</a>
  </div>
  <div class="content-list-item">
    <h6>Gerencia Mantención Mina</h6>   <a [routerLink]="['/nuestra-empresa/gerencia/operaciones/gerencia-mant-mina']">Ver más...</a>
  </div>
  <div class="content-list-item">
    <h6>Gerencia Aguas y Relaves</h6>   <a [routerLink]="['/nuestra-empresa/gerencia/operaciones/gerencia-ayr']">Ver más...</a>
  </div>
  <div class="content-list-item">
    <h6>Gerencia Planta</h6>            <a [routerLink]="['/nuestra-empresa/gerencia/operaciones/gerencia-planta']">Ver más...</a>
  </div>
  <div class="content-list-item">
    <h6>Gerencia Mantención Planta</h6> <a [routerLink]="['/nuestra-empresa/gerencia/operaciones/gerencia-mant-planta']">Ver más...</a>
  </div>
</div>
