<div class="chat-header border-bottom shadow-sm d-flex pt-2 pb-2 align-items-center">
  <div class="user-img pl-3 pr-1">
    <!-- <i class="fas fa-user"></i> -->
    <!-- <img class="img-fluid" src="https://c3soporte00400.cl/sg/assets/img/img-02.png" /> -->
    <img _ngcontent-c5="" style="width: 40px; height: 40px; border-radius: 50%;" *ngIf="data.destinatario.img_perfil_usuario" [src]="data.destinatario.img_perfil_usuario">
    <img _ngcontent-c5="" style="width: 40px; height: 40px;" *ngIf="!data.destinatario.img_perfil_usuario" src="https://c3soporte00400.cl/sg/assets/img/reconozco/cara.png">
  </div>
  <!-- <div class="user-info pl-2">ID usuario: {{ data }}</div> -->
  <div class="user-info pl-2">
    <p>
      <span class="user-name">
        {{ data.destinatario.primer_nombre_usuario + ' ' + data.destinatario.apellido_pat_usuario }}
      </span> <br>
      <span class="user-company">
        Sierra Gorda
      </span>
    </p>
  </div>
  <div class="user-star">
    <i class="fas fa-star" (click)="setFavorito(data)" *ngIf="data.favorito"></i>
    <i class="far fa-star" (click)="setFavorito(data)" *ngIf="!data.favorito"></i>
  </div>
  <div class="actions">
      <a
      [routerLink]="['/chat']"
      [queryParams]="{usr: data.destinatario.id_usuario}"
      class="text-cumpleaños"
      style="text-decoration: underline #00A9B7 !important; color: #00A9B7"
      >Abrir en el Chat
      <i
        class="fas fa-chevron-circle-right ml-2"
        style="color: #00A9B7"
      ></i>
    </a>
  </div>
</div>
<div class="chat-messages" id="messagesDiv">
  <ul *ngIf="cs.messagesList">
    <li style="width:100%" class="pb-3" *ngFor="let mensaje of messagesList">
      <div
        class="macro"
        [ngClass]=" !isSender(mensaje.id_remitente) ? 'msj' : 'msj-rta'"
        [ngStyle]="
          {'color': !isSender(mensaje.id_remitente) ? 'white' : '#616161'}
        ">
        <div class="text text-l">
          <p>{{ decode(mensaje.texto) }}</p>
          <p>
            <small
              [ngStyle]="
                {'color': !isSender(mensaje.id_remitente) ? 'white' : '#616161'}
              "
              style="font-style: italic"
              >
              {{
                calculardiferencia(mensaje.fecha)
              }}
            </small>
          </p>
        </div>
      </div>
    </li>
  </ul>
</div>
<form #f="ngForm" (ngSubmit)="sendMessage(f.value)" autocomplete="off">
  <div class="chat-input-footer border-top d-flex">
    <input
      type="text"
      class="chat-input"
      name="chatInput"
      id="chatInput"
      #chatInput="ngModel"
      [(ngModel)]="mensaje"
      min="3"
      ngModel
      placeholder="Ingrese un mensaje..."/>
    <img src="https://c3soporte00400.cl/sg/assets/img/navbar-home/14.png" alt="" style="width: 30px; height: 30px; margin-top: -2px" (click)="toggle_emoji = !toggle_emoji">
    <emoji-mart
      *ngIf="toggle_emoji"
      [style]="{ position: 'absolute', bottom: '40px', right: '15px' }"
      sheetSize="32"
      (emojiClick)="addEmoji($event)"
      showPreview="false"
      title="Selecciona un emoji"
      [i18n]="I18n"
      [isNative]="true"
    ></emoji-mart>
    <!-- <button class="send-message" (click)="send_message()">
      enviar
    </button> -->
    <img src="https://c3soporte00400.cl/sg/assets/img/navbar-home/15.png" alt="" style="width: 30px; height: 30px; margin-top: -2px; cursor: pointer; " (click)="sendMessage(f.value)">
  </div>
</form>
