<app-navbar-ext></app-navbar-ext>
<br>
<div style="height: 50px"></div>
<app-links></app-links>
<br>
<div class="container">
  <div class="noticia">
    <div class="noticia-header mb-2">
      <div class="row mb-4">
        <div class="col-lg-8 col-md-8 col-sm-12 d-flex align-items-center">
          <span class="noticia-header-subtitle">Descubre todas las novedades que ocurren en Sierra Gorda SCM</span>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 noticia-sections pr-0">
          <div class="noticia-sections-container">

            <div class="noticia-sections-buttons">
              <!-- Todas -->
              <div class="volver-noticias" routerLink="/noticias/todas">
                <img src="https://c3devapp.cl/sg/assets/img/Noticias/cuadritos_noticias.png" alt="a">
              </div>
              <p>Volver<br/>a noticias</p>
            </div>

            <div class="noticia-sections-buttons">
              <!-- Destacadas -->
              <i class="fas fa-chevron-circle-left"></i>
              <p>Noticia<br/>Anterior</p>
            </div>

            <div class="noticia-sections-buttons" style="margin-right: 0 !important;">
              <!-- Reportero Minero -->
              <i class="fas fa-chevron-circle-right"></i>
              <p>Noticia<br/>Siguiente</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ng-container *ngIf="noticia">
      <div class="noticia-content">
        <div class="row">
          <div class="col-6">
            <h1 class="noticia-content-title">
              {{ noticia.titulo_noticia }}
            </h1>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 pr-4 pt-4">
            <p [innerHTML]="noticia.texto_noticia" class="noticia-content-text"></p>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 pt-4">
            <ng-container *ngIf="noticia.imagen.imagen_cuerpo_1">
              <!-- 550 * 240 -->
              <div class="noticia-content-img" [style.backgroundImage]="'url('+ noticia.imagen.imagen_cuerpo_1 +')'" style="background-size: cover; background-position: center;">
                <div class="noticia-content-flag" [ngClass]="{'reportero-minero': noticia.id_tipo_noticia_fk === 3}">
                    <div class="noticia-content-flag-img p-0">
                      <img src="https://c3devapp.cl/sg/assets/img/Noticias/2.png" *ngIf="noticia.id_tipo_noticia_fk === 1" alt="">
                      <img src="https://c3devapp.cl/sg/assets/img/Noticias/2.png" *ngIf="noticia.id_tipo_noticia_fk === 2" alt="">
                      <img src="https://c3devapp.cl/sg/assets/img/Noticias/4.png" *ngIf="noticia.id_tipo_noticia_fk === 3" alt="">
                    </div>

                    <div class="noticia-content-flag-fecha">
                      <span class="day">15</span> <br>
                      <span class="month">NOV</span>
                    </div>
                  </div>
              </div>
            </ng-container>
          </div>
        </div>
        <!-- Botón me gusta -->
        <div class="w-100 mt-4 d-flex justify-content-center">
          <button class="like shadow" *ngIf="!megusta" (click)="sendLike()">Dar ¡Me Gusta! <i class="fas fa-thumbs-up text-white"></i></button>
          <button class="like shadow" *ngIf="megusta">¡Te Gusta! <i class="fas fa-thumbs-up text-white"></i></button>
        </div>
      </div>
      <div class="noticia-addon">
        <!-- comentarios -->
        <br>
        <div class="row noticia-addon-header">
          <div class="col-9">
            <h1>Comentarios</h1>
          </div>
          <div class="col-3 mt-1 text-right">
            <span class="like-info">LIKES <i class="fas fa-ellipsis-v l-divider"></i> +{{noticia.cantidad_megusta}} <i class="fas fa-thumbs-up text-white l-like"></i></span>
          </div>
        </div>
        <!-- <hr _ngcontent-c20="" class="mt-4 mb-4 style-two"> -->

        <!-- <div class="noticia-addon-content"> -->
        <ng-container *ngFor="let comentario of noticia.comentario">
          <div class="noticia-addon-content-comment">
            <div class="noticia-addon-content-comment-picture">
              <!-- <img src=""> -->
              <i class="fas fa-user-circle"></i>
            </div>
            <div class="noticia-addon-content-comment-text">
              <p>
                <strong>{{comentario.usuario.nombre + ' ' + comentario.usuario.apellido}}:</strong>
                {{comentario.comentario}}
              </p>
            </div>
          </div>
        </ng-container>
        <!-- </div> -->

        <form #f="ngForm" (ngSubmit)="sendComment(f.value.txt_comentario)" autocomplete="off">
          <div class="noticia-addon-content-input">
            <div class="noticia-addon-content-input-picture">
              <!-- <img src=""> -->
              <i class="fas fa-user-circle"></i>
            </div>
            <div class="noticia-addon-content-input-textbox">
              <input type="text" maxlength="200" #textInput="ngModel" name="txt_comentario" [(ngModel)]="comentario" placeholder="Escribe un comentario...">
              <button type="submit" [disabled]="3 >= comentario.length"><i class="fas fa-paper-plane"></i></button>
            </div>
          </div>
        </form>
      </div>
    </ng-container>
    <ng-container *ngIf="!noticia">
      <div class="w-100" style="height: 200px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        <p style="font-weight: 600; color: #5b5b5b; margin-top: 15px; font-size: 11pt;">Cargando Noticia</p>
      </div>
    </ng-container>
  </div>
  <br>
</div>
<app-footer-s></app-footer-s>
