<div class="container">
  <h1 class="estar-tv-title animated fadeInLeftBig">
    ESTAR Conectados TV
  </h1>

  <div class="estar-content">
    <div class="row">
      <!-- Video y subtítulo -->
      <div class="col-lg-8 col-md-7 col-sm-12">
        <ng-container *ngIf="$actualVideo">
          <div class="animated fadeIn">
            <video class="video-fluid shadow" style="border-radius: 10px 10px 0 0;" muted defaultmuted autoplay controls poster="{{ $actualVideo.url_img }}">
                <!-- <source src="https://sample-videos.com/video123/mp4/720/big_buck_bunny_720p_30mb.mp4" type="video/mp4"> -->
                <source src="{{ $actualVideo.url_video }}" type="video/mp4">
            </video>
          </div>
          <h6 class="estar-tv-subtitle animated fadeInLeftBig">{{ $actualVideo.titulo }}</h6>
          <p class="estar-tv-subtext animated fadeInLeftBig">
            {{ $actualVideo.descripcion }}
          </p>
          <a class="estar-tv-ver-mas animated fadeInLeftBig" style="cursor: pointer">MOSTRAR MÁS</a>
        </ng-container>
      </div>

      <!-- Panel categorías -->
      <div class="col-lg-4 col-md-5 col-sm-12 p-0 m-0 animated fadeInRightBig">
        <div class="categorias shadow" style="max-height: 550px;">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
<hr class="mt-4 mb-4 style-two ">

<div class="container">
  <div class="visto-content h-100">
    <div class="row h-100">
      <div class="col-md-12">
        <h6 class="visto-title">
            <i class="fas fa-heart pr-2" style="color: #ff5900"></i>LO MÁS VISTO
        </h6>
      </div>

      <!-- Loading Mientras no carguen los videos -->
      <ng-container *ngIf="!ps.categoryList">
        <div style="display: flex; justify-content: center; align-items: center;">
          <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>
      </ng-container>

      <!-- Se despliega lista de videos más vistos -->
      <ng-container *ngIf="ps.moreSeenList">
        <div class="col-lg-6 col-md-6 col-sm-12 d-flex mt-4 animated wow fadeInUp" *ngFor="let video of ps.moreSeenList">
          <!-- <div class="row m-0 p-0"> -->
            <div class="col-lg-5 col-md-5 col-sm-5 visto-img">
            <div class="view overlay zoom shadow-sm" style="border-radius: 10px;">
                <img [src]="video.url_img" alt="contenido-de-prueba" class="img-fluid">
                <div class="mask flex-center waves-effect overlay-color waves-light bg-blue" (click)="emitVideo(video)">
                  <p class="text-overlay"><i class="fas fa-play"></i></p>
                </div>
              </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 visto-img-description">
              <h6>{{ video.titulo }}</h6>
              <p>{{ video.descripcion }}</p>
            </div>
          <!-- </div> -->
        </div>
      </ng-container>
    </div>
  </div>
</div>
