<div class="animated fadeIn m-0 p-0">
  <div class="row m-0 content-nav">
    <span class="mr-2" routerLink="../">Operaciones</span> <span> > Gerencia Mantención Mina</span>
  </div>

  <div class="row content-description-container">
    <div class="col-lg-6 col-md-6 col-sm-12 ml-0 pl-0 content-description-content">
      <h1>Gerencia Mantención Mina</h1>
      <p>
        Departamento responsable de establecer e implementar estrategias para la gestión de
        mantenimiento de activos mineros, a fin de asegurar la disponibilidad y confiabilidad de
        los equipos para mantener la continuidad operacional y el cumplimiento de los planes de
        producción establecidos. Adicionalmente, a través de la estrategia de mantenimiento
        preventivo el objetivo es maximizar la gestión y vida útil de los equipos mineros de la
        compañía.
      </p>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 ml-0 pl-0 content-description-content-english">
      <span>English Version</span>
      <p>
        Department responsible for establishing and implementing strategies for the maintenance
        management of mining assets, in order to ensure the availability and reliability of
        equipment to maintain operational continuity and compliance with established
        production plans. Additionally, through the preventive maintenance strategy, the
        objective is to maximize the management and useful life of the company's mining
        equipment.
      </p>
    </div>
  </div>
</div>
