<div class="content-list-container animated fadeIn">
  <div class="content-list-item">
    <h6>Gerencia Proyectos Plantas</h6>                         <a [routerLink]="['/nuestra-empresa/gerencia/gerencia-general/gerencia-proyectos-planta']">Ver más...</a>
  </div>
  <div class="content-list-item">
    <h6>Gerencia Salud, Seguridad y Medio Ambiente</h6>         <a [routerLink]="['/nuestra-empresa/gerencia/gerencia-general/gerencia-salud-seguridad-medio-ambiente']">Ver más...</a>
  </div>
  <div class="content-list-item">
    <h6>Gerencia Metalurgia</h6>                                <a [routerLink]="['/nuestra-empresa/gerencia/gerencia-general/gerencia-metalurgia']">Ver más...</a>
  </div>
  <div class="content-list-item">
    <h6>Gerencia Asuntos Externos</h6>                          <a [routerLink]="['/nuestra-empresa/gerencia/gerencia-general/gerencia-asuntos-externos']">Ver más...</a>
  </div>
  <div class="content-list-item">
    <h6>Gerencia Swat Team</h6>                                 <a [routerLink]="['/nuestra-empresa/gerencia/gerencia-general/gerencia-swat-team']">Ver más...</a>
  </div>
</div>
