<div class="row m-0 p-0"> <!-- Header -->
  <div class="col-6 animated fadeInLeft">
    <h1 class="galeria-title">
      Galería
    </h1>
  </div>
  <div class="col-6 galeria-filter">
    <div class="galeria-filter-content">
      <label for="select_filter">AÑO <i class="fas fa-ellipsis-v"></i></label>
      <select name="select_filter" id="select_filter" #filter (change)="getGalleryByYear(filter.value)" *ngIf="yearList">
        <option [value]="year" *ngFor="let year of yearList" [selected]="year === thisYear">{{ year }}</option>
      </select>
    </div>
  </div>
</div> <!-- Fin Header -->
<br/>
<div>
  <div class="row"> <!--Listado de meses -->
    <ng-container *ngIf="gs.listaMesesGaleria">
      <ng-container *ngFor="let mes of this.gs.listaMesesGaleria; let i = index">
        <div class="col-lg-2 col-md-4 col-sm-6">
          <!-- <img src="" alt="" *ngIf="mes.galeria_mes !== 0"> -->
          <!-- <span *ngIf="mes.galeria_mes !== 0" [routerLink]="['./', thisYear, (i + 1)]">{{ monthShortM[i] }} - {{ mes.galeria_mes }}</span>
          <span *ngIf="mes.galeria_mes === 0">{{ monthShortM[i] }} - {{ mes.galeria_mes }}</span> -->
          <img src="https://c3soporte00400.cl/sg/assets/img/meses/{{monthShortM[i]}}-disabled.png" class="img-fluid" alt="" *ngIf="mes.galeria_mes === 0">
          <img src="https://c3soporte00400.cl/sg/assets/img/meses/{{monthShortM[i]}}.png" (click)="console()" [routerLink]="['./', thisYear, (i + 1)]" class="img-fluid cursor" alt="" *ngIf="mes.galeria_mes !== 0">
        </div>
      </ng-container>

    </ng-container>

  </div>
</div>
<br>
