<div class="animated fadeIn m-0 p-0">
  <div class="row m-0 content-nav">
    <span class="mr-2" routerLink="../">Gerencia General</span> <span> > Gerencia Asuntos Externos</span>
  </div>

  <div class="row content-description-container">
    <div class="col-lg-6 col-md-6 col-sm-12 ml-0 pl-0 content-description-content">
      <h1>Gerencia Asuntos Externos</h1>
      <p>
        Departamento responsable de velar por el incremento del capital reputacional, proteger
        los derechos mineros y mantener la Licencia Social para Operar de la empresa, mediante
        un trabajo enfocado en lo social. La misión del área de Relaciones Comunitarias es
        mantener vínculos sólidos con las autoridades de gobierno, políticas, sectoriales y con
        nuestros vecinos de las áreas de influencia directa e indirectas, controlando los temas
        críticos que puedan impactar directamente a nuestra operación. <br>
        En Asuntos Públicos y Comunicaciones, el objetivo es posicionar la estrategia y
        lineamientos corporativos frente a medios de comunicación masivos y especializados.
        Monitorear temas de interés corporativo en redes sociales y medios en general, y
        presencia permanente en Mesas de Trabajo y actividades gremiales y sectoriales. Además
        debe velar por mantener a pleno resguardo y vigencia de los derechos adquiridos por la
        compañía tales como: concesiones mineras, derechos de aguas, servidumbres y terrenos
        superficiales, a través de una administración consolidada e Integral de la Propiedad
        Minera.
      </p>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 ml-0 pl-0 content-description-content-english">
      <span>English Version</span>
      <p>
          Department responsible for ensuring the reputational capital increment, protect mining
          rights and maintain the Social License to Operate the company, through work focused on
          the social. The mission of the Community Relations area is to maintain solid links with the
          government, political, sectorial authorities and with our neighbors in the areas of direct
          and indirect influence, controlling critical issues that may directly impact our operation. <br>
          In Public Affairs and Communications, the objective is to position the strategy and
          corporate guidelines to the mass media and specialized. Monitor issues of corporate
          interest in social networks and media in general, and permanent presence in work tables
          and union and sectorial activities. In addition, it must ensure that the rights acquired by
          the company, such as mining concessions, water rights, easements and surface lands, are
          maintained in full and validity, through a consolidated and integral management of the
          Mining Property.
      </p>
    </div>
  </div>
</div>
