<div class="f-flex justify-content-center" style="position: absolute; top: 10px; right: 10px; z-index: 20">
  <i style="color: #022887; cursor: pointer; z-index: 20; font-size: 20pt; background-color: white; border-radius: 50%; width: 25px; height: 25px; display: flex; justify-content: center;" (click)="modalRef.hide()" class="fas fa-times-circle"></i>
</div>

<div class="embed-responsive embed-responsive-16by9 z-depth-1-half" style="border-radius: 10px;">
  <!-- <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A3PDXmYoF5U" allowfullscreen></iframe> -->
  <ng-container *ngIf="video">
    <video class="video-fluid" style="border-radius: 10px;" muted defaultmuted autoplay controls poster="{{ video.url_img }}">
      <source src="{{ video.url_video }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    </ng-container>
</div>
