<div class="animated fadeIn m-0 p-0">
  <div class="row m-0 content-nav">
    <span class="mr-2" routerLink="../">Operaciones</span> <span> > Gerencia Aguas y Relaves</span>
  </div>

  <div class="row content-description-container">
    <div class="col-lg-6 col-md-6 col-sm-12 ml-0 pl-0 content-description-content">
      <h1>Gerencia Aguas y Relaves</h1>
      <p>
        Departamento responsable de gestionar el abastecimiento de Aguas para los procesos
        productivos de la compañía, con énfasis en el uso eficiente de los recursos y activos que
        permiten el transporte a través de la línea de acueductos, siendo su fuente el agua de
        mar. Además, es reponsable de asegurar el abastecimiento la gestión de relaves,
        asegurando la disposición apropiada y crecimiento según el plan del depósito, asegurando
        el cumplimiento de la lesgislación en materia de seguridad y medio ambiente.
      </p>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 ml-0 pl-0 content-description-content-english">
      <span>English Version</span>
      <p>
        Department responsible for managing the water supply for the company's production
        processes, with emphasis on the efficient use of resources and assets that allow
        transportation through the aqueduct line, being its source seawater. In addition, it is
        responsible for ensuring the supply of tailings management, ensuring proper disposal and
        growth according to the deposit plan, ensuring compliance with the legislation in safety
        and environment matters.
      </p>
    </div>
  </div>
</div>
