<div class="animated fadeIn m-0 p-0">
  <div class="row m-0 content-nav">
    <span class="mr-2" routerLink="../">Gerencia General</span> <span> > Gerencia Metalurgia</span>
  </div>

  <div class="row content-description-container">
    <div class="col-lg-6 col-md-6 col-sm-12 ml-0 pl-0 content-description-content">
      <h1>Gerencia Metalurgia</h1>
      <p>
        Departamento cuyo objetivo principal es la optimización de las variables operacionales
        que permitan maximizar la producción de cobre y molibdeno en el circuito colectivo y
        selectivo de planta concentradora, asegurando el cumplimiento de programas de
        producción Budget y forecast. Además, cumple la el rol de auditor y validador de las
        mejoras operacionales que permitan asegurar los resultados de la producción,
        gestionando el desarrollo de herramientas de control que minimicen la variabilidad del
        proceso, encontrar oportunidades de mejoramiento continuo y definición de planes
        futuros.
      </p>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 ml-0 pl-0 content-description-content-english">
      <span>English Version</span>
      <p>
        Department whose main objective is the optimization of operational variables that
        maximize the production of copper and molybdenum in the collective and selective circuit
        of the concentrator plant, ensuring compliance with Budget and forecast production
        programs.
        In addition, it fulfills the role of auditor and validator of operational improvements that
        ensure the production results, managing the development of control tools that minimize
        the variability of the process, find opportunities for continuous improvement and
        definition of future plans.
      </p>
    </div>
  </div>
</div>
