<div class="animated fadeIn m-0 p-0">
  <div class="row m-0 content-nav">
    <span class="mr-2" routerLink="../">Finanzas</span> <span> > Gerencia Impuestos</span>
  </div>

  <div class="row content-description-container">
    <div class="col-lg-6 col-md-6 col-sm-12 ml-0 pl-0 content-description-content">
      <h1>Gerencia Impuestos</h1>
      <p>
        Departamento responsable de la supervisión de políticas y procedimientos para
        proporcionar una planificación efectiva de los impuestos, para garantizar el cumplimiento
        de todas las normativas tributarias, de acuerdo a las políticas y normas de Sierra Gorda
        SCM y a la legislación tributaria nacional e internacional vigente. Además, deben preparar
        la información relativa a impuestos que debe ser incluida en los Estados Financieros de la
        Compañía. (Impuestos Diferidos e Impuestos corrientes) Representar a la compañía frente
        al Servicio de Impuestos Internos y Municipalidades. Responsable del pago de los
        Impuestos de la compañía. Capacitar a las áreas relevantes de la compañía en materias
        tributarias de su competencia.
      </p>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 ml-0 pl-0 content-description-content-english">
      <span>English Version</span>
      <p>
        Department responsible for overseeing policies and procedures to provide effective tax
        planning, to ensure compliance with all tax regulations, in accordance with the policies
        and regulations of Sierra Gorda SCM and current national and international tax legislation.
        They must prepare the information related to taxes that must be included in the
        Company's Financial Statements (Deferred Taxes and Current Taxes). Represent the
        company in front of the internal Service and Municipalities. Responsible for the taxes

        payment of the Company. Train the relevant areas of the company in tax mattersof its
        competence.
      </p>
    </div>
  </div>
</div>

