$orange: #ff5900;
$orange-70: rgba(255, 89, 0, 0.863);
$orange-50: rgba(255, 89, 0, 0.502);

$blueSG: #3fbac5;
$yellow: #FFAB00;
$yellow-light: #FFDC67;
$blueSG-strong: #31a0aa;
$blueSG-70: rgba(62, 186, 197, 0.702);
$blueSG-40: rgba(62, 186, 197, 0.4);
$blueSG-20: rgba(63, 186, 197, 0.2);

$text-color: #5c5c5c;

.galeria {
  &-title {
    color: $blueSG;
    h1{
      user-select: none;
      font-weight: 800;
      font-size: 4rem;
    }

    i{
      font-size:20pt;
      margin-right:20px;
      cursor:pointer;
    }
  }
  &-filter {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &-content {
      padding: 3px 10px;
      background-color: $blueSG;
      border-radius: 25px;
      color: white;
      font-size: 10pt;
      font-weight: 500;

      label {
        margin: 0;
        i {
          margin-left: 5px;
          margin-right: 5px;
        }
      }

      select {
        width: 70px;
        margin: 0px 0px 0px 5px;
        background-color: $blueSG-strong;
        border: none;
        border-radius: 25px;
        color: white;
        font-weight: 500;
        padding-left: 15px;
      }
    }
  }

  &-album {
    height: 100%;

    &-container {
      width: 100%;
      min-height: 350px;
      border-radius: 10px;
      padding: 20px;
      // display: flex;
      // display: -ms-flexbox;
      // justify-content: space-around;
    }

    &-item {
      width: 120px;
      max-width: 120px;
      height: 120px;
      max-height: 120px;
      // background-color: $yellow;
      border-radius: 5px;
      margin: 0px 10px;
      padding: 5px;
      display: -ms-flexbox;
      display: flex;
      align-items: flex-end;
      cursor:pointer;
      background: linear-gradient(to top right, $yellow 0%, $yellow 80%, $yellow-light 80%, $yellow-light 100%);
      background-color: $yellow;

      transition: 0.5s;

      &:hover {
        box-shadow: none !important;
      }

      span {
        color: white;
        font-size: 10pt;
        font-weight: 600;
        user-select: none;
      }

      span.counter {
        position: absolute;
        top: 3px;
        right: 7px;
      }
    }
  }

  &-picture {
    &-container {
      width: 100%;
      height: 350px;
      max-height: 350px;
      border-radius: 10px;
      padding: 20px;

      overflow-y: scroll;
    }

    &-item {
      width: 100%;
      height: 30%;
      margin: 5px 0px;
      border-radius: 5px;

      transition: 0.3s;

      &:hover {
        box-shadow: none !important;
      }
    }
  }
}

.album-modal {
  display: none;
  position: fixed;
  z-index: 113;
  //padding-top: 100px;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.75);
}

/* Modal Content */
.album-modal-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0;
  text-align: center;
  width: 90%;
  height: 100%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.like-infos {
  position: absolute;
  margin-top: 55px;
  background-color: $yellow;
  padding: 2px 11px 2px 5px;
  border-radius: 0px 15px 15px 0px;
  color: white;
  font-weight: 700;
  font-size: 11pt
}

.mySlides {
  display: none;

  &-like-counter {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    background: white;
    position: fixed;
    width: 235px;
    right: 0;
    bottom: 20%;
    padding: 15px 20px 15px 30px;
    border-radius: 50px 0px 0px 50px;
    color: #ff5900;
    font-size: 20pt;

    span {
      user-select: none;
      font-size: 15pt;
      font-weight: 600;
    }

    i.slide-divider {
      font-size: 12pt;
      margin: 0px 7px;
    }

    i {
      user-select: none;
      font-size: 16pt;
    }
  }

  & img {
    border-radius: 5px;
    margin-bottom: -4px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.45) !important;
  }
}

.cursor {
  cursor: pointer;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  padding: 16px;

  // color: $yellow !important;
  color: white !important;
  font-size: 45pt;
  transition: 0.6s ease;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.prev {
  left: 0;
}
.next {
  right: 0;
}
