<div class="animated fadeIn m-0 p-0">
  <div class="row m-0 content-nav">
    <span class="mr-2" routerLink="../">Servicios Corporativos</span> <span> > Gerencia Abastecimiento Estratégico</span>
  </div>

  <div class="row content-description-container">
    <div class="col-lg-6 col-md-6 col-sm-12 ml-0 pl-0 content-description-content">
      <h1>Gerencia Abastecimiento Estratégico</h1>
      <p>
        Departamento responsable de la contratación de productos y servicios a tiempo y con el
        costo total de propiedad (TCO) más bajo, asimismo monitorea cadenas de suministros y
        stock de los suministros estratégicos y cumplimiento de los contratos vigentes. Debe
        desarrollar el plan de sourcing para ítems estratégicos, negociar los contratos a largo
        plazo, dando solución a reclamos mayores y negociando las modificaciones importantes
        de contratos. Además, responsables por la captación de valor de contratos vigentes,
        evaluación de desempeño de proveedores, resolución de problemas contractuales y
        reclamos menores, negociación de modificaciones de contratos no estratégicos, revisión
        comercial de pagos, administración de garantías, finiquitos y terminaciones anticipadas,
        todo esto a través de iniciativas de mejora continua, benchmarking e inteligencia de
        mercado.
      </p>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 ml-0 pl-0 content-description-content-english">
      <span>English Version</span>
      <p>
        Department responsible for contracting products and services on time and with the lowest
        total cost of ownership (TCO), also monitors supply chains and stock of strategic supplies
        and compliance with current contracts. It must develop the sourcing plan for strategic
        items, negotiate long-term contracts, provide solutions to major claims and negotiate
        important contract modifications. In addition, responsible for the collection of value of
        current contracts, evaluation of supplier performance, resolution of contractual problems
        and minor claims, negotiation of non-strategic contract modifications, commercial review
        of payments, administration of guarantees, settlements and early terminations, all this
        through initiatives of continuous improvement, benchmarking and market intelligence.
      </p>
    </div>
  </div>
</div>
