
.activity-name {
  line-height: 13pt !important;
  font-size: 11pt;
}

.no-event {
  text-align: center;
  font-style: italic;
  font-weight: 300;
  font-size: 12pt;
  color: #a1a6ac;
}

.text-actividad {
  color: rgb(144, 144, 144);
  font-weight: 500 !important;
  font-size: 11pt;
  font-style: italic;
}



.text-date-card-activity {
  color: #757575;
  font-weight: 600px;
}
