<div class="row">
  <div
    class="col-lg-6 col-md-12 col-sm-12 p-2 first-half-card-activity pt-3 pb-3"
  >
    <div class="container-fluid h-100">
      <span class="date-activity"
        >{{ this.daynameselected }} {{ this.dayselected }}</span
      >
      <br />
      <mdb-carousel class="carousel slide pt-0 mt-0 h-100" [animation]="'slide'" *ngIf="selectedActivity.length !== 0" [isControls]="true" [interval]="0" id="actividades-carousel">
        <mdb-carousel-item *ngFor="let actividad of selectedActivity">
          <div class="w-100">
              <div class="jumbotron rounded shadow-sm p-2 mt-2 mb-1 d-flex justify-content-center align-items-center w-100" style="height: 8.4em;">
                  <div class="sin-eventos mx-auto text-center">
                    <img
                      src="https://c3devapp.cl/sg/assets/img/sin_eventos.png"
                      draggable="false"
                      class="mt-0 pt-0 pb-2"
                      alt=""
                    />
                  </div>
                </div>
                <h6 class="text-1 bold activity-name pt-2">
                  {{ actividad.titulo_actividad }}
                </h6>
          </div>
            <a
              href="javascript:void(0)"
              class="text-actividad"
              (click)="basicModal.show()"
              >Ver detalles
              <i
                class="fas fa-external-link-alt ml-2"
                style="color: #00A9B7"
              ></i
            ></a>

            <!-- Modal Evento -->

            <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                      <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title w-100" id="myModalLabel">{{ actividad.titulo_actividad | titlecase}}</h4>
                  </div>
                  <div class="modal-fecha">
                    <span>{{ actividad.fecha_actividad.getDate() }} de {{ months[actividad.fecha_actividad.getMonth()] }}, {{ actividad.fecha_actividad.getFullYear() }}</span>
                  </div>
                  <div class="modal-body">
                    <div class="desc-actividad shadow-sm">
                      <span class="bold">Descripción</span> <br>
                      {{ actividad.descripcion_actividad }}
                    </div>
                    <div class="lugar-actividad shadow-sm">
                      <span class="bold">¿Dónde?</span> <br>
                      <span>{{ actividad.ubicacion_actividad }}</span> <br>
                      <span class="bold">¿Horario?</span> <br>
                      <span>Desde las {{ actividad.horario_inicio }} hasta las {{ actividad.horario_fin }}</span>
                    </div>
                    <span class="asis">Interesados: </span><span class="result">-</span><br>
                    <span class="asis">Asistirán: </span><span class="result">-</span><br>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" #loguear class="btn btn-interesa">Me interesa</button>
                    <button type="submit" #loguear class="btn btn-asistire">Asistiré</button>
                  </div>
                </div>
              </div>
            </div>

        </mdb-carousel-item>
      </mdb-carousel>
      <!-- En caso que no hayan eventos el día actual -->
      <div *ngIf="selectedActivity.length === 0">
          <div class="jumbotron rounded shadow-sm p-2 mt-2 mb-1"  style="height: 8.4em;">
              <div class="sin-eventos mx-auto text-center">
                <p class="no-event mb-0 pt-0">
                  Hoy no tenemos eventos agendados
                </p>
                <img
                  src="https://c3devapp.cl/sg/assets/img/sin_eventos.png"
                  draggable="false"
                  class="mt-0 pt-0 pb-2"
                  alt=""
                />
              </div>
            </div>
      </div>
    </div>
  </div>
  <div
    class="col-lg-6 col-md-12 col-sm-12 text-center p-0 mx-auto d-flex justify-content-around"
  >
    <!-- Aquí va el calendario :v -->
    <div class="jsCalendar h-100" id="my-calendar"></div>
  </div>
</div>
