<div class="animated fadeIn m-0 p-0">
  <div class="row m-0 content-nav">
    <span class="mr-2" routerLink="../">Operaciones</span> <span> > Gerencia Mina</span>
  </div>

  <div class="row content-description-container">
    <div class="col-lg-6 col-md-6 col-sm-12 ml-0 pl-0 content-description-content">
      <h1>Gerencia Mina</h1>
      <p>
        Departamento responsable de implementar la estrategia operacional para cumplir con el
        plan de producción y movimiento de mineral establecido. Para lograrlo debe asegurar la
        correcta operación de los procesos de perforación, tronadura, carga y transporte de
        mineral a través de la gestión de los recursos y activos mineros disponibles que permitan
        asegurar el plan de producción de la compañía.
      </p>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 ml-0 pl-0 content-description-content-english">
      <span>English Version</span>
      <p>
        Department responsible for implementing the operational strategy to comply with the
        established mineral production and movement plan. To achieve this, it must ensure the
        correct operation of the processes of drilling, blasting, loading and ore transport through
        the management of resources and available mining assets that ensure the production plan
        of the company.
      </p>
    </div>
  </div>
</div>

