<div class="d-flex justify-content-between">
  <h3 class="poll-title">Encuestas</h3>
  <div class="close m-0">
    <!-- <i class="fas fa-times-circle" (click)="onQuit.emit(false)"></i> -->
  </div>
</div>
<br />
<div class="container-fluid poll-container">
  <ng-container *ngIf="pollList">
    <app-card-poll
      *ngFor="let poll of pollList"
      [poll]="poll"
      (click)="pollSelect(poll)"
    ></app-card-poll>
  </ng-container>
</div>

<div class="message-icon" (click)="onQuit.emit(false)">
  <img
    src="https://c3soporte00400.cl/sg/assets/img/Encuesta.png"
    class="img-fluid float-right mt-4 "
    style=" cursor: pointer;
            position: absolute;
            bottom: 30px;
            left: 8%;"
    alt=""
    width="40px"
    height="40px"
    matTooltip="Click para cerrar"
    matTooltipPosition="after"
    matTooltipClass="orange-tooltip"
  />
</div>
