.poll-title {
  color: white;
  font-weight: 900 !important;
  padding-top: 1em;
  padding-left: .6em;
}

.poll-container {
  height: 70%;
  overflow-y: scroll;
  margin-right: 5px;
}

.message-icon {
  width: 100% !important;
  height: 100px !important;
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: none;
  opacity: .5;
  padding-top: 1.3em;
  padding-left: .8em;
  padding-bottom: 0;
}

.close > i {
  cursor: pointer;
}
