<div class="animated fadeIn m-0 p-0">
  <div class="row m-0 content-nav">
    <span class="mr-2" routerLink="../">Gerencia General</span> <span> > Gerencia Proyectos Planta</span>
  </div>

  <div class="row content-description-container">
    <div class="col-lg-6 col-md-6 col-sm-12 ml-0 pl-0 content-description-content">
      <h1>Gerencia Proyectos Planta</h1>
      <p>
        Departamento responsable de desarrollar los proyectos de mejoramiento de la planta
        concentradora para alcanzar 130 KTPD en forma sostenible. Su responsabilidad arranca
        desde los estudios pre inversionales hasta la construcción y entrega a Operaciones,
        asegurando la ejecución de los proyectos dentro del plazo, costo y calidad comprometida
        con los dueños.
      </p>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 ml-0 pl-0 content-description-content-english">
      <span>English Version</span>
      <p>
        Department responsible for developing the improvement projects of the concentrator
        plant to achieve 130 KTPD in a sustainable manner. Its responsibility starts from the pre-
        investment studies until the construction and delivery to Operations, ensuring the
        execution of the projects within the term, cost and quality committed with the owners.
      </p>
    </div>
  </div>
</div>
