<!-- template -->
    <!-- masterslider -->
    <div class="master-slider ms-skin-default" id="masterslider2">
        <div class="ms-slide shadow-lg">
          <img
            src="assets/masterslider/style/blank.gif"
            data-src="assets/img/foto2.PNG"
            alt="lorem ipsum dolor sit"
          />
          <div class="triangle-down"></div>
          <div class="ms-layer ms-caption" style=" left:30px;">
            <div class="row m-0">
              <img src="assets/img/icono_resultados.png" alt="" class="resultados-png">
              <h4 class="pl-3 m-0">
                RESULTADOS<br />
                <small style="font-style: italic; font-size: 11pt; margin-left: -1px;">Febrero</small>
              </h4>
            </div>
          </div>
          <div class="ms-info">
            <div class="left-side-content">
              <h1 class="title-left-side">Seguridad <br> <span>TRIFR</span></h1>
            </div>
            <div class="center-icon">
              <img src="assets/img/Resultados/1.png" class="center-icon-png" alt="">
            </div>
            <div class="right-side-content">

            </div>
          </div>
        </div>
        <div class="ms-slide shadow-lg">
          <img
            src="assets/masterslider/style/blank.gif"
            data-src="assets/img/foto2.PNG"
            alt="lorem ipsum dolor sit"
          />
          <div class="triangle-down"></div>
          <div class="ms-layer ms-caption" style=" left:30px;">
            <div class="row m-0">
              <img src="assets/img/icono_resultados.png" alt="" class="resultados-png">
              <h4 class="pl-3 m-0">
                RESULTADOS<br />
                <small style="font-style: italic; font-size: 11pt; margin-left: -1px;">Febrero</small>
              </h4>
            </div>
          </div>
          <div class="ms-info">
            <div class="left-side-content">
              <h1 class="title-left-side">Seguridad <br> <span>TRIFR</span></h1>
            </div>
            <div class="center-icon">
              <img src="assets/img/Resultados/1.png" class="center-icon-png" alt="">
            </div>
            <div class="right-side-content">

            </div>
          </div>
        </div>

      </div>
      <!-- end of masterslider -->
