<!-- template -->
    <!-- masterslider -->
    <div class="master-slider ms-skin-default" id="masterslider2">
      <div class="ms-slide shadow-lg">
        <img
          src="assets/masterslider/style/blank.gif"
          data-src="assets/img/foto2.PNG"
          alt="lorem ipsum dolor sit"
        />
        <!-- <div class="triangle-down"></div> -->
        <div class="ms-layer ms-caption" style=" left:30px;">
          <!-- <p>
            <span
              >15<br />
              <small>FEB</small></span
            >
          </p> -->
          <div class="row m-0">
            <!-- <div class="color-1-1"></div>
            <div class="color-1-2"></div> -->
            <h4 class="pl-3 m-0">
              RESULTADOS<br />
              <small style="font-style: italic; font-size: 11pt; margin-left: -1px;">Febrero</small>
            </h4>
          </div>
        </div>
        <!-- <div class="ms-info"></div> -->
      </div>

    </div>
    <!-- end of masterslider -->
