<div class="animated fadeIn m-0 p-0">
  <div class="row m-0 content-nav">
    <span class="mr-2" routerLink="../">Operaciones</span> <span> > Gerencia Mantención Planta</span>
  </div>

  <div class="row content-description-container">
    <div class="col-lg-6 col-md-6 col-sm-12 ml-0 pl-0 content-description-content">
      <h1>Gerencia Mantención Planta</h1>
      <p>
        Departamento responsable de definir y aplicar estrategias de mantención con el objetivo
        de mantener los equipos en condiciones operativas y funcionales para poder alcanzar las
        metas de producción segura, a través de un sistema basado en mantención preventiva y
        predictiva planificada que permita minimizar costos a través de la mantención basada en
        condición de los equipos y utilizando tecnología de punta para optimizar la confiabilidad
        de los mismos.
      </p>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 ml-0 pl-0 content-description-content-english">
      <span>English Version</span>
      <p>
        Department responsible of defining and applying maintenance strategies in order to keep
        the equipment in operational and functional conditions to achieve the goals of safe
        production, through a system based on planned preventive and predictive maintenance
        that minimizes costs through maintenance based on condition of the equipment and using
        state of the art technology to optimize their reliability.
      </p>
    </div>
  </div>
</div>
