<div class="beneficios-categorias-header">
  <div class="beneficios-categorias-header-titulo">
    <div class="beneficios-categorias-header-titulo-boton">
      <i class="fas fa-chevron-circle-left" [routerLink]="['/beneficios']"></i>
    </div>
    <div class="beneficios-categorias-header-titulo-nombre">
      Formularios Laborales
    </div>

  </div>
</div>
<div class="formulario">
  <div class="formulario-titulo">
      Selecciona el formulario de tu interés y haz clic para envierlo a tu email.
  </div>
  <div class="formulario-container row">
    <div class="formulario-container-seleccion col-lg-8 col-md-6 col-sm-12">
      <select class ="shadow" name="" id="">
        <option value="">Antecedentes Personales</option>
        <option value="">Anticipo de Sueldo</option>
        <option value="">Actualización Email</option>
        <option value="">Contingencias eventos</option>
        <option value="">Beca Escolar</option>
        <option value="">Reembolsos Médico</option>
        <option value="">Bono Flex</option>
        <option value="">Antecedentes Personales</option>
        <option value="">Reembolsos Dentales</option>
        <option value="">Formulario de Vacaciones</option>
      </select>
      <div class="formulario-container-seleccion-botonbox">
        <div class="formulario-container-seleccion-botonbox-boton">
          Descargar
        </div>
        <div class="formulario-container-seleccion-botonbox-boton">
          Enviar
        </div>
      </div>
    </div>
    <div class="formulario-container-img col-lg-4 col-md-6 col-sm-12">
      <img src="" alt="">
    </div>
  </div>
</div>
