<div class="comunicaciones-titulo">
  <div class="comunicaciones-titulo-volver">
    <i class="fas fa-chevron-circle-left" [routerLink]="['/comunicaciones']"></i>
  </div>
  <div class="comunicaciones-titulo-nombre">
    <h1>Revistas</h1>
  </div>
</div>
<div class="comunicaciones-container">
  <div>
    <div class="comunicaciones-container-button animated fadeIn" [routerLink]="['/personas/revista-sgnews']">
      <img src="https://c3soporte00400.cl/sg/assets/img/comunicaciones/Botones_Revistas_SG_News.png" style="width: 170px;" alt="">
    </div>
    <div class="comunicaciones-container-nombre">
      Revista<br/>SG News
    </div>
  </div>
  <div>
    <div class="comunicaciones-container-button animated fadeIn" [routerLink]="['/personas/revista-catabela']">
      <img src="https://c3soporte00400.cl/sg/assets/img/comunicaciones/Botones_Revistas_Catabela.png" style="width: 170px;" alt="">
    </div>
    <div class="comunicaciones-container-nombre">
      Revista<br/>Catabela
    </div>
  </div>
</div>
