<div class="row m-0 p-0"> <!-- Header -->
  <div class="col-6">
    <h1 class="galeria-title animated fadeIn faster">
      Galeria
    </h1>
  </div>
  <div class="col-6 galeria-actions">
    <div class="galeria-actions-content">

    </div>
  </div>
</div> <!-- Fin Header -->

<div class="row galeria-album"> <!-- Content -->
  <div class="col-lg-4 d-flex align-items-center">
    <img src="https://c3devapp.cl/sg/assets/img/meses/grandes/{{monthShortM[_month-1]}}-grande.png" style="width: 100%" alt="mes">
  </div>
  <div class="col-lg-8 galeria-album-container shadow">
    <div class="row h-50">
      <ng-container *ngIf="gs.albumList">
        <ng-container *ngFor="let album of gs.albumList">
          <div class="galeria-album-item col-lg-2 shadow" [routerLink]="['./', album.id]">
            <span>{{album.nombre}}</span>
            <span class="counter">
              {{album.cuenta}}
            </span>
          </div>
        </ng-container>
      </ng-container>
    </div>

  </div>
</div>
