$darkblue: #214083;
$green: #109147;
$yellow: #FCD902;
$orangestar: #ED5624;
$redestar: #DE1E26;


.bg-estar-red {
  background-color: $redestar;
}

.bg-estar-orange {
  background-color: $orangestar;
}

.bg-estar-blue {
  background-color: $darkblue;
}

.bg-estar-yellow {
  background-color: $yellow;
}

.bg-estar-green {
  background-color: $green;
}

h1 {
  font-weight: 800;
  color: #5a5a5a;
  font-size: 35pt;
}

.orange-text {
  color: #FF5900 !important
}

.subtitle {
  strong {
    font-weight: 600 !important;
  }
  font-size: 20pt;
  font-weight: 500;
  color: #5a5a5a;
}

h6.title {
  font-weight: 800;
  font-size: 20pt;
  color: #5b6b6b;
}

.full-text {
  color: #8b8b8b;
  font-size: 12pt;
  font-weight: 300;
  line-height: 23pt;
  strong {
    font-weight: 500 !important;
  }
}

.complementary-text {
  background-color: #eee;
  border-radius: 20px;
  padding: 15px 30px;
  height: 240px;

  color: #8b8b8b;
  font-size: 12pt;
  font-weight: 300;
  line-height: 23pt;
  strong {
    font-weight: 500 !important;
  }
}

.valor {
  &-item {
    margin-top: 45px;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px;

    text-align: center;

    &-logo {
      width: 160px;
      height: 160px;
      display: flex;
      justify-content: center;
      align-items: center;

      border-radius: 50%;
      // margin-bottom: 5px;
    }

    &-name {
      font-weight: 400;
      color: #5c6b6b;
      font-size: 14pt;
      margin-top: 15px;
    }
  }
}
