<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12  animated fadeInLeftBig">
      <h1  style="user-select: none">¿Quiénes Somos?</h1>
      <p class="subtitle"  style="user-select: none"><strong class="orange-text">Sierra Gorda SCM</strong> se ubica en la comuna de...</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 text-right animated fadeInRightBig">
      <img src="https://c3devapp.cl/sg/assets/img/img_quienes_somos.png" alt="IMG-Sierra-Gorda" class="img-fluid mb-4" style="width: 340px">
    </div>
  </div>
  <div class="row  animated fadeInUpBig">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <p class="full-text"  style="user-select: none">
        SierraGorda, Región de Antofagasta, Chile, a 60 kilómetros de la ciudad de Calama y a 150 kilómetros de la ciudad de Antofagasta. Sus instalaciones están emplazadas a 1.626 m de altitud, en pleno <strong> Desierto de Atacama </strong>. <br/> <br/>

        <!-- <strong>El proyecto está situado a 4,5 kilómetros</strong> de la locaidad del mismo nombre. El CAPEX inicial para la puesta en marcha del proyecto serían US$3,9 billones. <br/> <br/>

        Durante la primera etapa se llevará a cabo la construcción de la mina, si ingraestructura y el levantamiento de una planta concertadora con una capacidad de 110.000 tpd de mineral. Después está considerada una <span style="font-style: italic">fase II</span>,en la que se <strong>aumentará la capacidad de la concertadora de 190.000 tpd.</strong>

        En la <span style="font-style: italic">fase I</span>, la producción se situará en todno de las 120.000 TMF de cobre, cantidad que se elevará a 237.000 TMF de cobre en la <span style="font-style: italic">fase II</span>. La mina tiene contemplada una vida útil de 20 años, considerando las dos etapas, para <strong>empezar a producir en el primer semestre de 2014</strong>, con una ley de cobre fino de 0,99% y un costo de producción de US$1,15 la libra. -->

        En Sierra Gorda SCM producimos concentrado de cobre y molibdeno. Se procesan diariamente 115.000 toneladas de mineral, produciendo 108.000 toneladas de cobre al año. <br><br>
        La producción de molibdeno alcanza los 9 mil toneladas al año, siendo un importante aporte a la producción del país. Somos la operación que produce con menor ley de sulfuros de cobre, con el
        desafío constante de buscar alternativas y nuevas formas de producir, lo que nos posiciona como pioneros en minería de baja ley.
      </p>
    </div>
  </div>
</div>
