<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12  animated fadeInLeftBig">
      <h1  style="user-select: none">¿Quiénes Somos?</h1>
      <p class="subtitle"  style="user-select: none"><strong class="orange-text">Sierra Gorda SCM</strong> se ubica en la comuna de...</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 text-right animated fadeInRightBig">
      <img src="https://c3soporte00400.cl/sg/assets/img/img_quienes_somos.png" alt="IMG-Sierra-Gorda" class="img-fluid mb-4" style="width: 340px">
    </div>
  </div>
  <div class="row  animated fadeInUpBig">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <p class="full-text"  style="user-select: none">
        Sierra Gorda SCM se ubica en la Comuna de Sierra Gorda, Región de Antofagasta, Región de Antofagasta, Chile, a 60 kilómetros de la ciudad de Calama y a 150 kilómetros de la ciudad de Antofagasta. Sus <strong>instalaciones</strong> están emplazadas a <strong>1.626 m de altitud</strong>, en pleno <strong> Desierto de Atacama </strong>. <br/> <br/>

        En Sierra Gorda SCM producimos <strong>concentrado de cobre y molibdeno</strong>. Se procesan <strong>diariamente 115.000 toneladas de mineral</strong>, produciendo <strong>108.000 toneladas de cobre al año</strong>. La producción de <strong>molibdeno</strong> alcanza los <strong>9 mil toneladas al año</strong>, siendo un importante aporte a la producción del país. Somos la operación que produce con menor ley de sulfuros de cobre, con el desafío constante de buscar alternativas y nuevas formas de producir, los que nos posiciona como <strong>pioneros en minería de baja ley</strong>.
      </p>

      <br>

      <div class="row">
        <div class="col-6 p-0 pr-3">
          <h6 class="title"  style="user-select: none">Visión</h6>
          <p class="complementary-text"  style="user-select: none">
              Sentirnos orgullosos de <strong>operar sustentablemente</strong> un yaciemiento de <strong>sulfuros de baja ley</strong>, a través de una cultura segura, disciplinada, eficiente y orientada a los procesos, aprovechando todo el potencial de las personas y los equipos de trabajo, creando valor para nuestros trabajadores, la comunidad y los dueños. <br><br>
          </p>
        </div>
        <div class="col-6 p-0 pl-3">
          <h6 class="title"  style="user-select: none">Misión</h6>
          <p class="complementary-text"  style="user-select: none">
              Generar instancias para <strong>optimizar la productividad</strong> de la compañía, para obtener un <strong>producto de calidad</strong> que permita conseguir mayores márgenes de utlidades, resguardando la sustentabilidad del negocio en términos financieros, ambientales y de las personas.
          </p>
        </div>
      </div>
      <br>
      <h6 class="title"  style="user-select: none">Focos Estratégicos</h6>
      <div class="d-flex justify-content-center pt-4 mt-4">
        <div class="d-flex flex-column text-center mr-4">
          <img src="https://c3soporte00400.cl/sg/assets/img/personas.png" style="width: 160px;" alt="">
          <span style="font-weight: 400; font-size: 16pt; color: #5b6b6b; margin-top: 15px;">Personas</span>
        </div>
        <div class="d-flex flex-column text-center ml-4 mr-4">
          <img src="https://c3soporte00400.cl/sg/assets/img/produccion.png" style="width: 160px;" alt="">
          <span style="font-weight: 400; font-size: 16pt; color: #5b6b6b; margin-top: 15px;">Producción<br/>Segura</span>
        </div>
        <div class="d-flex flex-column text-center ml-4">
          <img src="https://c3soporte00400.cl/sg/assets/img/costos.png" style="width: 160px;" alt="">
          <span style="font-weight: 400; font-size: 16pt; color: #5b6b6b; margin-top: 15px;">Costos</span>
        </div>
      </div>
    </div>
  </div>
</div>
