h1 {
  font-weight: 800;
  color: #5a5a5a;
  font-size: 35pt;
}

.orange-text {
  color: #FF5900 !important
}

.subtitle {
  strong {
    font-weight: 600 !important;
  }
  font-size: 20pt;
  font-weight: 500;
  color: #5a5a5a;

}

.full-text {
  color: #8b8b8b;
  font-size: 12pt;
  font-weight: 300;
  line-height: 23pt;
  strong {
    font-weight: 500 !important;
  }
}
