<div class="container-fluid">
  <img src="https://c3soporte00400.cl/sg/assets/img/Mapa_Ubicacion.png" alt="" class="map-img d-none d-md-block animated fadeIn">
  <div class="d-flex justify-content-center">
    <div class="col-lg-8 col-md-8 col-sm-10">
      <div class="info-dialog shadow animated fadeInUp">
        <h2 style="user-select: none">
          Región de Antofagasta
        </h2>
        <p style="user-select: none">
          La Minera <span class="orange-text">Sierra Gorda SCM</span> está situada en la cuenca del cobre de Chile, en el Desierto de Atacama, en la Región Antofagasta, a unos 60 km al suroeste de la ciudad de Calama, en el norte de Chile.
        </p>
      </div>
    </div>
  </div>
</div>
