<div class="beneficios">
  <div class="beneficios-titulo">
    <h1>Beneficios</h1>
  </div>
  <div class="beneficios-container">
    <div>
      <div class="beneficios-container-button shadow" [routerLink]="['./salud']">
        <img src="https://c3devapp.cl/sg/assets/img/Beneficios/corazon_beneficios.png" alt="">
      </div>
      <div class="beneficios-container-nombre">
        Salud
      </div>
    </div>
    <div>
      <div class="beneficios-container-button shadow" [routerLink]="['./convenios']">
        <img src="https://c3devapp.cl/sg/assets/img/Beneficios/cruz_beneficios.png" alt="">

      </div>
      <div class="beneficios-container-nombre">
        Convenios
      </div>
    </div>
    <div>
      <div class="beneficios-container-button shadow" [routerLink]="['./formularios-laborales']">
        <img src="https://c3devapp.cl/sg/assets/img/Beneficios/formulario_beneficios.png" alt="">
      </div>
      <div class="beneficios-container-nombre">
        Formularios <br> Laborales
      </div>
    </div>
  </div>
</div>


