<div class="beneficios">
  <div class="beneficios-titulo">
    <h1>Beneficios</h1>
  </div>
  <div class="beneficios-container">
    <div>
      <div class="beneficios-container-button shadow" [routerLink]="['./salud']" (click)="ga.onBeneficioMenuClick('Salud')">
        <img src="https://c3soporte00400.cl/sg/assets/img/Beneficios/Salud_Menu.png" alt="">
      </div>
      <div class="beneficios-container-nombre">
        Salud
      </div>
    </div>
    <div>
      <div class="beneficios-container-button shadow" [routerLink]="['./convenios']" (click)="ga.onBeneficioMenuClick('Convenios')">
        <img src="https://c3soporte00400.cl/sg/assets/img/Beneficios/Convenios_Menu.png" alt="">

      </div>
      <div class="beneficios-container-nombre">
        Convenios
      </div>
    </div>
    <div>
      <div class="beneficios-container-button shadow" [routerLink]="['./formularios-laborales']" (click)="ga.onBeneficioMenuClick('Formularios')">
        <img src="https://c3soporte00400.cl/sg/assets/img/Beneficios/Formulario_Menu.png" alt="">
      </div>
      <div class="beneficios-container-nombre">
        Formularios <br> Laborales
      </div>
    </div>
  </div>
</div>


