$orange: #ff5900;
$orange-strong: rgb(202, 71, 0);
$blueSG: #3fbac5;
$blueSG-80: rgba(62, 186, 197, 0.8);
$blueSG-40: rgba(62, 186, 197, 0.4);
$blueSG-light: #72ccd4;
$blueSG-strong: #4eaab3;
$blueSG-20: rgba(63, 186, 197, 0.2);
$darkCalipso: #3a9e91;

.user-select {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}


.persa {
  &-title {
    @extend .user-select;
    color: $blueSG;
    font-weight: 800;
    font-size: 4rem;
  }

  &-subtitle {
    @extend .user-select;
    color: #5c5c5c;
    font-weight: 500;
  }

}

.select-category {
  display: -ms-flexbox;
  display: flex;
  background: $blueSG-80;
  border-radius: 50px;
  padding: 3px;
  width: max-content;

  &-container {
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &-option {
    @extend .user-select;
    padding: 6px 10px;
    font-size: 16pt;
    border-radius: 50px;
    margin: 3px;
    color: $darkCalipso;
    &:hover {
      background-color: rgba(255, 255, 255, 0.7);
    }
    &-active {
      background-color: rgba(255, 255, 255, 1) !important;
    }
    transition: background-color 0.2s;
  }
}
