<div class="container h-50">
  <div class="row m-0 p-0">
    <div class="col-6 animated fadeInLeft">
      <h1 class="persa-title">
        PERSA SG
      </h1>
      <p class="persa-subtitle">
        Compra y/o vende diferentes artículos entre compañeros.
      </p>
    </div>
    <div class="col-6 select-category-container">
      <div class="select-category">
        <div
          class="select-category-option mr-2"
          [routerLink]="['/personas/persasg/lista-productos']" routerLinkActive="select-category-option-active"
        >
          <i class="fas fa-shopping-cart"></i>
        </div>
        <div
          class="select-category-option"
          [routerLink]="['/personas/persasg/mis-productos']" routerLinkActive="select-category-option-active"
        >
          <i class="fas fa-tags"></i>
        </div>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>
  <div class="w-100 m-4 p-4"></div>
</div>
