<div class="container animated fadeInUp">
  <div class="action-button">
    <button class="action-button-item" [routerLink]="['/nuestra-empresa/gerencia/operaciones']" routerLinkActive="action-button-item-active">Operaciones</button>
    <button class="action-button-item" [routerLink]="['/nuestra-empresa/gerencia/finanzas']" routerLinkActive="action-button-item-active">Finanzas</button>
    <button class="action-button-item" [routerLink]="['/nuestra-empresa/gerencia/rrhh']" routerLinkActive="action-button-item-active">Recursos<br/>Humanos</button>
    <button class="action-button-item" [routerLink]="['/nuestra-empresa/gerencia/serv-corp']" routerLinkActive="action-button-item-active">Servicios<br/>Corporativos</button>
    <button class="action-button-item" [routerLink]="['/nuestra-empresa/gerencia/sustentabilidad']" routerLinkActive="action-button-item-active">Sustentabilidad<br/>AA.EE y Legal</button>
    <button class="action-button-item" [routerLink]="['/nuestra-empresa/gerencia/gerencia-general']" routerLinkActive="action-button-item-active">Gerencia<br/>General</button>
  </div>
  <router-outlet></router-outlet>
</div>
