<div class="animated fadeIn m-0 p-0">
  <div class="row m-0 content-nav">
    <span class="mr-2" routerLink="../">Gerencia General</span> <span> > Gerencia Swat Team</span>
  </div>

  <div class="row content-description-container">
    <div class="col-lg-6 col-md-6 col-sm-12 ml-0 pl-0 content-description-content">
      <h1>Gerencia Swat Team</h1>
      <p>
        Departamento responsable del control y supervisión de todas las actividades relacionadas
        con el desarrollo de negocios, proyectos operacionales de la planta, optimización de los
        equipos y procesos, así como proyectos relacionados con el logro 130 KTPD. Uno de los
        objetivos principales es el mejoramiento de la comunicación entre los diferentes
        departamentos, especialmente Operaciones, Mantenimiento, Metalurgia y Proyecto de
        Plantas, para garantizar el intercambio de conocimientos y experiencias del equipo de
        Sierra Gorda SCM en la realización de varios proyectos, uno de los cuales es el proyecto
        DBN.
      </p>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 ml-0 pl-0 content-description-content-english">
      <span>English Version</span>
      <p>
        Department responsible of control and overwatch of all the activities related to business
        development, plant operational projects, optimization of the equipment and processes as
        well as projects related with achievement 130 KTPD. One of the main goals is the
        improvement of communication between different departments especially Operations,
        Maintenance, Metallurgy and Plant Project to ensure the exchange of knowledge and
        experiences of Sierra Gorda SCM team in realization various projects, with one main which
        is DBN project.
      </p>
    </div>
  </div>
</div>
