<div class="animated fadeIn m-0 p-0">
  <div class="row m-0 content-nav">
    <span class="mr-2" routerLink="../">Sustentabilidad AA.EE y Legal</span> <span> > Gerencia Sustentabilidad</span>
  </div>

  <div class="row content-description-container">
    <div class="col-lg-6 col-md-6 col-sm-12 ml-0 pl-0 content-description-content">
      <h1>Gerencia Sustentabilidad</h1>
      <p>
        Departamento responsable de gestionar los instrumentos ambientales estratégicos
        necesarios para la sustentabilidad de la operación, analizando estratégicamente las
        brechas de ingenierías y desviaciones de construcción con relación a la autorizaciones y
        cumplimientos ambientales, con el fin de direccionar a la Compañía en la regulación de los
        temas. Además, es responsable de llevar el relacionamiento con la autoridad política,
        ambiental y sectorial, que sean relevantes para la sustentabilidad de la operación.
        Representante ante asociaciones gremiales y/o grupos de trabajos externos, en temas
        relacionados con la Sustentabilidad (Medio Ambiente, Eficiencia Energética, Recursos
        Hídricos, Innovación).
      </p>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 ml-0 pl-0 content-description-content-english">
      <span>English Version</span>
      <p>
        Department responsible for managing the strategic environmental instruments necessary
        for the sustainability of the operation, strategically analyzing the engineering gaps and
        deviations of construction in relation to environmental authorizations and compliance, in
        order to direct the Company in the regulation of the issues. In addition, it is responsible
        for carrying out the relationship with the political, environmental and sectoral authority,
        which are relevant to the sustainability of the operation. Representative before trade
        associations and / or groups of external works, in subjects related to Sustainability
        (Environment, Energy Efficiency, Water Resources, Innovation).
      </p>
    </div>
  </div>
</div>
