<!-- First Banner -->
<div class="container-fluid wow fadeIn">
  <app-slider code="banner-principal"></app-slider>
</div>
<br />
<br />

<!--  Links Buttons -->
<div class="container">
  <div
    class="row text-center mx-auto d-flex justify-content-between  pl-4 pb-2"
  >
    <div
      class="col-xs-12 col-sm-6 col-md-6 col-lg-3 wow fadeInLeftBig pb-2"
      (mouseover)="onButtonHover('Nuestra Compañía', true)"
      (mouseleave)="onButtonHover('Nuestra Compañía', false)"
    >
      <button id="compania" class="link-buttons">
        <div class="row m-0">
          <div id="compania-1" class="color-1-1"></div>
          <div id="compania-2" class="color-1-2"></div>
          <span id="compania-3" class="text-1 pr-2 text-buttons my-auto mx-auto"
            >Nuestra<br /><strong>COMPAÑÍA</strong></span
          >
        </div>
      </button>
      <div id="compania-options" class="container-open-link-1">
        <div class="triangle-up"></div>
        <ul>
          <li routerLink="/test">
            <span>Quienes Somos</span><i class="fas fa-chevron-right"></i>
          </li>
          <li routerLink="#">
            <span>Historia</span><i class="fas fa-chevron-right"></i>
          </li>
          <li routerLink="#">
            <span>Propiedad</span><i class="fas fa-chevron-right"></i>
          </li>
          <li routerLink="#">
            <span>Equipo Ejecutivo</span><i class="fas fa-chevron-right"></i>
          </li>
          <li routerLink="#">
            <span>Gerencia / Superintendencias</span
            ><i class="fas fa-chevron-right"></i>
          </li>
          <li routerLink="#">
            <span>Proceso Productivo</span><i class="fas fa-chevron-right"></i>
          </li>
          <li routerLink="#">
            <span>Políticas</span><i class="fas fa-chevron-right"></i>
          </li>
          <li routerLink="#">
            <span>Ubicación</span><i class="fas fa-chevron-right"></i>
          </li>
        </ul>
      </div>
    </div>
    <div
      class="col-xs-12 col-sm-6 col-md-6 col-lg-3 wow fadeInUpBig pb-4"
      (mouseover)="onButtonHover('Personas', true)"
      (mouseleave)="onButtonHover('Personas', false)"
    >
      <button id="personas" class="link-buttons">
        <div class="row m-0">
          <div id="personas-1" class="color-2-1"></div>
          <div id="personas-2" class="color-2-2"></div>
          <span id="personas-3" class="pr-2 text-2 text-buttons my-auto mx-auto"
            ><strong>PERSONAS</strong></span
          >
        </div>
      </button>
      <div id="personas-options" class="container-open-link-2">
        <div class="triangle-up"></div>
        <ul>
          <li routerLink="#">
            <span>Cultura</span><i class="fas fa-chevron-right"></i>
          </li>
          <li routerLink="#">
            <span>Portal de Videos</span><i class="fas fa-chevron-right"></i>
          </li>
          <li routerLink="#">
            <span>Revista</span><i class="fas fa-chevron-right"></i>
          </li>
          <li routerLink="#">
            <span>Cumpleaños</span><i class="fas fa-chevron-right"></i>
          </li>
          <li routerLink="#">
            <span>Persa SG</span><i class="fas fa-chevron-right"></i>
          </li>
          <li routerLink="#">
            <span>Comunidades</span><i class="fas fa-chevron-right"></i>
          </li>
        </ul>
      </div>
    </div>
    <div
      class="col-xs-12 col-sm-6 col-md-6 col-lg-3 wow fadeInUpBig pb-4"
      (mouseover)="onButtonHover('Aplicaciones', true)"
      (mouseleave)="onButtonHover('Aplicaciones', false)"
    >
      <button id="aplicaciones" class="link-buttons">
        <div class="row m-0">
          <div id="aplicaciones-1" class="color-3-1"></div>
          <div id="aplicaciones-2" class="color-3-2"></div>
          <span
            id="aplicaciones-3"
            class=" pr-2 text-3 text-buttons my-auto mx-auto"
            ><strong>APLICACIONES</strong></span
          >
        </div>
      </button>
      <div id="aplicaciones-options" class="container-open-link-3">
        <div class="triangle-up"></div>
        <ul>
          <li routerLink="#">
            <span>Cultura</span><i class="fas fa-chevron-right"></i>
          </li>
          <li routerLink="#">
            <span>Portal de Videos</span><i class="fas fa-chevron-right"></i>
          </li>
          <li routerLink="#">
            <span>Revista</span><i class="fas fa-chevron-right"></i>
          </li>
          <li routerLink="#">
            <span>Cumpleaños</span><i class="fas fa-chevron-right"></i>
          </li>
          <li routerLink="#">
            <span>Persa SG</span><i class="fas fa-chevron-right"></i>
          </li>
          <li routerLink="#">
            <span>Comunidades</span><i class="fas fa-chevron-right"></i>
          </li>
        </ul>
      </div>
    </div>
    <div
      class="col-xs-12 col-sm-6 col-md-6 col-lg-3 wow fadeInRightBig pb-4"
      (mouseover)="onButtonHover('Mis Herramientas', true)"
      (mouseleave)="onButtonHover('Mis Herramientas', false)"
    >
      <button id="herramientas" class="link-buttons">
        <div class="row m-0">
          <div id="herramientas-1" class="color-4-1"></div>
          <div id="herramientas-2" class="color-4-2"></div>
          <span
            id="herramientas-3"
            class=" pr-2 text-4 text-buttons my-auto mx-auto"
            >Mis<br /><strong>HERRAMIENTAS</strong></span
          >
        </div>
      </button>
      <div id="herramientas-options" class="container-open-link-4">
        <div class="triangle-up"></div>
        <ul>
          <li routerLink="#" class="shadow-sm">
            <span>Chat</span><i class="fas fa-chevron-right"></i>
          </li>
          <li routerLink="#" class="shadow-sm">
            <span>Desafío Austeridad</span><i class="fas fa-chevron-right"></i>
          </li>
          <li routerLink="#" class="shadow-sm">
            <span>Branding y Formatos</span><i class="fas fa-chevron-right"></i>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Second Banner -->
<div class="container mt-4 slider-2 wow fadeInUp">
  <!-- <app-slider code="banner-presupuesto"></app-slider> -->
  <app-slider-presupuesto></app-slider-presupuesto>
  <div class="container-fluid text-center">
    <p class="pt-2 legend">
      <span class="slider-color-1 pr-1"> <i class="fas fa-circle"></i> </span>
      Resultado positivo
      <span class="slider-color-2 pl-4 pr-1 ml-4">
        <i class="fas fa-circle"></i>
      </span>
      Resultado negativo
      <span class="slider-color-3 pl-4 pr-1 ml-4">
        <i class="fas fa-circle"></i>
      </span>
      Real
      <span class="slider-color-4 pl-4 pr-1 ml-4">
        <i class="fas fa-circle"></i>
      </span>
      Presupuesto
    </p>
  </div>
</div>

<!-- Buttons: Noticias, Seguridad, Te reconozco por estar, Beneficios, Galería -->
<div class="container-fluid">
  <div class="row mx-auto d-flex justify-content-center">
    <div
      class="col-xs-12 col-sm-6 col-md-2 col-lg-2 p-0 text-center wow fadeInUp"
    >
      <a href="" class="m-0 p-0">
        <img
          id="icon-noticias"
          (mouseover)="onHoverLink('noticias',1)"
          (mouseleave)="onHoverLink('noticias',2)"
          src="https://c3devapp.cl/sg/assets/img/gif/PNG/1 SECCION_NOTICIAS.png"
          class="img-buttons img-fluid"
        />
      </a>
    </div>
    <div
      class="col-xs-12 col-sm-6 col-md-2 col-lg-2 p-0 img-button-container text-center wow fadeInUp"
    >
      <a href="">
        <img
          id="icon-seguridad"
          (mouseover)="onHoverLink('seguridad',1)"
          (mouseleave)="onHoverLink('seguridad',2)"
          src="https://c3devapp.cl/sg/assets/img/gif/PNG/2 SECCION_SEGURIDAD.png"
          class="img-buttons img-fluid"
        />
      </a>
    </div>
    <div
      class="col-xs-12 col-sm-6 col-md-2 col-lg-2 p-0 img-button-container text-center wow fadeInUp"
    >
      <a href="">
        <img
          id="icon-reconozco"
          (mouseover)="onHoverLink('reconozco',1)"
          (mouseleave)="onHoverLink('reconozco',2)"
          src="https://c3devapp.cl/sg/assets/img/gif/PNG/3 SECCION_TERECONOZCO.png"
          class="img-buttons img-fluid"
        />
      </a>
    </div>
    <div
      class="col-xs-12 col-sm-6 col-md-2 col-lg-2 p-0 img-button-container text-center wow fadeInUp"
    >
      <a href="">
        <img
          id="icon-beneficios"
          (mouseover)="onHoverLink('beneficios',1)"
          (mouseleave)="onHoverLink('beneficios',2)"
          src="https://c3devapp.cl/sg/assets/img/gif/PNG/4 SECCION_BENEFICIOS.png"
          class="img-buttons img-fluid"
        />
      </a>
    </div>
    <div
      class="col-xs-12 col-sm-6 col-md-2 col-lg-2 p-0 img-button-container text-center wow fadeInUp"
    >
      <a href="">
        <img
          id="icon-galeria"
          (mouseover)="onHoverLink('galeria',1)"
          (mouseleave)="onHoverLink('galeria',2)"
          src="https://c3devapp.cl/sg/assets/img/gif/PNG/5 SECCION_GALERIA.png"
          class="img-buttons img-fluid"
        />
      </a>
    </div>
  </div>
</div>

<!-- Footer -->
<div
  class="mt-4 pt-4"
  style="background-image: url(https://c3devapp.cl/sg/assets/img/Footer_Fondo.png); background-size: cover"
>
  <!-- <img src="/assets/img/Footer_Fondo.png" class="footer-img w-100"  draggable="false" style="-moz-user-select: none;"/> -->
  <div class="container-fluid footer-padding">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pr-4 wow fadeInUp">
        <h5 class="title-birthday mb-0 pb-0">
          CUMPLEAÑOS
        </h5>
        <small class="small-birthday">
          ¡Saluda a tus compañeros!
        </small>
        <br />
        <div class="div-birthday shadow pr-0 pl-0" style="padding-top: 1.5em;">
          <div class="day-tag">
            <img src="https://c3devapp.cl/sg/assets/img/contenedor_fecha_cumple.png" alt="" />
            <div class="date-superimposed">
              <span>10</span>
              <span>Feb</span>
            </div>
          </div>
          <app-slider-cumpleanios></app-slider-cumpleanios>
          <div
            class="pt-4"
            style="background-image: url(https://c3devapp.cl/sg/assets/img/cumple.png);
              position: absolute;
              bottom: 2%;
              right: 5.3%;
              width: 91%;
            "
          >
            <div class="text-right pt-2 mr-4">
              <a
                href=""
                class="text-cumpleaños"
                style="text-decoration: underline #00A9B7 !important; color: #00A9B7"
                >Ir a Cumpleaños
                <i
                  class="fas fa-chevron-circle-right ml-2"
                  style="color: #00A9B7"
                ></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 wow fadeInUp">
        <h5 class="title-birthday mb-0 pb-0">
          ACTIVIDADES
        </h5>
        <small class="small-birthday">
          ¿Quieres saber qué actividades tenemos para ti?
        </small>
        <br />
        <div class="div-activity shadow">
          <app-activities></app-activities>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="d-flex flex-row-reverse">
    <img src="https://c3devapp.cl/sg/assets/img/Footer.png" />
  </div>

  <!-- Filtro UV semanal -->
  <div
    class="filtro-uv pt-3 shadow-lg m-0 border-top border-right"
    (mouseover)="toggle_filtro_uv(true)"
    (mouseleave)="toggle_filtro_uv(false)"
    id="filter-button"
  >
    <p class="text-center" *ngIf="!title_hovered">
      <span class="text-1 s-bold text-center mx-auto"
        >ÍNDICE UV DE LA SEMANA</span
      >
    </p>
    <p *ngIf="title_hovered" class="w-100 pl-2">
      <span class="text-1 pl-4 ml-4 s-bold">
        ÍNDICE UV
      </span>
      <span
        class="filter-circle ml-2"
        [style.background-color]="getUVColor(uvactual)"
        >{{ uvactual }}</span
      >
      <span class="text-muted bold ml-2">Moderado </span>
      <a
        class="float-right mr-2 text-3"
        style="text-decoration: underline #00A9B7 !important; color: #00A9B7"
      >
        Ver más
        <i class="fas fa-chevron-circle-up ml-2" aria-hidden="true"></i>
      </a>
    </p>
    <div
      class="filter-content mt-3 m-2"
      id="filter-content"
      style="visibility: collapse"
    >
      <div
        class="w-100 p-3"
        [style.background-color]="3 % 2 != 0 ? '#F3F3F3' : '#fff'"
      >
        <div class="row">
          <div class="col-lg-5 col-md-5 col-sm-5">
            <!-- Día -->
            <span style="font-style: italic; font-size: 9pt;" class="text-muted"
              >Hoy</span
            >
            <br />
            <span class="bold text-dark mr-2">Índice UV</span>
            <span
              class="filter-circle"
              [style.background-color]="getUVColor(uvactual)"
              >{{ uvactual }}</span
            >
          </div>
          <div class="col-lg-7 col-md-7 col-sm-12">
            <span style="font-size: 10pt;" class="text-muted">Máxima: </span>
            <i
              class="fas fa-circle"
              [style.color]="getUVColor(uvactual)"
              style="font-size: 10pt"
            ></i>
            <span style="font-size: 10pt;" class="text-muted bold pl-2"
              >Moderado</span
            >
            <br />
            <span style="font-size: 10pt;" class="text-muted"
              >Temperatura:
            </span>
            <span style="font-size: 10pt;" class="text-muted bold pl-2"
              >15° Min / 28° Máx</span
            >
          </div>
        </div>
      </div>
      <div
        class="w-100 p-3"
        [style.background-color]="2 % 2 != 0 ? '#F3F3F3' : '#fff'"
      >
        <div class="row">
          <div class="col-lg-5 col-md-5 col-sm-12">
            <!-- Día -->
            <span style="font-style: italic; font-size: 9pt;" class="text-muted"
              >Martes, 02 Abril</span
            >
            <br />
            <span class="bold text-dark mr-2">Índice UV</span>
            <span
              class="filter-circle"
              [style.background-color]="getUVColor(uvactual)"
              >{{ uvactual }}</span
            >
          </div>
          <div class="col-lg-7 col-md-7 col-sm-7">
            <span style="font-size: 10pt;" class="text-muted">Máxima: </span>
            <i
              class="fas fa-circle"
              [style.color]="getUVColor(uvactual)"
              style="font-size: 10pt"
            ></i>
            <span style="font-size: 10pt;" class="text-muted bold pl-2"
              >Moderado</span
            >
            <br />
            <span style="font-size: 10pt;" class="text-muted"
              >Temperatura:
            </span>
            <span style="font-size: 10pt;" class="text-muted bold pl-2"
              >15° Min / 28° Máx</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Side buttons -->
<!-- Left Side -->
<button
  class="green-button left-side wow fadeInDownBig"
  (click)="clickedInside($event)"
  (click)="toggle_poll(true)"
>
  <img
    src="https://c3devapp.cl/sg/assets/img/Encuesta.png"
    alt=""
    class="img-fluid p-1 pr-2 mr-0 pt-0 mt-0 no-select"
    draggable="false"
  />
</button>

<!-- Right Side -->
<button
  class="gray-button right-side wow fadeInDownBig"
  (click)="clickedInside($event)"
  (click)="toggle_contact(true)"
>
  <img
    src="https://c3devapp.cl/sg/assets/img/contactos.png"
    alt=""
    class="img-fluid p-1 mr-0 pt-0 mt-0 no-select"
    draggable="false"
  />
</button>
<button
  class="green-button right-side-2 wow fadeInUpBig"
  (click)="clickedInside($event)"
  (click)="toggle_chat(true)"
>
  <img
    src="https://c3devapp.cl/sg/assets/img/chat.png"
    alt=""
    class="img-fluid p-1 pr-0 mr-0 pt-0 mt-0 no-select"
    draggable="false"
  />
</button>

<!-- Ventana de chat -->
<div
  class="chat-window-container animated fadeInRightBig"
  id="chat-container"
  *ngIf="logged"
>
  <div
    class="chat-window shadow"
    (click)="clickedInside($event)"
    style="border-radius: 5px 0px 0px 5px"
  >
    <app-messages
      (onSelectChat)="loadSelectedChat($event)"
      (onQuit)="toggle_chat($event)"
    ></app-messages>
  </div>

  <div
    class="selected-chat-container m-0 p-0 shadow"
    (click)="clickedInside($event)"
    *ngIf="chatSelected"
  >
    <app-singlechat [data]="userID"></app-singlechat>
  </div>
</div>

<!-- Ventana de encuestas -->
<div
  class="poll-window-container animated fadeInLeftBig"
  id="poll-container"
  *ngIf="logged"
>
  <div
    class="poll-window shadow"
    (click)="clickedInside($event)"
    id="poll-sidebar"
  >
    <app-poll
      (onSelectPoll)="loadSelectedPoll($event)"
      (onQuit)="toggle_poll(false)"
    ></app-poll>
  </div>

  <div
    class="selected-poll-container m-0 p-0"
    *ngIf="pollSelected"
    (click)="clickedInside($event)"
  >
    <app-singlepoll
      [data]="userID"
      (onQuit)="toggle_poll(false)"
    ></app-singlepoll>
  </div>
</div>

<!-- Ventana de contactos -->
<div
  class="contact-window-container animated fadeInRightBig"
  id="contact-container"
  *ngIf="logged"
>
  <div class="contact-window shadow" (click)="clickedInside($event)">
    <app-contact (onQuit)="toggle_contact($event)"></app-contact>
  </div>
</div>
