<div class="container">
  <div class="slider mx-auto">
    <app-slider code="1"></app-slider>
  </div>
</div>

<br> <br>
<!--  Links Buttons -->
<div class="container">
  <div class="row text-center">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
      <a href="#">
        <button class="link-buttons">
          <div class="row m-0">
            <div class="color-1-1"></div>
            <div class="color-1-2"></div>
             <span class="text-1 pr-2 text-buttons my-auto mx-auto">Nuestra<br/><strong>COMPAÑÍA</strong></span>
          </div>
        </button>
      </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
      <a href="#">
        <button class="link-buttons">
          <div class="row m-0">
            <div class="color-2-1"></div>
            <div class="color-2-2"></div>
             <span class="pr-2 text-2 text-buttons my-auto mx-auto"><strong>PERSONAS</strong></span>
          </div>
        </button>
      </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
      <a href="#">
        <button class="link-buttons">
          <div class="row m-0">
            <div class="color-3-1"></div>
            <div class="color-3-2"></div>
             <span class=" pr-2 text-3 text-buttons my-auto mx-auto"><strong>APLICACIONES</strong></span>
          </div>
        </button>
      </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
      <a href="#">
        <button class="link-buttons">
          <div class="row m-0">
            <div class="color-4-1"></div>
            <div class="color-4-2"></div>
             <span class=" pr-2 text-4 text-buttons my-auto mx-auto">Mis<br/><strong>HERRAMIENTAS</strong></span>
          </div>
        </button>
      </a>
    </div>
  </div>
</div>

<!-- Second Banner -->
<div class="container pt-4 mt-4 slider-2">
  <app-slider code="2"></app-slider>
  <div class="container">
    <p class="pt-2 ml-4">
      <span class="slider-color-1 pr-1"> <i class="fas fa-circle"></i> </span> Resultado positivo
      <span class="slider-color-2 pl-4 pr-1 ml-4"> <i class="fas fa-circle"></i> </span> Resultado negativo
      <span class="slider-color-3 pl-4 pr-1 ml-4"> <i class="fas fa-circle"></i> </span> Real
      <span class="slider-color-4 pl-4 pr-1 ml-4"> <i class="fas fa-circle"></i> </span> Presupuesto
    </p>
  </div>
</div>

<!-- Buttons: Noticias, Seguridad, Te reconozco por estar, Beneficios, Galería -->
<div class="container">
  <div class="row mx-auto d-flex justify-content-between">
    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 text-center">
      <a href="">
        <img class="img-fluid" src="assets/img/Noticias.png" alt="">
      </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 text-center">
      <a href="">
        <img class="img-fluid" src="assets/img/Seguridad_2.png" alt="">
      </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 text-center">
      <a href="">
        <img class="img-fluid" src="assets/img/Te_reconozco.png" alt="">
      </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 text-center">
      <a href="">
        <img class="img-fluid" src="assets/img/Beneficios.png" alt="">
      </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 text-center">
      <a href="">
        <img class="img-fluid" src="assets/img/Galeria.png" alt="">
      </a>
    </div>
  </div>
</div>
