.slider {
  width: 60% !important;
}

// .slider-2 {
//   height: 10% !important;
// }

.link-buttons {
  // Size
  width: 230px;
  height: 65px;

  // Font style
  line-height: 12pt;
  font-size: 12pt !important;

  // Margins and paddings
  margin-left: 0.5em;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  // padding-right: 10em;

  // Borders
  border: none;
  border-radius: 3px 50px 50px 3px !important;
  background-color: white;

  // Shadows
  -webkit-box-shadow: 1px 0px 7px 0px rgba(176, 176, 176, 1);
  -moz-box-shadow: 1px 0px 7px 0px rgba(176, 176, 176, 1);
  box-shadow: 1px 0px 7px 0px rgba(176, 176, 176, 1);
}

// Setting: Button's color
.color-buttons {
  height: 65px;
  margin-left: 0 !important;
  padding-left: 0.8em;
}

.color-1-1 {
  @extend .color-buttons;
  background-color: #ff671b !important;
}

.color-1-2 {
  @extend .color-buttons;
  background-color: #fa8f5b !important;
}

.text-1 {
  color: #ff671b !important;
}

.color-2-1 {
  @extend .color-buttons;
  background-color: #f9c836 !important;
}

.color-2-2 {
  @extend .color-buttons;
  background-color: #fddc7a !important;
}

.text-2 {
  color: #facb3a !important;
}

.color-3-1 {
  @extend .color-buttons;
  background-color: #00a9b7 !important;
}

.color-3-2 {
  @extend .color-buttons;
  background-color: #3fbac5 !important;
}

.text-3 {
  color: #3fbac5 !important;
}

.color-4-1 {
  @extend .color-buttons;
  background-color: #7fbb5a !important;
}

.color-4-2 {
  @extend .color-buttons;
  background-color: #99c87a !important;
}

.text-4 {
  color: #7eb959 !important;
}

// Setting: Slider's legend
.slider-color-1 {
  color: #558b2f !important;
}

.slider-color-2 {
  color: #f4511e !important;
}

.slider-color-3 {
  color: #7b1fa2 !important;
}

.slider-color-4 {
  color: #33b5e5 !important;
}

// Footer

.footer-img {
  position: absolute;
}

.footer-padding {
  padding-top: 8em;
}

.title-birthday {
  font-weight: 600;
  font-size: 26pt;
  color: white;
}
.small-birthday {
  color: white;
}

// Birthday Card
.div-birthday {
  margin: 0;
  margin-top: 1em;
  padding: 1em;
  background-color: white;
  border-radius: 10px;
}

.div-activity {
  margin: 0;
  margin-top: 1em;
  // padding: 1em;
  background-color: white;
  border-radius: 10px;
}

.name-card {
  font-weight: 600;
  font-size: 11pt;
  line-height: 8pt;
  padding-top: 2pt;
}

.desc-card {
  font-size: 9pt;
  line-height: 6pt;
  // padding-top: 2pt;
}

.text-date-card-activity {
  color: #757575;
  font-weight: 600px;
}

.bold {
  font-weight: 600 !important;
}

.s-bold {
  font-weight: 900 !important;
}

.div-activity .first-half-card-activity {
  background-color: #eeeeee;
  border-radius: 10px 0px 0px 10px !important;
}

.date-activity {
  // Position
  padding-top: 5em !important;
  margin-left: 0.5em;
  font-size: 12pt;
  color: #8f8f8f;
  font-weight: 600;
}

.no-event {
  text-align: center;
  font-style: italic;
  font-weight: 300;
  font-size: 12pt;
  color: #a1a6ac;
}

.text-actividad {
  color: rgb(144, 144, 144);
  font-weight: 500 !important;
  font-size: 11pt;
  font-style: italic;
}

.text-cumpleaños {
  font-weight: 500 !important;
  font-size: 11pt;
  font-style: italic;
}

.filtro-uv {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 500px;
  height: 50px;
  background-color: white;
  z-index: 120;
  border-radius: 0px 15px 0px 0px;
}

button.left-side {
  position: fixed;
  top: 40%;
  left: 0;
  border-radius: 0px 80px 80px 0px;
  border: none;
  z-index: auto;
}

.green-button {
  background-color: #8dcf85;
  width: 60px;
  height: 50px;
}

button.right-side {
  position: fixed;
  top: 40%;
  right: 0;
  border-radius: 80px 0px 0px 80px;
  border: none;
  z-index: auto;
}

button.right-side-2 {
  position: fixed;
  top: 49%;
  right: 0;
  border-radius: 80px 0px 0px 80px;
  border: none;
  z-index: auto;
}

.gray-button {
  background-color: #ececee;
  width: 60px;
  height: 50px;
}

.filter-circle {
  padding-left: 10px !important;
  padding: 5px;
  padding-right: 10px !important;
  color: white;
  font-weight: 600 !important;
  border-radius: 100px;
}

.text-dark {
  font-weight: 00 !important;
  color: #5a5a5a !important;
}

.no-select {
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

// Ventana de chat
.chat-window-container {
  // sides
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  // widths
  width: 100% !important;
  height: 100%;
  position: fixed;

  z-index: 150;

  // visibility: hidden;
  display: none;
  width: 0px;
}
.chat-window {
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  height: 100%;
  width: 25%;
  background-color: #78ce47;
  z-index: 151;
}

// Ventana de chat individual
.selected-chat-container {
  position: fixed;
  // Dimentions
  bottom: 5%;
  right: 25%;
  width: 400px;
  height: 450px;

  z-index: 152;

  // Details
  background-color: white;
  border-radius: 10px 10px 10px 10px;
}

@media only screen and (max-width: 768px) {
  .chat-window {
    width: 100% !important;
    border-radius: 0px !important;
  }

  .poll-window {
    width: 100% !important;
    border-radius: 0px !important;
  }
  .selected-chat-container {
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    height: 90% !important;
    width: 100% !important;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .chat-window {
    width: 60% !important;
    border-radius: 20px !important;
  }

  .poll-window {
    width: 60% !important;
    border-radius: 20px !important;
  }
}



.poll-window-container {
  // sides
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  // widths
  width: 100%;
  height: 100%;
  position: fixed;

  z-index: 150;

  // visibility: hidden;
  display: none;
}

.poll-window {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 25%;
  background-color: rgba(0, 193, 203, 0.9);
  z-index: 151;
}

// Ventana de encuesta individual
.selected-poll-container {
  position: fixed;
  // Dimentions
  top: 10%;
  left: 15%;
  right: 15%;

  z-index: 152;

  height: auto !important;
}

// Contactos
.contact-window-container {
  // sides
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  // widths
  width: 100%;
  height: 100%;
  position: fixed;

  z-index: 150;

  display: none;
}

.contact-window {
  position: fixed;
  bottom: 0;
  top: 30%;
  right: 7%;
  width: 40%;
  background-color: rgba(0, 193, 203, 0.9);
  z-index: 151;
  height: 65%;
  border-radius: 25px;
}
