<div class="container h-50">
    <div class="row m-0 p-0">
      <div class="col-6 animated fadeInLeft">
        <h1 class="comunidades-title">
          Comunidades
        </h1>
      </div>
    </div>

    <div class="w-100 m-2 p-2"></div>

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <p>
          Sierra Gorda SCM desarrolla una estrategia basada en un diálogo franco y directo con las comunidades que habitan en las zonas de influencia directa de la operación.
          La cercania geográfica y el impacto que produce nuestra operación con el pueblo de Sierra Gorda y la ciudad de Antofagasta, capital de la Región, genera una vinculación mayor con estas comunas.
          <br><br>
          La Gerencia de Asuntos Externos y Relaciones Comunitarias estableció un <span class="text-orange">Plan Estratégico de Comunidades</span> que contempla tres ejes de acción: Calidad de Vida, Desarrollo de Oportunidades y Relacionamiento.
          Cada una de las actividades que se establecen en conjunto con los stakeholders, busca contribuir a la cultura, educación y desarrollo sostenible del territorio
        </p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <img src="https://c3soporte00400.cl/sg/assets/img/Comunidades_v1.png" style="margin-top: -130px" class="img-fluid" alt="">
      </div>
    </div>
  </div>
