<div class="card-chat d-flex justify-content-between shadow mb-3 wow fadeInUp" style="cursor: pointer; user-select: none" id="user-{{user.id}}">
  <!-- Message content -->
  <div>
    <div class="user-remitent">
      {{ user.nombre }}
    </div>
    <div class="user-company">
      {{ user.empresa }}
    </div>
  </div>
  <!-- Actions -->
  <div class="card-extras my-auto">
    <mdb-badge pill="true" class="badge-m" color="color-blue" style="user-select: none" *ngIf="user.unread != 0">{{ user.unread > 10? '+10': user.unread }}</mdb-badge>
    <i
      class="fas fa-chevron-circle-right ml-2"
      style="color: #00A9B7"
      aria-hidden="true"
    ></i>
  </div>
</div>
