.card-chat {
  background-color: white;
  border-radius: 5px;
  padding: .4em;
  padding-left: .8em;
  margin: .5;
}

.user-remitent {
  font-size: 11pt;
  font-weight: 500 !important;
  color: #5a5a5a;
  width: auto;
}

.user-company {
  font-size: 10pt;
  color: #5a5a5a;
  width: auto;
}

.card-extras {
  float: right !important;
  width: auto;
}

.badge-m {
  // position: absolute;
  margin-top: -10px !important;
  right: 50px !important;
}
