$orange: #ff5900;
$orange-70: rgba(255, 89, 0, 0.863);
$orange-50: rgba(255, 89, 0, 0.502);

$blueSG: rgb(0, 190, 212);
$blueSG-70: rgba(0, 190, 212, 0.702);
$blueSG-40: rgba(0, 190, 212, 0.4);
$blueSG-20: rgba(0, 190, 212, 0.2);

$darkblue: #214083;
$green: #7fbb5a;
$yellow: #fcd902;
$orangestar: #ed5624;
$redestar: #de1e26;

$text-color: #5c5c5c;
$pink-text: #FE9F6E;

.reconozco {
  &-header {
    background-image: url('https://c3devapp.cl/sg/assets/img/reconozco/bg-header.png');
    width: 100%;
    height: 295px;
    margin: 0;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;

    &-estar {
      display: flex;
      align-items: center;
      img {
        width: 211px;
        height: 297px;
        margin-top: -35px;
      }

      h1 {
        color: white;
        font-weight: 500;
        font-size: 14.4pt;
        line-height: 26pt;

        span {
          font-size: 47pt;
          font-weight: 700;
        }
      }
    }

    &-logo {
      display: flex;
      align-items: center;
    }

    &-acciones {
      display: flex;
      position: absolute;
      right: 20%;
      top: 280px;

      & > div img {
        position: absolute;
        width: 70px;
        margin-top: -20px;
        margin-left: -20px;
      }

      & > div > div {
        color: white;
        font-weight: 600;
        font-size: 12pt;

        background-color: $blueSG;

        padding: 3px 15px 3px 25px;
        margin: 0px 35px;
        border-radius: 0px 25px 25px 0px;
      }
    }
  }

  &-background {
    background-image: url('https://c3devapp.cl/sg/assets/img/reconozco/bg-body.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }

  &-body {
    margin-top: 50px;
  }

  &-card {

    &.liked {
      background-image: linear-gradient(120deg, rgba(255, 123, 56, 1),rgba(255, 120, 59, 1), rgba(255,86,69,1));
    }

    border-radius: 25px;
    width: 100%;

    background-color: white;
    -webkit-box-shadow: 2px 2px 14px 2px rgba(241,90,36,0.3);
    -moz-box-shadow: 2px 2px 14px 2px rgba(241,90,36,0.3);
    box-shadow: 2px 2px 14px 2px rgba(241,90,36,0.3);

    &-header {
      display: flex;
      align-items: center;
      padding: 5px 10px;
      img {
        width: 90px;
        height: 90px;
      }

      h6 {
        color: $text-color;
        font-weight: 600;
        margin-left: 10px;
      }

    }

    &-body {
      padding: 5px 15px;
      min-height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      p {
        color: $text-color;
        font-weight: 500;
        font-size: 11pt;

        img {
          width: 25px;
        }
      }
      div {
        width: 100%;
        display: flex;
        justify-content: space-between;

        span {
          color: $text-color;
          font-size: 11pt;
        }
      }
    }

    &-actions {
      border-radius: 0px 0px 25px 25px;
      min-height: 40px;
      padding: 5px 15px;
      background-color: #feece2;
      text-align: center;

      span {
        color: $pink-text;
        font-weight: 600;
      }

      &.liked-footer {
        background-color: rgba(254, 236, 226, 0.15) !important;
      }
    }
  }
}
