<!-- <div class="reconozco-header">
  <div class="container d-flex justify-content-between">
    <div class="reconozco-header-estar">
      <img src="https://c3devapp.cl/sg/assets/img/reconozco/medalla-header.png" alt="">
      <h1>TE RECONOZCO POR<br/><span>ESTAR</span></h1>
    </div>
    <div class="reconozco-header-logo">
      <img src="https://c3devapp.cl/sg/assets/img/logo_SG.png" alt="Logo Sierra Gorda" title="Sierra Gorda SCM">
    </div>
    <div class="reconozco-header-acciones">
      <div class="reconozco-header-acciones-reconocidos">
        <img src="https://c3devapp.cl/sg/assets/img/reconozco/Reconocimiento_1.png" alt="">
        <div>
          Reconocidos
        </div>
      </div>

      <div class="reconozco-header-acciones-reconocidos">
        <img src="https://c3devapp.cl/sg/assets/img/reconozco/Reconocimiento_2.png" alt="">
        <div>
          Reconocer
        </div>
      </div>
    </div>
  </div>
</div> -->

<app-navbar-ext></app-navbar-ext>
<br>
<div style="height: 50px"></div>
<app-links></app-links>
<br><br>

<router-outlet></router-outlet>
