<div class="reconozco-header">
  <div class="container d-flex justify-content-between">
    <div class="reconozco-header-estar">
      <img src="https://c3devapp.cl/sg/assets/img/reconozco/medalla-header.png" alt="">
      <h1>TE RECONOZCO POR<br/><span>ESTAR</span></h1>
    </div>
    <div class="reconozco-header-logo">
      <img src="https://c3devapp.cl/sg/assets/img/logo_SG.png" alt="Logo Sierra Gorda" title="Sierra Gorda SCM">
    </div>
    <div class="reconozco-header-acciones">
      <!-- Reconocidos -->
      <div class="reconozco-header-acciones-reconocidos">
        <img src="https://c3devapp.cl/sg/assets/img/reconozco/Reconocimiento_1.png" alt="">
        <div>
          Reconocidos
        </div>
      </div>

      <!-- Reconocer -->
      <div class="reconozco-header-acciones-reconocidos">
        <img src="https://c3devapp.cl/sg/assets/img/reconozco/Reconocimiento_2.png" alt="">
        <div>
          Reconocer
        </div>
      </div>
    </div>
  </div>
</div>
<div class="reconozco-background"></div>
<div class="reconozco-body">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="reconozco-card">
          <div class="reconozco-card-header">
            <img src="https://c3devapp.cl/sg/assets/img/reconozco/cara.png" alt="">
            <h6>
              Nombre<br/>Apellido
            </h6>
          </div>
          <div class="reconozco-card-body">
            <p>Ha sido <img src="https://c3devapp.cl/sg/assets/img/reconozco/medalla.png" alt=""> por <strong>NombreCategoria</strong></p>
            <div>
              <span>{{'1'}} <i class="fas fa-thumbs-up" style="color: rgb(0, 190, 212);"></i></span>
              <span>05-12-2012</span>
            </div>
          </div>
          <div class="reconozco-card-actions">
            <span class="cursor">Dar ¡Me Gusta! <i class="far fa-thumbs-up"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
