$orange: #ff5900;
$orange-70: rgba(255, 89, 0, 0.863);
$orange-50: rgba(255, 89, 0, 0.502);

$blueSG: rgb(0, 190, 212);
$blueSG-80: rgba(0, 190, 212, 0.8);
$blueSG-70: rgba(0, 190, 212, 0.702);
$blueSG-40: rgba(0, 190, 212, 0.4);
$blueSG-20: rgba(0, 190, 212, 0.2);

$darkblue: #214083;
$green: #7fbb5a;
$yellow: #fcd902;
$orangestar: #ed5624;
$redestar: #de1e26;

$text-color: #5c5c5c;
$pink-text: #fe9f6e;

.reconozco {
  &-title {
    color: $blueSG;
    font-weight: 800;
    font-size: 4rem;
    user-select: none;
    padding-left: 15px;
  }

  &-body {
    margin-top: 50px;
  }

  &-card {
    margin-bottom: 35px;

    &.liked {
      // background-image: linear-gradient(
      //   120deg,
      //   rgba(255, 123, 56, 1),
      //   rgba(255, 120, 59, 1),
      //   rgba(255, 86, 69, 1)
      // );
      background: none;
      background-image: url(https://c3soporte00400.cl/sg/assets/img/reconozco/bg-home.png);
      background-position: center;
      background-size: cover;
    }

    border-radius: 25px;
    width: 100%;

    background-color: white;
    -webkit-box-shadow: 2px 2px 14px 2px rgba(241, 90, 36, 0.3);
    -moz-box-shadow: 2px 2px 14px 2px rgba(241, 90, 36, 0.3);
    box-shadow: 2px 2px 14px 2px rgba(241, 90, 36, 0.3);

    &-header {
      display: flex;
      align-items: center;
      padding: 5px 10px;
      img {
        width: 90px;
        height: 90px;
      }

      h6 {
        color: $text-color;
        font-weight: 600;
        margin-left: 10px;
      }
    }

    &-body {
      padding: 5px 15px;
      min-height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      p {
        color: $text-color;
        font-weight: 500;
        font-size: 11pt;

        img {
          width: 25px;
        }
      }
      div {
        width: 100%;
        display: flex;
        justify-content: space-between;

        span {
          color: $text-color;
          font-size: 11pt;
        }
      }
    }

    &-actions {
      border-radius: 0px 0px 25px 25px;
      min-height: 40px;
      padding: 5px 15px;
      background-color: #feece2;
      text-align: center;

      span {
        color: $pink-text;
        font-weight: 600;
      }

      &.liked-footer {
        background-color: rgba(254, 236, 226, 0.15) !important;
      }
    }
  }

  &-secciones {
    &-container {
      display: flex;
    }

    &-button {
      background-color: $orange;
      // height: 50px;
      // width: 50px;
      padding: 3px 10px;
      border-radius: 120px;
      border: none;
      text-align: center;
      margin-right: 15px;
      width: 185px;

      color: rgba(255, 255, 255, 0.5);

      font-weight: 600;
      font-size: 14pt;

      transition: 0.3s;

      &:hover {
        color: white !important;
      }

      &-actual {
        border: 3px solid $yellow;
        color: white;
      }

      &-completed {
        color: white;
        background-color: $blueSG;
      }
    }
  }
}

.reconocer {
  display: flex;
  display: -ms-flexbox;
  &-left {
    width: 50%;
    display: flex;
    display: -ms-flexbox;
    justify-content: flex-start;
    &-container {
      &-item {
        select,
        input {
          border-radius: 15px;
          width: 300px;
          padding: 7px 0px;
          padding-left: 10px;
          text-align: left;
          border: none;
          box-shadow: 0 0 0.3rem $orange-70 !important;
          margin-bottom: 15px;

          &:focus {
            outline: none;
          }
        }
      }
    }
  }
  &-right {
    width: 50%;
    &-container {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-top: 10px;
      max-height: 600px;
      overflow-y: scroll;

      &-item {
        width: 450px;
        position: relative;
        display: flex;
        display: -ms-flexbox;
        align-items: center;
        border-radius: 10px;
        &-left {
          img {
            width: 75px;
          }
        }
        &-right {
          color: $text-color;
          &-nombre {
            font-weight: 800;
          }
          &-cargo {
          }
        }
        i {
          position: absolute;
          top: 15px;
          right: 15px;
          color: $blueSG;
          font-size: 11pt;
        }
      }
    }
  }
}

.selected {
  box-shadow: 0 0 0.3rem $orange-70 !important;
}


.reconocido {
  &-header {
    // background-color: rgba(255, 89, 0, 0.75);
    box-shadow: 0 0 0.3rem rgba(255, 89, 0, 0.863) !important;
    border-radius: 20px;
    padding: 8px 15px;
    margin-bottom: 20px;

    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;

    background: none;
    background-image: url(https://c3soporte00400.cl/sg/assets/img/reconozco/bg-home.png);
    background-position: center;
    background-size: cover;

    &-img{
      position: relative;
      // margin-right: 20px;
      // margin-left: 50px;

      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }

      &-text {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        // border: 2px solid white;
        background-color: rgba(255, 255, 255, 0.25);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: 500;
        text-align: center;
      }

      &-hover {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin-bottom: 0;
        background-color: white;
        border-radius: 50%;
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;

        transition: 0.3s;

        i {
          font-size: 30pt;
          color: #FF8340;
        }

        &:hover {
          opacity: 1;
        }
      }
    }


    &-info {
      display: -ms-flexbox;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-top: 10px;
      width: 42%;
      margin-left: 10px;


      &-name {
        h6 {
          font-size: 16pt;
          font-weight: 700;
          color: white;
        }
      }

      &-desc {
        display: flex;
        flex-direction: column;
        span {
          color: white;
          font-weight: 500;
          font-size: 10pt;
        }
      }

    }
    &-extra {
      margin-left: 30px;
      display: flex;
      flex-direction: column;
      padding-top: 10px;
      span {
        color: white;
        font-weight: 500;
        font-size: 12pt;
      }
      h6 {
        font-size: 16pt;
        font-weight: 700;
        color: white;
      }
    }
  }

  &-body {
    select, input, textarea {
      width: 90%;
      margin-bottom: 15px;
      border-radius: 50px;
      background-color: white;
      border: none;
      padding-left: 15px;
      font-weight: 500;
      padding: 10px 15px;
      box-shadow: 0 0 0.3rem rgba(255, 89, 0, 0.863) !important;

      transition: 0.3s;
      &:focus {
        outline: none;
      }
    }

    textarea {
      border-radius: 10px;
      width: 100%;
      resize: none;
      padding-bottom: 62px;
    }

    select:focus {
      border-radius: 20px 20px 0px 0px;
    }
  }

  .search-container {
    width: 90%;
    height: 200px;
    overflow-y: scroll;
  }

  &-crop {
    display: flex;
    justify-content: space-around;
    align-items: center;

    label {
      width: 60px;
      height: 60px;
      background: #ff5900;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 18pt;
      box-shadow: 0 0 0.3rem rgba(255, 89, 0, 0.863) !important;

      cursor: pointer;

      i {
        margin-top: -5px
      }
    }

    &-preview {
      width: 220px;
      height: 220px;
      border-radius: 10px;
      border: 1px dashed #5c5c5c;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.resumen {
  // background-color: rgb(0, 93, 185);
  padding-top: 15px;
  box-shadow: 0 0 0.8rem rgba(0,0,0, 0.3) !important;
  border-radius: 15px;
  &-header {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 0.8rem rgba(0,0,0, 0.3) !important;
    border-radius: 20px;
    padding: 8px 15px;
    margin-bottom: 20px;

    display: -ms-flexbox;
    display: flex;
    justify-content: flex-start;

    &-img{
      img {
        width: 150px;
        height: 150px;
        margin-right: 20px;
        border-radius: 50%;
      }
    }


    &-info {
      display: -ms-flexbox;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-top: 10px;
      width: 42%;

      &-name {
        h6 {
          font-size: 20pt;
          font-weight: 700;
          color: white;
        }
      }

      &-desc {
        display: flex;
        flex-direction: column;
        span {
          color: white;
          font-weight: 500;
          font-size: 12pt;
        }
      }

    }
    &-extra {
      display: flex;
      flex-direction: column;
      padding-top: 10px;
      span {
        color: white;
        font-weight: 500;
        font-size: 12pt;
      }
      h6 {
        font-size: 20pt;
        font-weight: 700;
        color: white;
      }
    }
  }

  &-body {
    .resumen-card {
      background-color: rgba(0, 0, 0, 0.2);
      height: 300px;
      overflow: hidden;
      position: relative;
      border-radius: 20px;
      color: white;
      padding: 10px;

      h6 {
        font-weight: 600;
        font-size: 18pt;
      }

      p {
        font-weight: 400;
        font-size: 11pt;
      }
    }

    &-send {
      display: flex;
      justify-content: center;
      padding-bottom: 20px;
      padding-top: 20px;

      button {
        background-color: $orange;
        border-radius: 50px;
        border: none;
        color: white;
        font-weight: 600;
        font-size: 14pt;
        padding: 3px 15px;
        box-shadow: -5px 4px 0.8em rgba(0,0,0,0.3)
      }
    }
  }
}

.reconocimiento {
  &-title {
    color: $blueSG;
    font-weight: 800;
    font-size: 4rem;
    user-select: none;
    padding-left: 15px;
  }
  &-header {
    position: relative;
    background-image: url(https://c3soporte00400.cl/sg/assets/img/reconozco/bg-home.png);
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 0.3rem rgba(255, 89, 0, 0.863) !important;
    border-radius: 20px;
    padding: 8px 15px;
    margin: 0 15px;
    margin-bottom: 65px;

    display: -ms-flexbox;
    display: flex;
    justify-content: flex-start;

    &-img{
      img {
        width: 150px;
        height: 150px;
        margin-right: 20px;
        border-radius: 50%;
      }
    }


    &-info {
      display: -ms-flexbox;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-top: 10px;
      width: 42%;

      &-name {
        h6 {
          font-size: 20pt;
          font-weight: 700;
          color: white;
        }
      }

      &-desc {
        display: flex;
        flex-direction: column;
        span {
          color: white;
          font-weight: 500;
          font-size: 12pt;
        }
      }

    }
    &-extra {
      position: absolute;
      right: 40px;
      top: 25px;
      text-align: right;
      line-height: 12pt;

      display: flex;
      align-items: center;
      flex-direction: row-reverse;

      div.count {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 5px;

        img {
          width: 80px;
          height: 80px;
          border-radius: 50%;
        }

        span {
          text-align: center;
          position: absolute;
          top: 33px;
          // left: 0;
          right: 30;
          font-size: 24pt;
          font-weight: 900;
          color: white;
        }
      }
      span.title {
        color: white;
        font-weight: 600;
        font-size: 10pt;
        margin-right: 20px;
      }
    }

    &-addon {
      position: absolute;
      bottom: -18px;
      right: 0;

      display: flex;

      &-item {
        position: relative;
        margin-right: 60px;
        img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;

          position: absolute;
          top: -11px;
          left: -38px;
        }
        div {
          border-radius: 0px 50px 50px 0px;
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
          color: white;
          font-weight: 500;
          font-size: 11pt;
          padding: 8px 25px 8px 30px;

          // transition: 0.3s;
          span {
            opacity: 0.5;

            // transition: 0.3s;
          }
        }

        &.active {
          div {
            border: 3px solid #ffab00;
            padding: 5px 22px 5px 27px;
            span {
              opacity: 1 !important;
            }
          }
        }
      }
    }
  }
}
