<div class="content">
  <div class="content-header">
    <i class="fas fa-chevron-circle-left cursor" routerLink="../"></i>
    <img src="https://c3devapp.cl/sg/assets/img/seguridad/Observadores_Conducta.png" alt="">
    <h6 class="conducta">Programa Observador<br><span>de Conductas</span></h6>
  </div>

  <div class="content-body body-conducta">
    <div class="row mt-4">
      <div class="col-lg-5 col-md-5 col-sm-12">
        <p class="body-leftside">
          El <strong>Programa de Observadores de Conductas</strong> está enfocado a contribuir con nuestro <strong>valor de Seguridad</strong>, formando un equipo de observadores que tendrán la misión de observar a sus propios compañeros de trabajo durante una tarea, identificando las conductas seguras y preocupantes que estén presentando, a través de una cartilla.
          <br><br>
          El <strong>proceso es absolutamente anónimo</strong>, jamás se identificará a la persona que observa. La finalidad es <strong>resaltar las conductas seguras</strong> y <strong>revertir aquellas conductas preocupantes</strong> que se detecten.
        </p>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-12 d-flex justify-content-center align-items-center">
        <div class="body-rightbox">
          <ul>
            <li>La observación es<br><strong>ABSOLUTAMENTE ANÓNIMA</strong></li>
            <li>La cartilla es dirigida a<br><strong>OBSERVAR SOLO LAS CONDUCTAS</strong></li>
            <li>El observador y el observado<br><strong>SON ABSOLUTAMENTE VOLUNTARIOS</strong></li>
            <li>La persona a observar, puede<br><strong>DECIDIR SI QUIERE O NO SER OBSERVADA</strong></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
