<!-- masterslider -->
<div class="master-slider ms-skin-default" id="masterslider2">
  <!-- SEGURIDAD TRIFR -->
  <div class="ms-slide shadow-lg white">
    <div class="triangle-down"></div>
    <div class="ms-layer ms-caption" style=" left:30px;">
      <div class="row m-0">
        <img
          src="assets/img/icono_resultados.png"
          alt=""
          class="resultados-png"
        />
        <h4 class="pl-3 m-0">
          RESULTADOS<br />
          <small class="small-month">Febrero</small>
        </h4>
      </div>
    </div>
    <div class="ms-info">
      <div class="left-side-content">
        <h1 class="title-left-side">
          Seguridad <br />
          <span>TRIFR</span>
        </h1>
      </div>
      <div class="center-icon">
        <img src="assets/img/Resultados/1.png" class="center-icon-png" alt="" />
      </div>
      <div class="right-side-content-1">
        <div class="month pb-4 mb-4"><span>Febrero</span> = 0.61</div>
        <div class="values">
          <div class="d-flex justify-content-center">
            <div class="acumulado">
              <div class="title">Acumulado TRIFR</div>
              <div class="text-center result-box">
                0,38
              </div>
            </div>
            <div class="v-s ml-4 mr-4">
              V/S
            </div>
            <div class="acumulado">
              <div class="title">Target</div>
              <div class="text-center result-box">
                0,50
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- KPI MEDIO AMBIENTE -->
  <div class="ms-slide white">
    <div class="triangle-down"></div>
    <div class="ms-layer ms-caption" style=" left:30px;">
      <div class="row m-0">
        <img
          src="assets/img/icono_resultados.png"
          alt=""
          class="resultados-png"
        />
        <h4 class="pl-3 m-0">
          RESULTADOS<br />
          <small class="small-month">Febrero</small>
        </h4>
      </div>
    </div>
    <div class="ms-info">
      <div class="left-side-content">
        <h1 class="title-left-side">
          KPI Medio<br />
          <span>AMBIENTE</span>
        </h1>
      </div>
      <div class="center-icon">
        <img
          src="assets/img/Resultados/2.png"
          class="center-icon-png"
          alt=""
          style=" width: 210px;"
        />
      </div>
      <div class="right-side-content-2">
        <div class="title">Promedio Mensual PM10</div>
        <div class="values">
          <div class="d-flex justify-content-center">
            <div class="acumulado">
              <div class="text-center light-blue darken-3 result-box">
                52
              </div>
            </div>
            <div class="v-s ml-4 mr-4">
              V/S
            </div>
            <div class="acumulado">
              <div class="text-center red result-box">
                50
              </div>
            </div>
          </div>
        </div>
        <div class="title mt-2">Promedio Diario PM10</div>
        <div class="values">
          <div class="d-flex justify-content-center">
            <div class="acumulado">
              <div class="text-center light-blue darken-3 result-box">
                96
              </div>
            </div>
            <div class="v-s ml-4 mr-4">
              V/S
            </div>
            <div class="acumulado">
              <div class="text-center result-box">
                150
              </div>
            </div>
          </div>
        </div>
        <div class="footer-msg title mt-2">
          <i class="fas fa-circle" style="color: #7fbb5a;"></i>
          Implementación plan de cumplimiento SMA
        </div>
      </div>
    </div>
  </div>

  <!-- MOVIMIENTO TOTAL DÍA KTON -->
  <div class="ms-slide white">
    <div class="triangle-down"></div>
    <div class="ms-layer ms-caption" style=" left:30px;">
      <div class="row m-0">
        <img
          src="assets/img/icono_resultados.png"
          alt=""
          class="resultados-png"
        />
        <h4 class="pl-3 m-0">
          RESULTADOS<br />
          <small class="small-month">Febrero</small>
        </h4>
      </div>
    </div>
    <div class="ms-info">
      <div class="left-side-content">
        <h1 class="title-left-side">
          Movimiento <br />
          <span>TOTAL DÍA</span> <br />
          <span class="kton">
            (KTON)
          </span>
        </h1>
      </div>
      <div class="center-icon">
        <img
          src="assets/img/Resultados/3.png"
          class="center-icon-png-3"
          alt=""
        />
      </div>
      <div class="right-side-content-3">
        <div class="percent">
          -3.6%
        </div>
        <div class="values">
          <div class="d-flex justify-content-center">
            <div class="acumulado">
              <div
                class="text-center light-blue darken-3 result-box">
                96
              </div>
            </div>
            <div class="v-s ml-4 mr-4">
              V/S
            </div>
            <div class="acumulado">
              <div
                class="text-center result-box"
                style="background-color: #7ACCD4;">
                150
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- MATERIAL MOLIDO  (KTON) -->
  <div class="ms-slide white">
    <div class="triangle-down"></div>
    <div class="ms-layer ms-caption" style=" left:30px;">
      <div class="row m-0">
        <img
          src="assets/img/icono_resultados.png"
          alt=""
          class="resultados-png"
        />
        <h4 class="pl-3 m-0">
          RESULTADOS<br />
          <small class="small-month">Febrero</small>
        </h4>
      </div>
    </div>
    <div class="ms-info">
      <div class="left-side-content">
        <h1 class="title-left-side">
          Material <br />
          <span>MOLIDO</span> <br />
          <span class="kton">
            (KTON)
          </span>
        </h1>
      </div>
      <div class="center-icon">
        <img
          src="assets/img/Resultados/4.png"
          class="center-icon-png-3"
          alt=""
        />
      </div>
      <div class="right-side-content-3">
        <div class="percent">
          -4.0%
        </div>
        <div class="values">
          <div class="d-flex justify-content-center">
            <div class="acumulado">
              <div class="text-center light-blue darken-3 result-box">
                39,816
              </div>
            </div>
            <div class="v-s ml-4 mr-4">
              V/S
            </div>
            <div class="acumulado">
              <div
                class="text-center result-box"
                style="background-color: #7ACCD4;"
              >
                41,491
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- EMBARQUES CONCENTRADO CU(DMT) -->
  <div class="ms-slide white">
    <div class="triangle-down"></div>
    <div class="ms-layer ms-caption" style=" left:30px;">
      <div class="row m-0">
        <img
          src="assets/img/icono_resultados.png"
          alt=""
          class="resultados-png"
        />
        <h4 class="pl-3 m-0">
          RESULTADOS<br />
          <small class="small-month">Febrero</small>
        </h4>
      </div>
    </div>
    <div class="ms-info">
      <div class="left-side-content">
        <h1 class="title-left-side-5">
          Embarques<br />
          <span>CONCENTRADO</span> <br />
          <span class="kton-5">
            CU (DMT)
          </span>
        </h1>
      </div>
      <div class="center-icon">
        <img
          src="assets/img/Resultados/5.png"
          class="center-icon-png-3"
          alt=""
        />
      </div>
      <div class="right-side-content-3">
        <div class="percent">
          -4.0%
        </div>
        <div class="values">
          <div class="d-flex justify-content-center">
            <div class="acumulado">
              <div class="text-center light-blue darken-3 result-box">
                39,816
              </div>
            </div>
            <div class="v-s ml-4 mr-4">
              V/S
            </div>
            <div class="acumulado">
              <div
                class="text-center result-box"
                style="background-color: #7ACCD4;"
              >
                41,491
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- FINOS COBRES FILTRADOS YTD(MLB) -->
  <div class="ms-slide white">
    <div class="triangle-down"></div>
    <div class="ms-layer ms-caption" style=" left:30px;">
      <div class="row m-0">
        <img
          src="assets/img/icono_resultados.png"
          alt=""
          class="resultados-png"
        />
        <h4 class="pl-3 m-0">
          RESULTADOS<br />
          <small class="small-month">Febrero</small>
        </h4>
      </div>
    </div>
    <div class="ms-info">
      <div class="left-side-content">
        <h1 class="title-left-side-6">
          Finos Cobres<br />
          <span>FILTRADOS</span> <br />
          <span class="kton-6">
            YTD (MLB)
          </span>
        </h1>
      </div>
      <div class="center-icon">
        <img
          src="assets/img/Resultados/6.png"
          class="center-icon-png-3"
          alt=""
        />
      </div>
      <div class="right-side-content-3">
        <div class="percent">
          -4.0%
        </div>
        <div class="values">
          <div class="d-flex justify-content-center">
            <div class="acumulado">
              <div class="text-center light-blue darken-3 result-box">
                39,816
              </div>
            </div>
            <div class="v-s ml-4 mr-4">
              V/S
            </div>
            <div class="acumulado">
              <div
                class="text-center result-box"
                style="background-color: #7ACCD4;"
              >
                41,491
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- FINOS MOLY FILTRADOS YTD(MLB) -->
  <div class="ms-slide white">
    <div class="triangle-down"></div>
    <div class="ms-layer ms-caption" style=" left:30px;">
      <div class="row m-0">
        <img
          src="assets/img/icono_resultados.png"
          alt=""
          class="resultados-png"
        />
        <h4 class="pl-3 m-0">
          RESULTADOS<br />
          <small class="small-month">Febrero</small>
        </h4>
      </div>
    </div>
    <div class="ms-info">
      <div class="left-side-content">
        <h1 class="title-left-side-7">
          Finos Moly<br />
          <span>FILTRADOS</span> <br />
          <span class="kton">
            YTD (MLB)
          </span>
        </h1>
      </div>
      <div class="center-icon">
        <img
          src="assets/img/Resultados/7.png"
          class="center-icon-png-3"
          alt=""
        />
      </div>
      <div class="right-side-content-3">
        <div class="percent">
          -4.0%
        </div>
        <div class="values">
          <div class="d-flex justify-content-center">
            <div class="acumulado">
              <div class="text-center light-blue darken-3 result-box">
                39,816
              </div>
            </div>
            <div class="v-s ml-4 mr-4">
              V/S
            </div>
            <div class="acumulado">
              <div
                class="text-center result-box"
                style="background-color: #7ACCD4;"
              >
                41,491
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end of masterslider -->
</div>
