



<!-- template -->
<div class="ms-partialview-template" id="partial-view-1">
    <!-- masterslider -->
    <div class="master-slider ms-skin-default" id="masterslider">
        <div class="ms-slide">
            <img src="assets/masterslider/style/blank.gif" data-src="img/1.jpg" alt="lorem ipsum dolor sit"/>
            <div class="ms-info">
                <h3>CHILDHOOD MEMORIES</h3>
                <h4>JOHN WILIAM</h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
            </div>
        </div>
        <div class="ms-slide">
            <img src="assets/masterslider/style/blank.gif" data-src="img/2.jpg" alt="lorem ipsum dolor sit"/>
              <div class="ms-info">
                <h3>CONSECTETUR ADIPISCING ELIT</h3>
                <h4>JOHN WILIAM</h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
            </div>
        </div>
        <div class="ms-slide">
            <img src="assets/masterslider/style/blank.gif" data-src="img/3.jpg" alt="lorem ipsum dolor sit"/>
             <div class="ms-info">
                <h3>SUSPENDISSE UT PULVINAR MAURIS</h3>
                <h4>JOHN WILIAM</h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
            </div>
        </div>
        <div class="ms-slide">
            <img src="assets/masterslider/style/blank.gif" data-src="img/4.jpg" alt="lorem ipsum dolor sit"/>
              <div class="ms-info">
                <h3>SED DAPIBUS SIT AMET FELIS</h3>
                <h4>JOHN WILIAM</h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
            </div>
        </div>
         <div class="ms-slide">
            <img src="assets/masterslider/style/blank.gif" data-src="img/cover.jpg" alt="lorem ipsum dolor sit"/>
            <a href="http://player.vimeo.com/video/53914149" data-type="video"> vimeo video </a>
            <div class="ms-info">
                <h3>CHEETAHS ON THE EDGE</h3>
                <h4>GREGORY WILSON</h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
            </div>
        </div>
        <div class="ms-slide">
            <img src="assets/masterslider/style/blank.gif" data-src="img/5.jpg" alt="lorem ipsum dolor sit"/>
                <div class="ms-info">
                <h3>CONSECTETUR ADIPISCING ELIT</h3>
                <h4>JOHN WILIAM</h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
            </div>
        </div>
        <div class="ms-slide">
            <img src="assets/masterslider/style/blank.gif" data-src="img/6.jpg" alt="lorem ipsum dolor sit"/>
               <div class="ms-info">
                <h3>SED A SEM AT LIBERO SODALES</h3>
                <h4>JOHN WILIAM</h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
            </div>
        </div>
        <div class="ms-slide">
            <img src="assets/masterslider/style/blank.gif" data-src="img/7.jpg" alt="lorem ipsum dolor sit"/>
                <div class="ms-info">
                <h3>VITAE ULTRICIES ALIQUET</h3>
                <h4>JOHN WILIAM</h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
            </div>
        </div>
    </div>
    <!-- end of masterslider -->
</div>
<!-- end of template -->
