<div class="animated fadeIn slow">
  <div class="categorias-header"> <i class="fas fa-chevron-left text-white mr-2" style="cursor: pointer" routerLink="../"></i> {{ titleCategoria }}</div>
  <div class="categorias-body">
    <div class="lista">
      <div class="row">
        <ng-container *ngIf="ps.videosList">
          <div class="video-container pt-2" *ngFor="let video of ps.videosList; let i=index">
            <img src="{{video.url_img}}" alt="" style="width: 40%;">
            <h6>{{ video.titulo }}</h6>
          </div>
        </ng-container>

      </div>
    </div>
  </div>
</div>
