$gradient: linear-gradient(to right, rgba(255,114,43,1) 0%, rgba(255,116,46,1) 13%, rgba(255,120,53,1) 30%, rgba(255,121,54,1) 33%, rgba(255,112,39,1) 52%, rgba(255,89,0,1) 100%);
$height: 0px;
$orange: #ff5900;
$orange-50: #ff590080;

$blueSG: #3fbac5;
$blueSG-70: #3ebac5b3;
$blueSG-40: #3ebac566;
$blueSG-20: #3fbac533;

.categorias {

  &-header {
    width: 100%;
    margin: 0;
    border-radius: 7px 7px 0px 0px;
    background: $gradient;
    padding-left: 1em;
    padding-top: .6em;
    padding-bottom: .3em;
    font-weight: 700;
    color: white;
  }

  &-body {
    // height: 93%;
    overflow-x: hidden;
    min-height: 509px;
    height: 509px;
    max-height: 509px;
    border-radius: 0px 0px 10px 10px;
    padding: 15px 10px;
    background-color: white;
    transition: height 0.5s;
    overflow-y: scroll;

    button {
      background: $gradient;
      color: white;
      font-weight: 600;
      font-size: 15pt;
      width: 100%;
      border: none;
      border-radius: 50px;
    }
  }
}

.video {
  &-container {
    // background-color: $blueSG;
    padding: 5px;
    margin: 5px 0px;
    // border-radius: 10px;
  }

  &-img {
    img {
      border-radius: 10px;
    }
  }

  &-title {
    display: flex;
    align-items: center;

    & h6 {
      font-size: 13pt;
      font-weight: 600;
      color: #5c5c5c;
    }
  }
}

.overlay-color {
  background-color: $orange-50;
}

.text-overlay {
  color: white;
}

// Roller
.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: $orange;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
