<div class="animated fadeIn slow">
  <div class="categorias-header"> <i class="fas fa-chevron-left text-white mr-2" style="cursor: pointer" routerLink="../"></i> {{ titleCategoria }}</div>
  <div class="categorias-body">
    <div class="lista">
      <div class="row">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, dolore sit facilis dicta id corporis. Incidunt, nemo! Tenetur cupiditate, ipsa, possimus sequi molestiae illo hic fugit temporibus totam ex pariatur.

      </div>
    </div>
  </div>
</div>
