$orange: #ff5900;
$orange-70: rgba(255, 89, 0, 0.863);
$orange-50: rgba(255, 89, 0, 0.502);

$blueSG: #3fbac5;
$blueSG-70: rgba(62, 186, 197, 0.702);
$blueSG-40: rgba(62, 186, 197, 0.4);
$blueSG-20: rgba(63, 186, 197, 0.2);

$darkblue: #214083;
$green: #7fbb5a;
$yellow: #fcd902;
$orangestar: #ed5624;
$redestar: #de1e26;

$text-color: #5c5c5c;
$nombre-color: #80808e;
$nombre-color2: #5a6770;

.beneficios {
  &-titulo {
    h1 {
      color: $orange;
      font-weight: 800;
      font-size: 35pt;
      user-select: none;
    }
  }
  &-container {
    margin-top: 40px;
    display: flex;
    display: -ms-flexbox;
    justify-content: space-around;
    &-button {
      height: 150px;
      width: 150px;
      justify-content: center;
      display: flex;
      display: -ms-flexbox;
      align-items: center;
      background: white;
      border-radius: 120px;
      cursor: pointer;
      img {
        width: 110px;
      }
    }
    &-nombre {
      font-size: 16pt;
      text-align: center;
      margin-top: 20px;
      font-weight: 500;
      color: $nombre-color;
    }
  }
}
.beneficios-categorias-header {
  &-titulo {
    display: flex;
    display: -ms-flexbox;
    margin-bottom: 20px;
    &-boton {
      color: $blueSG;
      font-size: 20pt;
      display: flex;
      display: -ms-flexbox;
      align-items: center;
      cursor: pointer;
    }
    &-nombre {
      color: $nombre-color2;
      font-size: 35pt;
      text-align: left;
      margin-left: 22px;
      font-weight: 800;
      line-height: 1.2;
    }
  }
}
.salud {
  &-container {
    display: flex;
    display: -ms-flexbox;
    margin-left: 4.5%;
    width: 100%;
    &-left{
        width:50%;
        padding-right: 5em;
        &-boton {
        cursor: pointer;
        display: flex;
        display: -ms-flexbox;
        height: 60px;
        margin-top: 20px;
        border-radius: 15px;
        align-items: center;
        box-shadow: 0 0.1rem 0.7rem rgba(0, 0, 0, 0.15) !important;
        user-select: none;

        &:focus {
          outline: none;
        }
        &-flecha {
          font-size: 20pt;
          color: $redestar;
          padding-left: 20px;
          margin-right: 20px;
        }
        &-nombre {
          color: $nombre-color;
          font-size: 14pt;
          padding-right: 20px;
          font-weight: 600;
        }
      }
    }
    &-right{
      text-align: center;
      width:50%;
      img {
      width: 280px;
    }
    }
  }
}
.convenio {
  &-container {
    display: flex;
    display: -ms-flexbox;
    margin-left: 4.5%;
    width:100%;
    &-right{
      width:50%;
      text-align:center;
    }
    &-left{
      width:50%;
      padding-right: 4em;
    }
    &-boton {
      cursor: pointer;
      display: flex;
      display: -ms-flexbox;
      height: 60px;
      margin-top: 20px;
      border-radius: 15px;
      align-items: center;
      box-shadow: 0 0.1rem 0.7rem rgba(0, 0, 0, 0.15) !important;
      user-select: none;


      &:focus {
        outline: none;
      }
      &-flecha {
        font-size: 20pt;
        color: $green;
        padding-left: 20px;
        margin-right: 20px;
      }
      &-nombre {
        color: $nombre-color;
        font-size: 14pt;
        padding-right: 20px;
        font-weight: 600;
      }
    }
    img {
      width: 280px;
    }
  }
}

.formulario {
  &-titulo {
    color: $orange;
    font-size: 16pt;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 5%;
  }
  &-container {
    display: -ms-flexbox;
    display: flex;
    &-seleccion {
      display:flex;
      display:-ms-flex;
      align-items: center;
      justify-content: center;
      select {
        // border: none;
        // padding: 20px 200px 20px 35px;
        // font-weight: 600;
        // font-size: 13pt;
        // color: #5c5c5c;
        // border-radius: 15px;
        font-size: 16pt;
        border-radius: 5px;
        padding: 15px;
        border: none;
        color: $text-color;
        box-shadow: 0 0 13px rgba(0, 0, 0, 0.20) !important;
        width:440px;
        margin-bottom:20px;

        &:focus{
          outline:none;
        }
        &:after{
          font-size:13pt;
          margin-right: 20px;
        }
      }

      &-botonbox {
        display: flex;
        display: -ms-flexbox;
        justify-content: flex-end;
        &-boton {
          background: $blueSG;
          color: #fff;
          font-weight: 600;
          width:130px;
          height: 45px;
          border-radius: 25px;
          font-size: 10pt;
          margin-left: 1em;
          margin-right:1em;
          text-align-last: center;
          line-height: 45px;
        }
        i{
          margin-left:5px;
        }
      }
    }
    &-img {
    }
  }
}

.salud-detalle-header {
  &-titulo {
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    &-flecha {
      font-size: 20pt;
      color: $blueSG;
      display: flex;
      display: -ms-flexbox;
      align-items: center;
    }
    &-nombre {
      color: $blueSG;
      font-size: 35pt;
      // text-align: center;
      margin-left: 22px;
      font-weight: 800;
      line-height: 1.2;
    }
  }
}

.convenio-detalle-header {
  &-titulo {
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    &-flecha {
      font-size: 20pt;
      color: $blueSG;
      display: flex;
      display: -ms-flexbox;
      align-items: center;
    }
    &-nombre {
      color: $blueSG;
      font-size: 35pt;
      text-align: center;
      margin-left: 22px;
      font-weight: 800;
      line-height: 1.2;
    }
  }
}

.salud-detalle-container {
  margin-top: 30px;
  &-body {
    &-descripcion {
      font-weight: 500;
      color: $text-color;
      font-size: 13pt;
      p {
        b {
          font-weight: 600;
        }
      }
      a {
        height: 40px;
        background: $blueSG;
        color: #fff;
        font-weight: 600;
        padding: 8px 20px;
        border-radius: 25px;
        font-size: 8pt;
        margin-left: 2em;
      }
    }
    &-img {
      display: flex;
      display: -ms-flexbox;
      align-items: flex-end;
    }
  }
}
.convenio-detalle-container {
  margin-top: 30px;
  &-body {
    &-descripcion {
      font-weight: 500;
      color: $text-color;
      font-size: 13pt;
      p {
        b {
          font-weight: 600;
        }
      }
      a {
        background: $blueSG;
        color: #fff;
        font-weight: 600;
        padding: 8px 20px;
        border-radius: 25px;
        font-size: 8pt;
        margin-left: 2em;
      }
    }
    &-img {
      display: flex;
      display: -ms-flexbox;
      align-items: flex-end;
    }
  }
}
