<div class="equipo-ejecutivo container">
  <div class="equipo-ejecutivo-titulo">
    EQUIPO EJECUTIVO
  </div>
  <div class="equipo-ejecutivo-container">
    <div (click)="VPModal01.show()" class="equipo-ejecutivo-container-box shadow-sm color-box1"><span>Gerente<br>General</span><img src="https://c3soporte00400.cl/sg/assets/img/equipoejecutivo/ee_box01.png" alt=""></div>
    <div (click)="VPModal05.show()" class="equipo-ejecutivo-container-box shadow-sm color-box5"><span>VP Operaciones</span><img src="https://c3soporte00400.cl/sg/assets/img/equipoejecutivo/ee_box05.png" alt=""></div>
    <div (click)="VPModal02.show()" class="equipo-ejecutivo-container-box shadow-sm color-box2" ><span>VP Recursos Humanos</span><img style="opacity:0.6;" src="https://c3soporte00400.cl/sg/assets/img/equipoejecutivo/ee_box02.png" alt=""></div>
    <div (click)="VPModal03.show()" class="equipo-ejecutivo-container-box shadow-sm color-box3"><span>VP Finanzas</span><img src="https://c3soporte00400.cl/sg/assets/img/equipoejecutivo/ee_box03.png" alt=""></div>
    <div (click)="VPModal04.show()" class="equipo-ejecutivo-container-box shadow-sm color-box4"><span>VP Asuntos Legales, Corporativos y Sustentabilidad</span><img src="https://c3soporte00400.cl/sg/assets/img/equipoejecutivo/ee_box04.png" alt=""></div>
  </div>
  <div class="equipo-ejecutivo-container">
    <div (click)="VPModal06.show()" class="equipo-ejecutivo-container-box shadow-sm color-box1"><span>VP Servicios Corporativos</span><img src="https://c3soporte00400.cl/sg/assets/img/equipoejecutivo/ee_box01.png" alt=""></div>
  </div>
</div>

<div mdbModal #VPModal01="mdbModal" class="modal fade" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
  <div class="equipo-ejecutivo-modal-container" style="padding-top: 15px;">
    <div class="equipo-ejecutivo-modal-container-header">
      <div class="equipo-ejecuqtivo-modal-container-header-titulo">
        Miroslaw Kidon
      </div>
      <div class="equipo-ejecutivo-modal-container-header-subtitulo color-sub1">
        Gerente General
      </div>
      <i (click)="VPModal01.hide()" class="fas fa-times-circle"></i>
    </div>
    <div class="equipo-ejecutivo-modal-container-body">
      <div class="equipo-ejecutivo-modal-container-body-texto">
        Miroslaw Kidon es <b>Ingeniero en Gestión de Producción</b>, graduado en la Universidad de Tecnología
        de Zielona Góra de Polonia, e <b>Ingeniero Metalurgista</b> de la Universidad de Tecnología de Breslavia,
        Polonia. Durante los últimos <b>20 años</b>, desempeñó diversos cargos en las Plantas Concentradoras
        de KGHM en Polonia, pasando por puestos tales como <b>Jefe de Turno, Superintendente Área
        Húmeda, Jefe General, Gerente de Planta</b> y, finalmente, <b>Gerente General</b> de tres Plantas
        Concentradoras.<br><br>
        <b>Es experto en Lean Management.</b>
      </div>
    </div>
    <img src="https://c3soporte00400.cl/sg/assets/img/equipoejecutivo/miroslaw_kidon.png" alt="">
  </div>
</div>
</div>

<div mdbModal #VPModal02="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" style="max-width: 950px !important" role="document">
    <div class="equipo-ejecutivo-modal-container" style="width: 950px; padding-top: 15px;">
      <div class="equipo-ejecutivo-modal-container-header">
        <div class="equipo-ejecutivo-modal-container-header-titulo">
          Beata Choragwicka-Majstrowicz
        </div>
        <div class="equipo-ejecutivo-modal-container-header-subtitulo color-sub2">
          Vicepresidenta de Recursos Humanos
        </div>
        <i (click)="VPModal02.hide()" class="fas fa-times-circle"></i>
      </div>
      <div class="equipo-ejecutivo-modal-container-body">
        <div class="equipo-ejecutivo-modal-container-body-texto" style="max-width: 80% !important">
          Beata Choragwicka-Majstrowicz es <b>Doctora en Psicología del Trabajo</b> por la Universidad Santiago de Compostela España (USC), Magister en Desarrollo Organizacional (USC, España) y Diplomada en Relaciones Laborales por la Escuela de Negocios Mineros de la Universidad Católica del Norte (Chile). Posee más de <b>10 años de experiencia en diversas áreas de Recursos Humanos</b>, tanto en organizaciones públicas como privadas, micro y macro empresas de distintos sectores, en países como Polonia y España. Entre otros fue responsable de gestión de proyectos de RRHH de la faena minera de cobre subterránea "Rudna", perteneciente a KGHM Polska Miedź. Por su trabajo consiguió muchas distinciones en su país natal. Actualmente, desde el año 2017 es <b>responsable de la implementación de soluciones y estrategias de RRHH</b> en Minera Sierra Gorda SCM.
          <br>
          <!-- <br> -->
          <!-- <b>Beata Choragwicka-Majstrowicz</b><br/>
          <b>Vicepresidente de Recursos Humanos</b> -->
        </div>
      </div>
      <img src="https://c3soporte00400.cl/sg/assets/img/equipoejecutivo/beata.png" style="width: 28%;" alt="">
    </div>
  </div>
</div>

<div mdbModal #VPModal03="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="equipo-ejecutivo-modal-container" style="padding-top: 15px;">
      <div class="equipo-ejecutivo-modal-container-header">
        <div class="equipo-ejecutivo-modal-container-header-titulo">
          Dariusz Dulnik
        </div>
        <div class="equipo-ejecutivo-modal-container-header-subtitulo color-sub3">
          Vicepresidente de Finanzas
        </div>
        <i (click)="VPModal03.hide()" class="fas fa-times-circle"></i>
      </div>
      <div class="equipo-ejecutivo-modal-container-body">
        <div class="equipo-ejecutivo-modal-container-body-texto">
          Dariusz Dulnik es <b>Master en Economía</b>, titulado en la Universidad de Economía en Cracovia,
          Polonia. Posee estudios de posgrado en la Universidad de Wisconsin, Estados Unidos, y en la
          Escuela de Negocios INSEAD, Francia. Cuenta con <b>más de 30 años de experiencia</b> en Contabilidad,
          Finanzas Corporativas, Control, Presupuesto y Administración General. Ha trabajado para
          compañías internacionales, ejerciendo cargos de <b>CFO y CEO</b>. Se desempeña en Sierra Gorda SCM
          desde abril de 2017.
        </div>
      </div>
      <img src="https://c3soporte00400.cl/sg/assets/img/equipoejecutivo/dariusz.png" alt="">
    </div>
  </div>
</div>

<div mdbModal #VPModal04="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="equipo-ejecutivo-modal-container" style="padding-top: 15px;">
      <div class="equipo-ejecutivo-modal-container-header">
        <div class="equipo-ejecutivo-modal-container-header-titulo">
          Miguel Baeza
        </div>
        <div class="equipo-ejecutivo-modal-container-header-subtitulo color-sub4">
          Fiscal General de Asuntos Legales,<br> Corporativos y Sustentabilidad
        </div>
        <i (click)="VPModal04.hide()" class="fas fa-times-circle"></i>
      </div>
      <div class="equipo-ejecutivo-modal-container-body">
        <div class="equipo-ejecutivo-modal-container-body-texto">
          Miguel Baeza es <b>Abogado</b>, titulado en la Universidad de Chile, y Magíster en Derecho Minero y
          Políticas Mineras, graduado en la Universidad de Dundee, Escocia. Durante los últimos <b>20</b> años
          trabajó en el área legal de Rio Tinto plc, en las oficinas centrales de Londres, ejerció libremente la
          profesión desde su estudio Baeza Cía. Abogados, fue <b>Gerente Legal</b> de Minera Mantos de Oro,
          <b>Abogado Senior y Vicepresidente de Asuntos Legales</b> de Minera Kinross en Chile. Es <b>experto en
          Negociación</b> de la Universidad de Harvard, Estados Unidos.
        </div>
      </div>
      <img src="https://c3soporte00400.cl/sg/assets/img/equipoejecutivo/miguel.png" alt="">
    </div>
  </div>
</div>

<div mdbModal #VPModal05="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="equipo-ejecutivo-modal-container" style="padding-top: 15px;">
      <div class="equipo-ejecutivo-modal-container-header">
        <div class="equipo-ejecutivo-modal-container-header-titulo">
          Eric Zepeda
        </div>
        <div class="equipo-ejecutivo-modal-container-header-subtitulo color-sub5">
          Vicepresidente de Operaciones
        </div>
        <i (click)="VPModal05.hide()" class="fas fa-times-circle"></i>
      </div>
      <div class="equipo-ejecutivo-modal-container-body">
        <div class="equipo-ejecutivo-modal-container-body-texto">
          Eric Zepeda es <b>Ingeniero Civil en Minas</b> de la Universidad de La Serena, Diplomado en
          Planificación Minera en la Universidad de Chile y Diplomado en RRHH de la Universidad
          Católica de Chile. Con <b>27 años de experiencia</b>, se ha desempeñado en diversas compañías
          mineras como Minera Escondida, en la mina El Indio de Barrick Gold, y en Sierra Gorda
          SCM, como Superintendente General de Ingeniería, Gerente Mina, Gerente Planta y
          actualmente como Vicepresidente de Operaciones.
        </div>
      </div>
      <img src="https://c3soporte00400.cl/sg/assets/img/equipoejecutivo/eric.png" alt="">
    </div>
  </div>
</div>

<div mdbModal #VPModal06="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="equipo-ejecutivo-modal-container" style="padding-top: 15px;">
      <div class="equipo-ejecutivo-modal-container-header">
        <div class="equipo-ejecutivo-modal-container-header-titulo">
          Hiroki Kako
        </div>
        <div class="equipo-ejecutivo-modal-container-header-subtitulo color-sub5">
          Vicepresidente de Servicios Corporativos
        </div>
        <i (click)="VPModal06.hide()" class="fas fa-times-circle"></i>
      </div>
      <div class="equipo-ejecutivo-modal-container-body">
        <div class="equipo-ejecutivo-modal-container-body-texto">
          <!-- Hiroki es Bachiller en Comercio de la Universidad Doshisha de Japón y posee estudios en el Instituto de Español El Sol de Lima, Perú. Se ha desempeñado en Departamento de Negocios de Plomo y Zinc en Sumitomo Corporation en Japón, y en Minera San Cristobal de Bolivia, ocupó los cargos de Coordinador Corporativo en la Gerencia de Supply Chain y como Superintendente Senior Especialista para Coordinación con la Institución Internacional. -->
          Hiroki es <b>Bachiller en Comercio</b>, <b>Coordinador Corporativo</b> y <b>Superintendente</b>, posee estudios en el Instituto de Español El Sol de Lima, Perú. Se ha desempeñado en Departamento de Negocios de Plomo y Zinc en Sumitomo Corporation en Japón, y en Minera San Cristobal de Bolivia, ocupó los cargos de <b>Coordinador Corporativo</b> en la Gerencia de Supply Chain y como <b>Superintendente Senior Especialista</b> para Coordinación con la Institución Internacional.
          <br><br>
          <!-- Hiroki Kako<br/>
          Vicepresidente de Servicios Corporativos -->
        </div>
      </div>
      <img src="https://c3soporte00400.cl/sg/assets/img/equipoejecutivo/hiroki_kako.png" style="width: 37%" alt="">
    </div>
  </div>
</div>
