<div class="equipo-ejecutivo container">
  <div class="equipo-ejecutivo-titulo">
    EQUIPO EJECUTIVO
  </div>
  <div class="equipo-ejecutivo-container">
    <div (click)="VPModal01.show()" class="equipo-ejecutivo-container-box shadow-sm color-box1"><span>Gerente<br>General</span><img src="https://c3devapp.cl/sg/assets/img/equipoejecutivo/ee_box01.png" alt=""></div>
    <div (click)="VPModal02.show()" class="equipo-ejecutivo-container-box shadow-sm color-box2" ><span>VP Recursos Humanos</span><img style="opacity:0.6;" src="https://c3devapp.cl/sg/assets/img/equipoejecutivo/ee_box02.png" alt=""></div>
    <div (click)="VPModal03.show()" class="equipo-ejecutivo-container-box shadow-sm color-box3"><span>VP Finanzas</span><img src="https://c3devapp.cl/sg/assets/img/equipoejecutivo/ee_box03.png" alt=""></div>
    <div (click)="VPModal04.show()" class="equipo-ejecutivo-container-box shadow-sm color-box4"><span>VP asuntos Corporativos y Sustentabilidad</span><img src="https://c3devapp.cl/sg/assets/img/equipoejecutivo/ee_box04.png" alt=""></div>
    <div (click)="VPModal05.show()" class="equipo-ejecutivo-container-box shadow-sm color-box5"><span>VP Operaciones</span><img src="https://c3devapp.cl/sg/assets/img/equipoejecutivo/ee_box05.png" alt=""></div>
  </div>
</div>

<div mdbModal #VPModal01="mdbModal" class="modal fade" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
  <div class="equipo-ejecutivo-modal-container">
    <div class="equipo-ejecutivo-modal-container-header">
      <div class="equipo-ejecuqtivo-modal-container-header-titulo">
        Miroslaw Kidon
      </div>
      <div class="equipo-ejecutivo-modal-container-header-subtitulo color-sub1">
        Gerente General
      </div>
      <i (click)="VPModal01.hide()" class="fas fa-times-circle"></i>
    </div>
    <div class="equipo-ejecutivo-modal-container-body">
      <div class="equipo-ejecutivo-modal-container-body-texto">
        Miroslaw Kidon es <b>Ingeniero en Gestión de Producción</b>, graduado en la Universidad de Tecnología
        de Zielona Góra de Polonia, e <b>Ingeniero Metalurgista</b> de la Universidad de Tecnología de Breslavia,
        Polonia. Durante los últimos <b>20 años</b>, desempeñó diversos cargos en las Plantas Concentradoras
        de KGHM en Polonia, pasando por puestos tales como <b>Jefe de Turno, Superintendente Área
        Húmeda, Jefe General, Gerente de Planta</b> y, finalmente, <b>Gerente General</b> de tres Plantas
        Concentradoras.<br><br>
        <b>Es experto en Lean Management.</b>
      </div>
    </div>
    <img src="https://c3devapp.cl/sg/assets/img/equipoejecutivo/miroslaw_kidon.png" alt="">
  </div>
</div>
</div>

<div mdbModal #VPModal02="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="equipo-ejecutivo-modal-container">
      <div class="equipo-ejecutivo-modal-container-header">
        <div class="equipo-ejecutivo-modal-container-header-titulo">
          Beata Choragwicka-Majstrowicz
        </div>
        <div class="equipo-ejecutivo-modal-container-header-subtitulo color-sub2">
          Vicepresidenta de Recursos Humanos
        </div>
        <i (click)="VPModal02.hide()" class="fas fa-times-circle"></i>
      </div>
      <div class="equipo-ejecutivo-modal-container-body">
        <div class="equipo-ejecutivo-modal-container-body-texto">
          Beata Choragwicka-Majstrowicz es <b>Doctora en Psicología del Trabajo</b> y Master en Gestión de
          RRHH, con más de <b>9 años de experiencia</b> en diversas áreas de Recursos Humanos, tanto en
          organizaciones públicas como privadas, micro y macro empresas de distintos sectores, en países
          como Polonia y España. Ocupó el cargo de HR <b>Business Partner</b> durante 5 años en KGHM, en la
          mina subterránea Rudna de Polonia. Actualmente es responsable de la <b>implementación de
          soluciones y estrategia de RRHH</b> en Minera Sierra Gorda SCM.
        </div>
      </div>
      <img src="https://c3devapp.cl/sg/assets/img/equipoejecutivo/beata.png" alt="">
    </div>
  </div>
</div>

<div mdbModal #VPModal03="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="equipo-ejecutivo-modal-container">
      <div class="equipo-ejecutivo-modal-container-header">
        <div class="equipo-ejecutivo-modal-container-header-titulo">
          Dariusz Dulnik
        </div>
        <div class="equipo-ejecutivo-modal-container-header-subtitulo color-sub3">
          Vicepresidente de Finanzas
        </div>
        <i (click)="VPModal03.hide()" class="fas fa-times-circle"></i>
      </div>
      <div class="equipo-ejecutivo-modal-container-body">
        <div class="equipo-ejecutivo-modal-container-body-texto">
          Dariusz Dulnik es <b>Master en Economía</b>, titulado en la Universidad de Economía en Cracovia,
          Polonia. Posee estudios de posgrado en la Universidad de Wisconsin, Estados Unidos, y en la
          Escuela de Negocios INSEAD, Francia. Cuenta con <b>más de 30 años de experiencia</b> en Contabilidad,
          Finanzas Corporativas, Control, Presupuesto y Administración General. Ha trabajado para
          compañías internacionales, ejerciendo cargos de <b>CFO y CEO</b>. Se desempeña en Sierra Gorda SCM
          desde abril de 2017.
        </div>
      </div>
      <img src="https://c3devapp.cl/sg/assets/img/equipoejecutivo/dariusz.png" alt="">
    </div>
  </div>
</div>

<div mdbModal #VPModal04="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="equipo-ejecutivo-modal-container">
      <div class="equipo-ejecutivo-modal-container-header">
        <div class="equipo-ejecutivo-modal-container-header-titulo">
          Miguel Baeza
        </div>
        <div class="equipo-ejecutivo-modal-container-header-subtitulo color-sub4">
          Vicepresidente de Asuntos Corporativos <br> y Sustentabilidad
        </div>
        <i (click)="VPModal04.hide()" class="fas fa-times-circle"></i>
      </div>
      <div class="equipo-ejecutivo-modal-container-body">
        <div class="equipo-ejecutivo-modal-container-body-texto">
          Miguel Baeza es <b>Abogado</b>, titulado en la Universidad de Chile, y Magíster en Derecho Minero y
          Políticas Mineras, graduado en la Universidad de Dundee, Escocia. Durante los últimos <b>20</b> años
          trabajó en el área legal de Rio Tinto plc, en las oficinas centrales de Londres, ejerció libremente la
          profesión desde su estudio Baeza Cía. Abogados, fue <b>Gerente Legal</b> de Minera Mantos de Oro,
          <b>Abogado Senior y Vicepresidente de Asuntos Legales</b> de Minera Kinross en Chile. Es <b>experto en
          Negociación</b> de la Universidad de Harvard, Estados Unidos.
        </div>
      </div>
      <img src="https://c3devapp.cl/sg/assets/img/equipoejecutivo/miguel.png" alt="">
    </div>
  </div>
</div>

<div mdbModal #VPModal05="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="equipo-ejecutivo-modal-container">
      <div class="equipo-ejecutivo-modal-container-header">
        <div class="equipo-ejecutivo-modal-container-header-titulo">
          Eric Zepeda
        </div>
        <div class="equipo-ejecutivo-modal-container-header-subtitulo color-sub5">
          Vicepresidente de Operaciones
        </div>
        <i (click)="VPModal05.hide()" class="fas fa-times-circle"></i>
      </div>
      <div class="equipo-ejecutivo-modal-container-body">
        <div class="equipo-ejecutivo-modal-container-body-texto">
          Eric Zepeda es <b>Ingeniero Civil en Minas</b> de la Universidad de La Serena, Diplomado en
          Planificación Minera en la Universidad de Chile y Diplomado en RRHH de la Universidad
          Católica de Chile. Con <b>27 años de experiencia</b>, se ha desempeñado en diversas compañías
          mineras como Minera Escondida, en la mina El Indio de Barrick Gold, y en Sierra Gorda
          SCM, como Superintendente General de Ingeniería, Gerente Mina, Gerente Planta y
          actualmente como Vicepresidente de Operaciones.
        </div>
      </div>
      <img src="https://c3devapp.cl/sg/assets/img/equipoejecutivo/eric.png" alt="">
    </div>
  </div>
</div>
