<div class="animated fadeIn m-0 p-0">
  <div class="row m-0 content-nav">
    <span class="mr-2" routerLink="../">Operaciones</span> <span> > Gerencia PMM</span>
  </div>

  <div class="row content-description-container">
    <div class="col-lg-6 col-md-6 col-sm-12 ml-0 pl-0 content-description-content">
      <h1>Gerencia PMM</h1>
      <p>
        Departamento responsable de generar el modelo geológico y estructural del yacimiento,
        para sustentar los recursos minerales a través de la planificación, determinando las
        reservas que permitan sustentar la estrategia de negocio de la compañía, a través de
        planes mineros y geo-metalúrgicos que se desarrollan a corto, mediano y largo plazo,
        garantizando de manera óptima y consistente la operación. Además de controlar la
        estabilidad del yacimiento través de análisis geo-estructurales. Adicionalmente, su
        objetivo es maximizar el valor de la compañía, desarrollando estrategias que permitan
        asegurar que el producto final se encuentre acorde a los parámetros comprometidos,
        mediante el análisis y control de muestras de minerales para el despacho de concentrado
        a clientes.
      </p>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 ml-0 pl-0 content-description-content-english">
      <span>English Version</span>
      <p>
        Department responsible to generate the geological and structural model of the deposit, to
        sustain the mineral resources through planning, determining the reserves that will support
        the company's business strategy, through mining and geo-metallurgical plans that develop
        in short, medium and long term, guaranteeing an optimal and consistent operation. In
        addition to controlling reservoir stability through geo-structural analysis. Additionally, its

        objective is to maximize the value of the company, developing strategies to ensure that
        the final product is in accordance with the parameters committed, through the analysis
        and control of mineral samples for the shipment of concentrate to customers.
      </p>
    </div>
  </div>
</div>
