<div class="animated fadeIn m-0 p-0">
  <div class="row m-0 content-nav">
    <span class="mr-2" routerLink="../">Finanzas</span> <span> > Gerencia Contabilidad y Tesorería</span>
  </div>

  <div class="row content-description-container">
    <div class="col-lg-6 col-md-6 col-sm-12 ml-0 pl-0 content-description-content">
      <h1>Gerencia Contabilidad y Tesorería</h1>
      <p>
        Departamento responsable de la elaboración y aplicación de la gestión financiera con el
        fin de administrar la información que debe ser revelada contablemente de forma
        oportuna, efectiva y eficiente de acuerdo a las normas contables y políticas de SG SCM.
        Además, generan análisis de los procedimientos contables y gestión de control, realizan la
        reportabilidad tanto interna como externa, financiera y de gestión, cooperando con las
        auditorias solicitadas. Así también, deben mantener el control de las operaciones de
        Tesorería, resguardar el pago oportuno de todas las deudas comprometidas de la
        compañía, considerando el menor riesgo posible para la misma. Gestionar las inversiones
        y las garantías financieras en la forma oportuna, efectiva y eficiente de acuerdo a las
        normas financieras.
      </p>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 ml-0 pl-0 content-description-content-english">
      <span>English Version</span>
      <p>
        Department responsible for the preparation and application of financial management in
        order to manage the information that must be disclosed in a timely, effective and efficient
        manner in accordance with SG SCM's accounting and policy rules. In addition, they
        generate analysis of accounting procedures and control management, perform internal
        and external reporting, financial and management, cooperating with the audits requested.
        Likewise, they must maintain control of Treasury operations, safeguard the timely
        payment of all the company's committed debts, considering the lowest possible risk for
        the same. Manage investments and financial guarantees in a timely, effective and efficient
        manner according to financial rules.
      </p>
    </div>
  </div>
</div>
