<app-navbar-ext></app-navbar-ext>
<br>
<div style="height: 50px"></div>
<app-links></app-links>

<div class="container">
  <div class="row m-0 p-0"> <!-- Header -->
    <div class="col-12 p-0 animated fadeInLeft">
      <h1 class="desafio-title">
        Gestión de Desempeño
      </h1>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-8 p-0 animated fadeInLeft">
      <div class="desafio-info">
        <p class="desafio-info-text">
          Porque que juntos y comprometidos hacemos la diferencia, aquí podrás ingresar a nuestra plataforma del Desempeño, donde podrás alinear nuestros objetivos, completar tus convenios, ver avances y mucho más.<br/><br/>Recuerda que estos procesos, son claves para que juntos sigamos haciendo de SG SCM, una empresa líder en minería de baja ley.
        </p>
      </div>
    </div>
    <div class="col-lg-4 d-flex align-items-center justify-content-center">
      <!-- <img src="https://c3soporte00400.cl/sg/assets/img/desafio-austeridad/Casco.png" alt="" style="width: 200px"> -->
      <img src="https://c3soporte00400.cl/sg/assets/img/Logo_Evaluacion_Desempeno.png" alt="Imagen_Gestion_de_Desempenio" style="width: 290px">
    </div>
  </div>
</div>


<app-footer-s></app-footer-s>
