.navbar {
  box-shadow: none !important;
}

.user-pic {
  width: 50px;
  height: 50px;
  margin-left: -0.8em;
  position: absolute;
  margin-top: -0.9em;
  z-index: 112
}

.theme-banner {
  background-image: url('/assets/img/header.png') !important;
}

.absolute {
  position: absolute
}

.user-grettings {
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  font-size: 12pt !important;
  font-weight: 500;
  padding: .3em;
  padding-left: 1.2em;
  padding-right: 2em;
  border-radius: 20px 5px 5px 20px;
  font-size: 10pt;
  color: rgb(87, 87, 87)

}

.bold {
  font-weight: 900 !important;
  color: rgb(87, 87, 87)
}

#user-hover-menu {
  // Posicionamiento
  position: absolute;
  // float: left;
  right: 8%;
  top: 43%;
  width: 27%;
  height: 285%;
  border-radius: 10px;
  background-color: white;
  z-index: 111;

  visibility: hidden;

  .header {
    width: 100%;
    p {
      // float: left;
      text-align: left;
      font-weight: 700;
      margin-left: 15px;
      margin-top: 10px;
      color: #868686
    }
  }

  .content-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
      width: 90%;
    }

    input {
      font-family: Calibri;
      width: 100%;
      height: 25px;
      border-radius: 10px;
      background-color: #EBEDF0;
      border: none;
      padding-left: 10px;
      font-size: 14pt;
    }

    input:disabled {
      cursor: not-allowed;
      pointer-events: inherit !important;
      font-weight: 500;
      font-style: italic;
    }

    img {
      position: absolute;
      width: 20px;
      height: 20px;
      margin-top: 2px;
      margin-left: -23px;
    }

    .edit-button {
      position: absolute;
      width: 20px;
      height: 20px;
      margin-top: 2px;
      margin-left: -24px;
      background-color: #00ADBA;
      border-radius: 15px;
    }

    .i-edit {
      color: white;
      font-size: 9pt;
      margin-left: 4.1px;
      margin-top: 4.3px;
      position: absolute;
    }

    .label {
      color: #FF6A02;
      font-size: 12pt;
      font-weight: 600;
    }

    .input-label {
      @extend .label;
    }
  }
}

@media only screen and (max-width: 1366px) {
  #user-hover-menu {
    right:  8% !important;
  }
}

@media only screen and (max-width: 1920px) and (min-width: 1367px) {
  #user-hover-menu {
    right:  13% !important;
  }
}

.btn-login {
  background-color: #FF6A02;
  color: white;
  border-radius: 20pt;
}
