.navbar {
  box-shadow: none !important;
}

.user-pic {
  width: 50px;
  height: 50px;
  margin-left: -0.8em;
  position: absolute;
  margin-top: -0.9em;
  z-index: 112
}

.theme-banner {
  background-image: url('/assets/img/header.png') !important;
}

.absolute {
  position: absolute
}

.user-grettings {
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  font-size: 12pt !important;
  font-weight: 500;
  padding: .3em;
  padding-left: 1.2em;
  padding-right: 2em;
  border-radius: 20px 5px 5px 20px;
  font-size: 10pt;
  color: rgb(87, 87, 87)

}

.bold {
  font-weight: 900 !important;
  color: rgb(87, 87, 87)
}

#user-hover-menu {
  // Posicionamiento
  position: absolute;
  right: 8%;
  top: 43%;
  width: 27%;
  height: 285%;
  border-radius: 10px;
  background-color: white;
  z-index: 111;

  // visibility: hidden;

  .header {
    width: 100%;
    span {
      float: left;
      text-align: left;
      font-weight: 700;
      margin-left: 15px;
      margin-top: 10px;
      color: #868686
    }
  }
}
