.navbar {
  box-shadow: none !important;
}

.user-pic {
  width: 10%;
  margin-left: .5em;
}

.theme-banner {
  background-image: url('/assets/img/header.png') !important;
}

.absolute {
  position: absolute
}

.user-grettings {
  background-color: white;
  padding: .3em;
  border-radius: 20px 5px 5px 20px;
  font-size: 10pt;
}
