<div class="animated fadeIn m-0 p-0">
  <div class="row m-0 content-nav">
    <span class="mr-2" routerLink="../">Gerencia General</span> <span> > Gerencia Salud, Seguridad y Medio Ambiente</span>
  </div>

  <div class="row content-description-container">
    <div class="col-lg-6 col-md-6 col-sm-12 ml-0 pl-0 content-description-content">
      <h1>Gerencia Salud, Seguridad y Medio Ambiente</h1>
      <p>
        Departamento responsable del resguardo, control y difusión de las políticas de Seguridad,
        Salud y Medio Ambiente por las cuales deben velar su cumplimiento a cabalidad. Además,
        deben mantener relaciones con autoridades e instituciones a nivel comunal, provincia y
        nacional en temas relacionados con su Gestión. El área debe gestionar los planes,
        procesos y programas tendientes al cumplimiento de metas y objetivos en temas de
        seguridad, salud y medio ambiente según los requerimientos de las distintas áreas
        operativas de la Compañía y empresas colaboradoras.
      </p>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 ml-0 pl-0 content-description-content-english">
      <span>English Version</span>
      <p>
        Department responsible for the safeguarding, control and information distribution of the
        policies of Safety, Health and Environment for which they must ensure their compliance
        fully. In addition, it's responsible of maintain relationships with authorities and institutions
        at the community, provincial and national levels in matters related to the Management.
        The area must manage the plans, processes and programs tending to the fulfillment of
        goals and objectives in matters of safety, health and environment according to the
        requirements of the different areas of the Company and collaborating companies.
      </p>
    </div>
  </div>
</div>
