<div class="container">
  <div class="reporte-titulo">
    <!-- <div class="reporte-titulo-volver">
      <i class="fas fa-chevron-circle-left" [routerLink]="['/reporte']"></i>
    </div> -->
    <div class="reporte-titulo-nombre">
      <h1>Reporte de Sustentabilidad</h1>
    </div>
  </div>
  <div class="reporte-container">
    <div>
      <div class="reporte-container-button animated fadeIn">
        <img src="https://c3soporte00400.cl/sg/uploads/reportes/IMAGEN_REPORTE_SUST.png" style="width: 170px; border-radius: 50%;" alt="">
      </div>
    </div>
  </div>
  <div class="reporte-container">
    <a class="reporte-container-downloadButton" href="https://c3soporte00400.cl/sg/uploads/reportes/VB_Interior_Reporte_Sostenibilidad_SG_2018_19 julio.pdf" target="_blank" download>
      Versión Español
    </a>
    <a class="reporte-container-downloadButton" href="https://c3soporte00400.cl/sg/uploads/reportes/VB_Inside_Sustainability_Report_SG_2018_19 julio.pdf" target="_blank" download>
      English Version
    </a>
  </div>
</div>
