<img src="https://c3soporte00400.cl/sg/assets/img/Header_Interiores.png" alt="" class="absolute w-100  animated fadeInDownBig" draggable="false" style="z-index: -1">
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light theme-banner darken-1 shadow-none pt-4">
  <!-- Navbar brand -->
  <mdb-navbar-brand class="no-select"
    ><a class="navbar-brand" class="ml-2 pl-2 mt-4 no-select" routerLink="/">
      <img
        class="img-fluid mt-4 no-select"
        src="https://c3soporte00400.cl/sg/assets/img/logo_SG.png"
        style="width: 180px"
        draggable="false"
        alt=""
      /> </a
  ></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <!-- <ul class="navbar-nav ml-auto"></ul> -->
    <!-- Links -->
    <div class="ml-auto ">
      <div (mouseover)="onNameHover(true)" (mouseleave)="onNameHover(false)" *ngIf="ls.isLoggedIn()">
        <span class="user-grettings" (mouseover)="onNameHover(true)">¡Hola! <span class="bold" (mouseover)="onNameHover(true)">{{this.ls.userLogged?.primer_nombre_usuario}}</span></span>

        <ng-container *ngIf="ls.userLogged">
          <img
            (mouseover)="onNameHover(true)"
            src="https://c3soporte00400.cl/sg/assets/img/reconozco/cara.png"
            alt=""
            *ngIf="!ls.userLogged.img_perfil_usuario"
            class="img-thumbnail rounded-circle user-pic"
          />
          <img
            (mouseover)="onNameHover(true)"
            [src]="ls.userLogged.img_perfil_usuario"
            alt=""
            *ngIf="ls.userLogged.img_perfil_usuario"
            class="img-thumbnail rounded-circle user-pic"
          />
        </ng-container>
        <div id="user-hover-menu" class="shadow"  *ngIf="ls.isLoggedIn()">
            <div class="header">
              <p> {{ this.ls.userLogged?.primer_nombre_usuario }} {{ this.ls.userLogged?.apellido_pat_usuario }} {{ this.ls.userLogged?.apellido_mat_usuario != null? this.ls.userLogged?.apellido_mat_usuario : '' }} </p>
            </div>
            <div class="content-form">
              <div>
                <button
                  type="submit"
                  (click)="editInfo()"
                  class="btn btn-iniciar ml-2"
                >
                  Editar información
                </button>
                <button
                  type="submit"
                  (click)="ls.logout()"
                  class="btn btn-iniciar ml-2 mt-2"
                  style="padding: 15px 22px 15px 50px;"
                >
                  Cerrar Sesión <i class="fas fa-sign-out-alt ml-4"></i>
                </button>
              </div>
              <!-- <div class="mt-4 text-right">
                <a class="input-label" style="text-decoration: underline" (click)="ls.logout()">Cerrar Sesión <i class="fas fa-sign-out-alt"></i></a>
              </div> -->
            </div>
        </div>
      </div>
      <div (click)="openModal(0)" *ngIf="!ls.isLoggedIn()">
          <span class="user-grettings">Iniciar Sesión</span>
          <img
            src="https://c3soporte00400.cl/sg/assets/img/reconozco/cara.png"
            alt=""
            class="img-thumbnail rounded-circle user-pic"
          />
        </div>
    </div>
  </links>
  <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->

