<div class="animated fadeIn m-0 p-0">
  <div class="row m-0 content-nav">
    <span class="mr-2" routerLink="../">Recursos Humanos</span> <span> > Gerencia Recursos Humanos</span>
  </div>

  <div class="row content-description-container">
    <div class="col-lg-6 col-md-6 col-sm-12 ml-0 pl-0 content-description-content">
      <h1>Gerencia Recursos Humanos</h1>
      <p>
        Departamento responsable de desarrollar estrategias, políticas y procesos que garanticen
        la atracción, desarrollo y retención del talento requerido por la compañía. Además, debe
        resguardar la satisfacción y calidad de vida de los trabajadores de la compañía y de
        empresas colaboradoras. También debe procurar las mínimas dificultades en temas
        transaccionales para la tranquilidad del personal que cumple funciones en SG SCM.
        Responsable de la gestión de Relaciones laborales con el personal propio y asegurar el
        cumplimiento legal laboral de las empresas contratistas.
      </p>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 ml-0 pl-0 content-description-content-english">
      <span>English Version</span>
      <p>
        Department responsible for developing strategies, policies and processes that guarantee
        the attraction, development and retention of the talent required by the company. In
        addition, it must safeguard the satisfaction and quality of life of the workers of the
        company and of collaborating companies. It must also seek the minimum difficulties in
        transactional issues for the peace of the personnel that perform functions in SG SCM.
        Responsible for the management of labor relations with their own staff and ensure legal
        labor compliance of contractor companies.
      </p>
    </div>
  </div>
</div>
