:root {
  --orange: #ff5900;
  --orange-50: #ff590080;
  --strongOrange: #de481e;
  --lightBlue: #4ba6de;
  --darkBlueSG: #00A5B6;
  --blueSG: #3fbac5;
  --blueSG-80: #3ebac5cc;
  --blueSG-40: #3ebac566;
  --blueSG-20: #3fbac533;
  --calipso: #4dc2b3;
  --calipso-80: #4dc2b3cc;
  --darkCalipso: #3a9e91;
  --darkblue: #214083;
  --green: #109147;
  --yellow: #FCD902;
  --orangestar: #ED5624;
  --redestar: #DE1E26;
}

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,500,500i,600,700,800,900');
@import "~@ctrl/ngx-emoji-mart/picker";

body {
  font-family: 'Montserrat' !important;
}

strong {
  font-weight: bolder !important;
}

img {
  @extend .no-select;
}

// Scroll Bar
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px #ccc; */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #F27137;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff661f;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

html{ height:100%; max-width: 100%;}
body{ min-height:100%; padding:0; margin:0; position:relative; }

// body::after{ content:''; display:block; height:100px; }

footer{
  position:absolute;
  bottom:0;
  right: 0;
  width:100%;
  height:186px;
}

.orange-tooltip {
  background-color: #F27137;
}

html.noscroll {
  // position: fixed;
  overflow-y: hidden;
  width: 100%;
}

video:focus {
    outline: none !important;
}

#masterslider2 .ms-container .ms-inner-controls-cont .ms-view {
  border-radius: 12px !important;
  padding-top: 5px;
  padding-bottom: 10px;
  // box-shadow: .1em 0.2rem .5rem rgba(0, 0, 0, 0.15) !important;
}

#masterslider2 .ms-container .ms-inner-controls-cont .ms-view .ms-slide{
  // border-radius: 12px !important;
  box-shadow: .1em 0.2rem .5rem rgba(0, 0, 0, 0.15) !important;
}

#masterslider .ms-container .ms-inner-controls-cont .ms-view {
  border-radius: 12px !important;
  padding-top: 5px;
  padding-bottom: 10px;
  // box-shadow: .1em 0.2rem .5rem rgba(0, 0, 0, 0.15) !important;
}

#masterslider .ms-container .ms-inner-controls-cont .ms-view .ms-slide-bgcont{
  border-radius: 12px !important;
  box-shadow: .1em 0.2rem .5rem rgba(0, 0, 0, 0.15) !important;
}

#persaSlider .ms-container .ms-inner-controls-cont .ms-view {
  border-radius: 12px !important;
  padding-top: 5px;
  padding-bottom: 10px;
  // box-shadow: .1em 0.2rem .5rem rgba(0, 0, 0, 0.15) !important;
}

#persaSlider .ms-container .ms-inner-controls-cont .ms-view .ms-slide-bgcont{
  border-radius: 12px !important;
  box-shadow: .1em 0.2rem .5rem rgba(0, 0, 0, 0.15) !important;
}

#persaSlider {
  .ms-skin-default .ms-nav-next {
    background: url("https://c3devapp.cl/sg/assets/img/f1_der.png") !important;
    background-repeat: no-repeat !important;
    z-index: 7;
  }

  .ms-skin-default .ms-nav-prev {
    background: url("https://c3devapp.cl/sg/assets/img/f1_izq.png") !important;
    background-repeat: no-repeat !important;
    z-index: 7;
  }

  @media only screen and (min-width: 1024px) {
    .ms-skin-default .ms-nav-next {
      right: -90px !important;
      left: auto;
      background: url("https://c3devapp.cl/sg/assets/img/f1_der.png") !important;
      background-repeat: no-repeat !important;
    }

    .ms-skin-default .ms-nav-prev {
      left: -90px !important;
      right: auto;
      background: url("https://c3devapp.cl/sg/assets/img/f1_izq.png") !important;
      background-repeat: no-repeat !important;
    }
  }
}

input:focus{
  outline: none !important;
}

.no-select {
  user-drag: none;
  -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

.jsCalendar tbody td.jsCalendar-colorful-orange {
  background-color: #ffab77;
  border-color: #ffab77;
	color: #fff !important;
	border:none;
}

.snackbar-login {
  background-color: #F27137;
  color: white;
  font-weight: 500;
  margin: 35px !important;
  padding: 16px 17px !important;
  border-radius: 5px;
  z-index: 1051 !important;
  &-err {
    background-color: rgb(204, 65, 0)
  }
}

// Modals margins and width

.loginModal-container {
  justify-content: center;
  .modal-content {
    max-width: 400px !important;
    background-color: white;
    border-radius: 10px !important
  }
}

.poll-modal-container {
  max-width: 60% !important;
  .modal-content {
    background-color: #00c0cb;
    border-radius: 15px !important;
  }
}

.persaModal-container {
  justify-content: center;
  max-width: 780px !important;

  .modal-content {
    max-width: 100% !important;
    padding: 15px;
    background-color: var(--blueSG);
    border-radius: 10px !important
  }
}

@media only screen and (max-width: 420px) and (min-width: 320px) {
  .persaModal-container {
    margin-right: 20px;

  }
}
