/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,500,500i,600,700,800,900');
@import "~@ctrl/ngx-emoji-mart/picker";

body {
  font-family: 'Montserrat' !important;
}

strong {
  font-weight: bolder !important;
}

// Scroll Bar
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px #ccc; */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #F27137;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff661f;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.orange-tooltip {
  background-color: #F27137;
}

html.noscroll {
  // position: fixed;
  overflow-y: hidden;
  width: 100%;
}

#masterslider2 .ms-container .ms-inner-controls-cont .ms-view {
  border-radius: 12px !important;
  // box-shadow: .1em 0.2rem .5rem rgba(0, 0, 0, 0.15) !important;
}

#masterslider .ms-container .ms-inner-controls-cont .ms-view {
  border-radius: 12px !important;
  padding-top: 5px;
  padding-bottom: 10px;
  // box-shadow: .1em 0.2rem .5rem rgba(0, 0, 0, 0.15) !important;
}

#masterslider .ms-container .ms-inner-controls-cont .ms-view .ms-slide-bgcont{
  border-radius: 12px !important;
  box-shadow: .1em 0.2rem .5rem rgba(0, 0, 0, 0.15) !important;
}

input:focus{
  outline: none !important;
}

.noselect {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
