<div class="animated fadeIn m-0 p-0">
  <div class="row m-0 content-nav">
    <span class="mr-2" routerLink="../">Operaciones</span> <span> > Gerencia Planta</span>
  </div>

  <div class="row content-description-container">
    <div class="col-lg-6 col-md-6 col-sm-12 ml-0 pl-0 content-description-content">
      <h1>Gerencia Planta</h1>
      <p>
        Departamento responsable de establecer, ejecutar y controlar el cumplimiento de la
        estrategia operacional que permita cumplir con la generación de los productos
        comerciales de SG, es decir, concentrado de cobre y concentrado de molibdeno, usando
        adecuadamente los recursos comprometidos y maximizando la utilización de los equipos
        en cada operación unitaria del proceso productivo.
      </p>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 ml-0 pl-0 content-description-content-english">
      <span>English Version</span>
      <p>
        Department responsible for establishing, executing and control the compliance of the
        operational strategy that allows to comply with the generation of the commercial
        products of SG, that is, copper concentrate and molybdenum concentrate, using properly
        the resources committed and maximizing the use of the equipment in each unitary
        operation of the productive process.
      </p>
    </div>
  </div>
</div>
