<div class="animated fadeIn m-0 p-0">
  <div class="row m-0 content-nav">
    <span class="mr-2" routerLink="../">Servicios Corporativos</span> <span> > Gerencia Supply Chain</span>
  </div>

  <div class="row content-description-container">
    <div class="col-lg-6 col-md-6 col-sm-12 ml-0 pl-0 content-description-content">
      <h1>Gerencia Supply Chain</h1>
      <p>
        Departamento responsable de establecer e implementar las estrategias de
        abastecimiento, maximizando las utilidades a nuestros inversionistas, contribuyendo a la
        optimización de la productividad y costos, a través de procesos de abastecimiento
        basados en calidad, precio/productividad, tiempo y seguridad. Realizando alianzas
        estratégicas con proveedores y trabajando en conjunto con el área de operaciones. Las
        principales responsabilidad son compras y contratos menores a 1MUS$, logística de
        entrada, logística de salida para producto terminado, bodegas, manejo inventario,
        administración contratos de suministros estratégicos, Comercio Exterior y venta de scrap.
      </p>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 ml-0 pl-0 content-description-content-english">
      <span>English Version</span>
      <p>
        Department responsible for establishing and implementing supply strategies, maximizing
        profits to our investors, contributing to the optimization of productivity and costs, through
        supply processes based on quality, price / productivity, time and safety. Making strategic
        alliances with suppliers and working in conjunction with the operations area.
        The main responsibilities are purchases and contracts of less than $ 1 MUSD, entry
        logistics, exit logistics for finished products, warehouses, inventory management,
        administration of strategic supply contracts, foreign trade and scrap sales.
      </p>
    </div>
  </div>
</div>
