<div class="beneficios-categorias-header">
    <div class="beneficios-categorias-header-titulo">
        <div class="beneficios-categorias-header-titulo-boton">
            <i class="fas fa-chevron-circle-left" [routerLink]="['/beneficios']"></i>
        </div>
        <div class="beneficios-categorias-header-titulo-nombre">Convenios</div>
    </div>
</div>
<div class="convenio">
    <ng-container *ngIf="bs.listaBeneficiosCat">
        <div class="convenio-container">
            <div class="convenio-container-left">
                <ng-container *ngFor="let beneficio of bs.listaBeneficiosCat">
                    <div class="convenio-container-boton shadow" routerLink="{{beneficio.id_beneficios}}">
                        <div class="convenio-container-boton-flecha">
                            <i class="fas fa-chevron-circle-right"></i>
                        </div>
                        <div class="convenio-container-boton-nombre">
                            {{ beneficio.titulo_beneficio }}
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="convenio-container-right">
                <img src="https://c3soporte00400.cl/sg/assets/img/Beneficios/Convenio_Lista.png" alt="">
            </div>
        </div>
    </ng-container>
</div>
