<div class="content-list-container animated fadeIn">
  <div class="content-list-item">
    <h6>Gerencia Impuestos</h6>                               <a [routerLink]="['/nuestra-empresa/gerencia/finanzas/gerencia-impuestos']">Ver más...</a>
  </div>
  <div class="content-list-item">
    <h6>Gerencia Mejoramientos del Negocio</h6>               <a [routerLink]="['/nuestra-empresa/gerencia/finanzas/gerencia-mej-negocio']">Ver más...</a>
  </div>
  <div class="content-list-item">
    <h6>Gerencia Contabilidad  y Tesorería</h6>               <a [routerLink]="['/nuestra-empresa/gerencia/finanzas/gerencia-contabilidad-tesoreria']">Ver más...</a>
  </div>
  <div class="content-list-item">
    <h6>Gerencia Informática</h6>                             <a [routerLink]="['/nuestra-empresa/gerencia/finanzas/gerencia-informatica']">Ver más...</a>
  </div>
</div>
