.card-chat {
  background-color: white;
  border-radius: 5px;
  padding: .4em;
  padding-left: .8em;
  margin: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
}

.user-remitent {
  font-size: 11pt;
  font-weight: 500 !important;
  color: #5a5a5a;
  width: auto;
}
.card-extras {
  float: right !important;
  width: auto;
}
